Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

update lockfile
  pixi.lock
Due: none

Add AEO 2026 (2025 projections) (#5198)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  pixi.lock
  src/pudl/extract/eiaaeo.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eiaaeo.py
Due: sort-row-counts

Update pixi lockfiles and skills-lock
  pixi.lock
  skills-lock.json
Due: none

docs: remove confusing docs about pudl.dagster - you don't need to know more than 'this is the dang dagster related namespace'
  src/pudl/dagster/__init__.py
Due: none

chore: clean up remaining top-level pudl imports
  src/pudl/dagster/assets/__init__.py
  src/pudl/transform/eia860.py
Due: none

Update docs & release notes
  docs/dev/run_the_etl.rst
  docs/dev/troubleshooting_dagster.rst
  docs/release_notes.rst
Due: none

Remove pudl_data_config and ferc_to_sqlite_data_config fixtures
  tests/conftest.py
  tests/integration/extract/ferc_dbf_extract_test.py
  tests/integration/extract/ferc_xbrl_extract_test.py
  tests/unit/settings_test.py
Due: none

chore: remove deprecated FERC extraction debug code.
  devtools/debug-ferc1-etl.ipynb
  docs/release_notes.rst
  src/pudl/extract/ferc1.py
Due: nb-output-clear

Fix merge markers I missed
  tests/integration/extract/ferc_xbrl_extract_test.py
Due: none

Remove obsolete ferc1_test.py module
  tests/integration/extract/ferc1_test.py
Due: none

chore: remove deprecated FERC extraction debug code. (#5205)
  devtools/debug-ferc1-etl.ipynb
  docs/release_notes.rst
  src/pudl/extract/ferc1.py
  tests/integration/extract/ferc1_test.py
Due: nb-output-clear

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

Pring pixi.lock from main
  pixi.lock
Due: none

Replace facility-type values with schema constraints
  src/pudl/transform/eia176.py
Due: none

Update validation code
  src/pudl/metadata/fields.py
  src/pudl/transform/eia176.py
Due: none

update extractor version
  pixi.lock
  pyproject.toml
Due: conda-lock

update pixi
  pixi.lock
Due: none

add release notes
  docs/release_notes.rst
Due: none

try again w/ pixi
  pixi.lock
Due: none

Apply suggestions from code review
  pyproject.toml
Due: conda-lock

Integrate new version of ferc_xbrl_extractor to export parquet (#5232)
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/extract/xbrl.py
  tests/unit/extract/xbrl_test.py
Due: conda-lock

Increase priority of root ferc1/ferc714 assets.
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
Due: none

test: fix import error in unit test
  tests/unit/validate/dbt_schema_drift_test.py
Due: none

test: round-trip test didn't test model round-trip.
  dbt/schema_inputs/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/schema.human.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.human.yml
  tests/integration/dbt_schema_round_trip_test.py
Due: none

Rip out swarf; add docstring stubs
  tests/integration/dbt_schema_round_trip_test.py
  tests/unit/dbt_schema_test.py
  tests/unit/validate/dbt_helper_test.py
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
