Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

integrate pr comments and rename
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  migrations/versions/e7c433fdf3cb_add_new_cems_derived_table.py
  src/pudl/analysis/__init__.py
  src/pudl/analysis/operational_characteristics.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epacems.py
Due: none

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: none

Fix bad link and pytest name change (#5469)
  .github/pull_request_template.md
  docs/dev/existing_data_updates.rst
  docs/dev/nightly_data_builds.rst
Due: none

Sort states for out_epacems__yearly_operational_characteristics
  src/pudl/analysis/operational_characteristics.py
Due: none

Fix types and dead code in operational_characteristics module
  src/pudl/analysis/operational_characteristics.py
Due: none

Update dbt data tests for out_epacems__yearly_operational_characteristics
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Q3 2026 eia923 860m update (#5468)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eia923.py
Due: sort-row-counts

Add 1/min units; tag op_chars asset high memory
  src/pudl/analysis/operational_characteristics.py
  src/pudl/metadata/fields.py
Due: none

Remove op_chars work-in-progress scripts, notebook, csv
  notebooks/work-in-progress/derived_plant_char/debug_op_char.ipynb
  notebooks/work-in-progress/derived_plant_char/epa_op_char_output_df.csv
  notebooks/work-in-progress/derived_plant_char/jaxon_script.ipynb
Due: nb-output-clear

Remove commented out block of op-char adjusted code
  src/pudl/analysis/operational_characteristics.py
Due: none

Update CEMS row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Readd national-level adjustment note to description, streamline dbt tests
  dbt/models/eia176/core_eia176__yearly_company_characteristics/schema.yml
  dbt/schema_inputs/eia176/core_eia176__yearly_company_characteristics/schema.human.yml
  src/pudl/metadata/resources/eia176.py
Due: none

Add release note for new op-chars table
  docs/release_notes.rst
Due: none

2026Q3 release: DOI refresh (#5464)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/scripts/update_zenodo_dois.py
Due: sort-row-counts

Make CEMS operational characteristics window quarter-based
  src/pudl/analysis/operational_characteristics.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/package_data/settings/dg_fast.yml
  src/pudl/package_data/settings/dg_full.yml
  src/pudl/package_data/settings/dg_nightly.yml
  src/pudl/package_data/settings/dg_pytest.yml
Due: none

Disable some op-chars dbt validations for etl-fast
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
Due: none

Add unit tests for operational_characteristics module
  src/pudl/analysis/operational_characteristics.py
  tests/unit/analysis/operational_characteristics_test.py
Due: none

Update row counts (#5472)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Add an operational characteristics methodology page
  docs/methodology/index.rst
  docs/methodology/operational_characteristics.rst
Due: none

Inline op-chars config in asset decorator
  src/pudl/analysis/operational_characteristics.py
Due: none

Remove reference to no longer available script
  src/pudl/analysis/operational_characteristics.py
Due: none

Close out v2026.8.0 release notes; fix SEC 10-K row-count issue
  CITATION.cff
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/schema_inputs/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.human.yml
  docs/release_notes.rst
Due: none

Try to exclude bot PRs from generated release notes on GitHub
  .github/release.yml
Due: none

Close out release notes for PUDL v2026.8.0 (#5475)
  .github/release.yml
  CITATION.cff
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/schema_inputs/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.human.yml
  docs/release_notes.rst
Due: none

Update pre-commit typos hook to use mirror
  .pre-commit-config.yaml
Due: none

Add version v2026.8.0 to available_versions.json
  available_versions.json
Due: none

Hold all objects in versioned release paths, not just the top level
  .github/workflows/deploy-pudl.yml
  docs/release_notes.rst
  pyproject.toml
  src/pudl/deploy/pudl.py
  src/pudl/scripts/pudl_deploy.py
Due: conda-lock

Fix PR number in post-v2026.8.0 release notes
  docs/release_notes.rst
Due: none

Find GCP billing project using storage client if envvar is not set
  src/pudl/deploy/pudl.py
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Automate pinned Docker base image updates
  .devcontainer/Dockerfile
  .github/dependabot.yml
  .github/workflows/update-lockfiles.yml
  builds/Dockerfile
  devtools/update_docker_pins.sh
Due: none

Update src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/epacems.py
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
