Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Move envvar control of generated files over to agent skills PR.
  docs/conf.py
Due: none

Split pudl and pudl-dev agent skills
  .github/agents/pudl-cat.agent.md
  .github/skills/code-quality/SKILL.md
  .github/skills/dbt/SKILL.md
  .github/skills/pudl-dev/SKILL.md
  .github/skills/pudl-dev/references/dagster-and-assets.md
  .github/skills/pudl-dev/references/data-access-and-outputs.md
  .github/skills/pudl-dev/references/data-sources-and-dictionaries.md
  .github/skills/pudl-dev/references/generated-docs-and-metadata-querying.md
  .github/skills/pudl-dev/references/id-mapping-and-entity-linkages.md
  .github/skills/pudl-dev/references/metadata-and-schema.md
  .github/skills/pudl-dev/references/methodology-and-analytics.md
  .github/skills/pudl-dev/references/testing-and-validation.md
  .github/skills/pudl/SKILL.md
  .github/skills/pudl/references/data-access-and-outputs.md
  .github/skills/pudl/references/data-sources-dictionaries-and-methodology.md
  .github/skills/pudl/references/metadata-and-querying.md
  .github/skills/pytest/SKILL.md
Due: none

Rename pudl-data-access skill to pudl
  .github/skills/pudl/SKILL.md
  docs/release_notes.rst
Due: none

Add pudl-dev skill distilled from our docs.
  .github/skills/pudl-dev/SKILL.md
  .github/skills/pudl-dev/references/contributor-workflow.md
  .github/skills/pudl-dev/references/dagster-and-assets.md
  .github/skills/pudl-dev/references/data-access-and-outputs.md
  .github/skills/pudl-dev/references/data-sources-and-dictionaries.md
  .github/skills/pudl-dev/references/datapackage.schema.json
  .github/skills/pudl-dev/references/dev-setup-and-etl.md
  .github/skills/pudl-dev/references/docs-generation-traceability.md
  .github/skills/pudl-dev/references/generated-docs-and-metadata-querying.md
  .github/skills/pudl-dev/references/id-mapping-and-entity-linkages.md
  .github/skills/pudl-dev/references/metadata-and-schema.md
  .github/skills/pudl-dev/references/methodology-and-analytics.md
  .github/skills/pudl-dev/references/releases-and-operations.md
  .github/skills/pudl-dev/references/testing-and-validation.md
  .pre-commit-config.yaml
  pyproject.toml
Due: conda-lock

Pin python-duckdb<1.5 to avoid GEOMETRY issue.
  pixi.lock
  pyproject.toml
Due: conda-lock

Get Dagster's dg CLI working in the PUDL repo.
  .github/workflows/build-deploy-docs.yml
  .github/workflows/pytest.yml
  .readthedocs.yaml
  docs/dev/build_docs.rst
  docs/dev/run_the_etl.rst
  pixi.lock
  pyproject.toml
  src/pudl/definitions.py
  src/pudl/defs/__init__.py
Due: conda-lock

Remove non-dg CLI related edits from checked in files.
  .github/workflows/build-deploy-docs.yml
  .readthedocs.yaml
  docs/dev/build_docs.rst
  docs/dev/run_the_etl.rst
Due: none

Condense dg quickstart
  docs/dev/run_the_etl.rst
Due: none

Add missing end-quotes
  .github/workflows/pytest.yml
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Fix bad link to dg CLI reference documentation.
  docs/dev/run_the_etl.rst
Due: none

Fix ref with leading underscore ugh
  docs/release_notes.rst
Due: none

Add RUS output tables
  src/pudl/etl/__init__.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/output/__init__.py
  src/pudl/output/rus.py
  src/pudl/transform/rus7.py
Due: none

fix borrower table name
  src/pudl/output/rus.py
Due: none

Add back some tables that weirdly got dropped
  src/pudl/transform/rus12.py
Due: none

Remove dupe schema file
  dbt/models/rus7/core_rus7__yearly_loans/schema 2.yml
Due: none

Improve units standardization in fields.py
  src/pudl/metadata/fields.py
Due: none

Update docs/release_notes.rst
  docs/release_notes.rst
Due: none

Clarify comment and reflow docstring
  src/pudl/transform/eia923.py
Due: none

Move appendable_eia860m_tables into multi-asset instead of external constant
  src/pudl/extract/eia860.py
Due: none

convert to sql tables with metadata and such
  dbt/models/rus12/out_rus12__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus12/out_rus12__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus12/out_rus12__yearly_lines_stations_labor_materials_cost/schema.yml
  dbt/models/rus12/out_rus12__yearly_loans/schema.yml
  dbt/models/rus12/out_rus12__yearly_long_term_debt/schema.yml
  dbt/models/rus12/out_rus12__yearly_meeting_and_board/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_labor/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_operations_by_borrower/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_operations_by_plant/schema.yml
  dbt/models/rus12/out_rus12__yearly_renewable_plants/schema.yml
  dbt/models/rus12/out_rus12__yearly_sources_and_distribution/schema.yml
  dbt/models/rus12/out_rus12__yearly_sources_and_distribution_by_plant_type/schema.yml
  dbt/models/rus12/out_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/out_rus7__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus7/out_rus7__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus7/out_rus7__yearly_employee_statistics/schema.yml
  dbt/models/rus7/out_rus7__yearly_energy_efficiency/schema.yml
  dbt/models/rus7/out_rus7__yearly_investments/schema.yml
  dbt/models/rus7/out_rus7__yearly_long_term_debt/schema.yml
  dbt/models/rus7/out_rus7__yearly_meeting_and_board/schema.yml
  dbt/models/rus7/out_rus7__yearly_patronage_capital/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements_electric_customers/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements_electric_sales/schema.yml
  dbt/models/rus7/out_rus7__yearly_statement_of_operations/schema.yml
  migrations/versions/74f26cd89a5e_rus_add_output_tables.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/output/rus.py
Due: none

Validate pandera_schema type
  src/pudl/etl/asset_checks.py
Due: none

Only skip content validation for vcerare / epacems assets
  src/pudl/etl/__init__.py
Due: none

Fix naming of balance field in RUS 12, add partial calcs for plant costs table
  dbt/macros/expect_subcomponents_sum_to_total.sql
  dbt/models/rus12/core_rus12__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus12/core_rus12__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_costs/schema.yml
  migrations/versions/8c13e0fc4c8d_rename_balance_to_ending_balance_for_.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/transform/rus12.py
Due: none

Fix instance of MMBtu found in ENUM constraint.
  src/pudl/metadata/fields.py
Due: none

remove borrower_name_rus
  dbt/models/rus12/core_rus12__yearly_external_financial_risk_ratio/schema.yml
  dbt/models/rus12/core_rus12__yearly_investments/schema.yml
  dbt/models/rus7/core_rus7__yearly_external_financial_risk_ratio/schema.yml
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_long_term_leases/schema.yml
  migrations/versions/bf8ca670d8ec_remove_borrower_name_rus_from_core_.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
Due: none

Fix docs wording / formatting / copyedits from code review.
  docs/dev/run_the_etl.rst
  src/pudl/definitions.py
Due: none

Get Dagster's dg CLI working in the PUDL repo. (#5075)
  .github/workflows/pytest.yml
  docs/dev/build_docs.rst
  docs/dev/run_the_etl.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/definitions.py
  src/pudl/defs/__init__.py
Due: conda-lock

Update release notes.
  docs/release_notes.rst
Due: none

wip
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/etl/__init__.py
  src/pudl/etl/glue_assets.py
  src/pudl/extract/eia860.py
  src/pudl/transform/ferc1.py
Due: none

respond to early pr feedback
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/output/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
Due: none

Change wayward EIA `report_year` columns to `report_date` (#5063)
  dbt/models/eia860/core_eia860__scd_emissions_control_equipment/schema.yml
  dbt/models/eia860/out_eia860__yearly_emissions_control_equipment/schema.yml
  dbt/models/eia923/_core_eia923__yearly_byproduct_disposition/schema.yml
  dbt/models/eia923/_core_eia923__yearly_byproduct_expenses_and_revenues/schema.yml
  docs/release_notes.rst
  migrations/versions/08c64862ce26_eia_report_year_to_report_date.py
  src/pudl/dbt_wrapper.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/eia860.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
Due: none

Integrate EIA-923 Schedule 8C (Emissions Controls) (#5048)
  dbt/models/eia860/_core_eia860__fgd_equipment/schema.yml
  dbt/models/eia860/core_eia860__scd_emissions_control_equipment/schema.yml
  dbt/models/eia860/out_eia860__yearly_emissions_control_equipment/schema.yml
  dbt/models/eia923/_core_eia923__yearly_byproduct_disposition/schema.yml
  dbt/models/eia923/_core_eia923__yearly_byproduct_expenses_and_revenues/schema.yml
  dbt/models/eia923/_core_eia923__yearly_emissions_control/schema.yml
  dbt/models/eia923/_core_eia923__yearly_fgd_operation_maintenance/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/conf.py
  docs/dev/naming_conventions.rst
  docs/release_notes.rst
  migrations/versions/08c64862ce26_eia_report_year_to_report_date.py
  migrations/versions/f7c4c620a53d_add_eia_923_schedule_8c.py
  pixi.lock
  src/pudl/dbt_wrapper.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/eia860.py
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  test/unit/helpers_test.py
  test/unit/transform/eia923_test.py
Due: sort-row-counts

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Remove non-datetime cols from _parse_datetimes
  src/pudl/transform/ferceqr.py
Due: none

merge dependency update from main a relock pixi.
  pixi.lock
  pyproject.toml
Due: conda-lock

Subset simple Dagster multi-assets in PUDL ETL (#5062)
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/etl/cli.py
  src/pudl/etl/glue_assets.py
  src/pudl/etl/static_assets.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eia923.py
  src/pudl/extract/phmsagas.py
Due: conda-lock

Add dignified-python to list of vendored Claude code skills.
  .github/skills/.gitignore
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
