Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

rename extracted col and standardize the melt merge situation
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

add leaks table and fix the two digit years
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

Update EIA 860M data up through July 2025 (#4594)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Due: sort-row-counts

add damages table
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

compile all of the patterns in a dict to add asset check to ensure we grab all the columns
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

Update SEC 10-K data source page
  docs/templates/sec10k_child.rst.jinja
Due: none

Pull dependencies from main to avoid changing environment on merge.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Remove Xcel example data CSV
  docs/data_sources/sec10k/xcel_sec10k_example.csv
Due: none

first pass at writing metadata for these new tables
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Close out release notes for PUDL v2025.9.0
  .zenodo.json
  CITATION.cff
  docs/release_notes.rst
Due: none

Close out release notes for PUDL v2025.9.0 (#4597)
  .zenodo.json
  CITATION.cff
  docs/release_notes.rst
Due: none

Add potential improvements to the irregularities.
  docs/templates/sec10k_child.rst.jinja
Due: none

Update zenodo archive
  src/pudl/workspace/datastore.py
Due: none

Update release template; exclude more files from triggering integration tests
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/release.yml
  .github/workflows/pytest.yml
  CITATION.cff
  docs/release_notes.rst
Due: none

Update release template; exclude more files from triggering integration tests (#4599)
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/release.yml
  .github/workflows/pytest.yml
  CITATION.cff
  docs/release_notes.rst
Due: none

Update conda lockfiles and pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Update conda lockfiles
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Fix typo in (very old?) release notes
  docs/release_notes.rst
Due: none

Update conda lockfile (#4602)
  .pre-commit-config.yaml
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Remove version epochs from dagster-libs
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Remove all traces of Datasette from the PUDL repo.
  .github/ISSUE_TEMPLATE/nightly_build_failure.md
  .gitignore
  README.rst
  devtools/datasette/.gitignore
  devtools/datasette/fly/50-mod-http-realip.conf
  devtools/datasette/fly/nginx.conf
  devtools/datasette/fly/production.toml
  devtools/datasette/fly/run.sh
  devtools/datasette/fly/staging.toml
  devtools/datasette/publish.py
  docs/conf.py
  docs/data_access.rst
  docs/data_dictionaries/ferc1_db.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
  test/integration/datasette_metadata_test.py
Due: conda-lock

Remove fly.io secrets & installation from nightly builds
  .github/workflows/build-deploy-pudl.yml
  docker/Dockerfile
Due: none

Relock dependencies from main minus Datasette.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

fix: allow usage metrics ETL to access viewer logs
  terraform/pudl-viewer.tf
Due: none

Add notes about Datasette deprecation.
  docs/data_dictionaries/ferc1_db.rst
  docs/release_notes.rst
Due: none

Remove remaining references to Datasette (#4605)
  .github/ISSUE_TEMPLATE/nightly_build_failure.md
  .github/workflows/build-deploy-pudl.yml
  .gitignore
  README.rst
  devtools/datasette/.gitignore
  devtools/datasette/fly/50-mod-http-realip.conf
  devtools/datasette/fly/nginx.conf
  devtools/datasette/fly/production.toml
  devtools/datasette/fly/run.sh
  devtools/datasette/fly/staging.toml
  devtools/datasette/publish.py
  docker/Dockerfile
  docs/conf.py
  docs/data_access.rst
  docs/data_dictionaries/ferc1_db.rst
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/templates/datasette-metadata.yml.jinja
  test/integration/datasette_metadata_test.py
Due: conda-lock

Fill in missing SIC names and IDs with canonical values from SEC.
  dbt/models/sec10k/out_sec10k__quarterly_company_information/schema.yml
  migrations/versions/7ff6e93327fb_add_industry_group_sic_column.py
  notebooks/work-in-progress/sec10k-data-review.ipynb
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/sec10k.py
  src/pudl/output/sec10k.py
Due: nb-output-clear

Enable multiple years of AEO extraction
  src/pudl/extract/eiaaeo.py
Due: none

Add 2025 to EIAAEO partitions
  src/pudl/metadata/sources.py
Due: none

First round of updating enums for aeo 2025 categoricals
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
Due: none

fix: allow usage metrics ETL to access viewer logs (#4607)
  terraform/pudl-viewer.tf
Due: none

Attempt to redeploy the Eel Hole after copying new data to S3
  docker/gcp_pudl_etl.sh
Due: none

Don't run integration tests in CI if only docker/* changes
  .github/workflows/pytest.yml
Due: none

feat: add nightly builds SA + cloud run permission to terraform
  terraform/nightly_builds.tf
Due: none

Redeploy the Eel Hole in nightly builds (#4611)
  .github/workflows/pytest.yml
  docker/gcp_pudl_etl.sh
  terraform/nightly_builds.tf
Due: none

Add progress on AEO transformer WIP
  src/pudl/transform/eiaaeo.py
Due: none

Add AEO migration
  migrations/versions/de3c08191d8a_update_aeo_schema.py
Due: none

Cull some zombie notebooks
  notebooks/work-in-progress/data-zipper-dev.ipynb
  notebooks/work-in-progress/pudl-intake-catalog.yaml
  notebooks/work-in-progress/sec10k-renormalization.ipynb
  notebooks/work-in-progress/state-demand.ipynb
Due: nb-output-clear

Remove more zombie notebooks.
  notebooks/work-in-progress/jupyterhub-test.ipynb
Due: nb-output-clear

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
