Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

notify us if the text-in-year spot-fix is no longer needed.
  src/pudl/transform/ferc714.py
Due: none

Update docs/dev/existing_data_updates.rst
  docs/dev/existing_data_updates.rst
Due: none

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update dbt deps and relock conda deps
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Update conda lockfile for week of 2025-08-10 (#4534)
  .pre-commit-config.yaml
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

add may june 2025 to eia860m
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Due: none

change pudl.glue.ferc1_eia.get_utility_map_ferc1() to explicit dependency instead of implicit
  src/pudl/output/ferc1.py
Due: none

update kwargs
  src/pudl/output/ferc1.py
Due: none

Add ferc1 util xbrl dbf id to out (#4528)
  dbt/models/ferc1/out_ferc1__yearly_all_plants/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_balance_sheet_assets_sched110/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_balance_sheet_liabilities_sched110/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_cash_flows_sched120/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_by_function_sched219/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_changes_sched219/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_summary_sched336/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_balance_sheet_assets/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_balance_sheet_liabilities/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_detailed_income_statements/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_energy_dispositions_sched401/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_energy_sources_sched401/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_hydroelectric_plants_sched406/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_income_statements_sched114/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_operating_expenses_sched320/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_operating_revenues_sched300/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_other_regulatory_liabilities_sched278/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_plant_in_service_sched204/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_pumped_storage_plants_sched408/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_purchased_power_and_exchanges_sched326/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_retained_earnings_sched118/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_sales_by_rate_schedules_sched304/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_small_plants_sched410/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_by_plant_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_fuel_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_transmission_lines_sched422/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_utility_plant_summary_sched200/schema.yml
  docs/release_notes.rst
  migrations/versions/06ca81ec4de6_.py
  migrations/versions/341e3c844e85_add_xbrl_dbf_util_id_cols_to_ferc1_out_.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
Due: none

add updated id mappings
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

Reflow f-string for AssertionError in PK check
  src/pudl/metadata/classes.py
Due: none

Update CEMS DOI again
  src/pudl/workspace/datastore.py
Due: none

Update cems row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update release notes
  docs/release_notes.rst
Due: none

WIP debugging duplicate eia_code values in FERC-714 respondent ID table
  src/pudl/metadata/classes.py
  src/pudl/transform/ferc714.py
Due: none

update doi and file map with july 923
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/workspace/datastore.py
Due: none

Uncomment SMUD and Wabash eia_code fixes.
  src/pudl/transform/ferc714.py
Due: none

Make logs appear in pytest output
  Makefile
Due: none

Update EPACEMS DOI (#4531)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Fill missing eia_code within each respondent_id_ferc714 group.
  src/pudl/transform/ferc714.py
Due: none

add new row counts from gha branch build
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Integrate 2024 FERC-714 data (#4530)
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/existing_data_updates.rst
  docs/release_notes.rst
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/ferc714.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

sigh fix error that was dropping all the dupes not just the null ones
  src/pudl/transform/eia923.py
Due: none

there were lots of nulls AND lots of 0's hiding in there...
  src/pudl/transform/eia923.py
Due: none

Fromatting in some docstring & help text.
  src/pudl/scripts/dbt_helper.py
Due: none

Add comments clarifying flow control.
  src/pudl/scripts/dbt_helper.py
Due: none

Add release notes header that somehow got accidentally deleted.
  docs/release_notes.rst
Due: none

Add mechanism to filter logs from dependencies
  src/pudl/logging_helpers.py
  test/conftest.py
Due: none

second wip attempt at fixing the drop dupes issue.... stil wip
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/transform/eia923.py
Due: sort-row-counts

Move numba back to WARNING level
  src/pudl/logging_helpers.py
  test/conftest.py
Due: none

fix the addition dupes with differing prime_mover_codes
  src/pudl/transform/eia923.py
Due: none

update row counts for my problem child
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update row counts on this branch w/ all changes from main merged in.
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update expected range of row counts for core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities in dbt tests
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
Due: none

Update release notes for EIA-860M May/June 2025 update.
  docs/release_notes.rst
Due: none

flesh out unit test and respond to pr comments
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/transform/eia923.py
  test/unit/transform/eia923_test.py
Due: sort-row-counts

add may june 2025 to eia860m (#4536)
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Local update of row counts.
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_(full|fast)_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
