Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Pare down unstable row-count tests
  tests/unit/analysis/plant_parts_eia_test.py
  tests/unit/transform/eia_test.py
  tests/unit/transform/sec10k_test.py
Due: none

Remove unused slow marker from unit tests
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit/dagster/io_managers_test.py
  tests/unit/settings_test.py
  tests/unit/transform/ferc1_test.py
Due: conda-lock

Split mixed pipeline/non-pipeline test files
  tests/integration/dagster/__init__.py
  tests/integration/extract/ferc_dbf_extract_test.py
  tests/integration/glue/__init__.py
  tests/integration/scripts/console_scripts_test.py
  tests/integration/validate/dbt_test.py
  tests/pipeline/extract/ferc_dbf_extract_test.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/pipeline/validate/dbt_test.py
Due: none

Move pipeline-dependent tests from tests/integration to tests/pipeline
  tests/pipeline/analysis/__init__.py
  tests/pipeline/analysis/ferc1_eia_train_test.py
  tests/pipeline/analysis/plant_parts_eia_test.py
  tests/pipeline/analysis/timeseries_plot_test.py
  tests/pipeline/dagster/__init__.py
  tests/pipeline/dagster/geoparquet_test.py
  tests/pipeline/dagster/pipeline_test.py
  tests/pipeline/extract/__init__.py
  tests/pipeline/extract/ferc_dbf_extract_test.py
  tests/pipeline/extract/ferc_xbrl_extract_test.py
  tests/pipeline/glue/__init__.py
  tests/pipeline/glue/glue_test.py
  tests/pipeline/notebooks_test.py
  tests/pipeline/scripts/__init__.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/pipeline/validate/__init__.py
  tests/pipeline/validate/dbt_test.py
Due: none

Add guardrail against ETL-dependent tests outside tests/pipeline
  tests/conftest.py
Due: none

Exclude ferceqr_test.py from pytest-pipeline tasks
  pyproject.toml
Due: conda-lock

Strengthen dbt schema round-trip test; drop order-insensitive fallback
  tests/integration/dbt_schema_round_trip_test.py
Due: none

Add issue reference for test reorg
  docs/release_notes.rst
Due: none

Update dev docs and add release notes for the test reorg
  docs/dev/existing_data_updates.rst
  docs/dev/nightly_data_builds.rst
  docs/dev/testing.rst
  docs/release_notes.rst
Due: none

Add reverse ETL-fixture guardrail and document workerinput guards
  tests/conftest.py
Due: none

Mock Zulip notification in test_zenodo_data_release
  tests/integration/scripts/console_scripts_test.py
Due: none

Rewire pixi tasks and CI workflow for the tests/integration split
  .github/workflows/docker-build-test.yml
  .github/workflows/pytest.yml
  .github/workflows/warm-gha-caches.yml
  builds/pudl_batch.sh
  docs/dev/pudl_id_mapping.rst
  pyproject.toml
  src/pudl/package_data/settings/etl_fast.yml
  tests/pipeline/dagster/geoparquet_test.py
Due: conda-lock

Automate Zenodo data release metadata updates
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/workflows/zenodo-data-release.yml
  docs/release_notes.rst
  pyproject.toml
  src/pudl/deploy/pudl.py
  src/pudl/deploy/zenodo_metadata.py
  src/pudl/scripts/zenodo_data_release.py
  tests/unit/deploy/deploy_pudl_test.py
  tests/unit/deploy/zenodo_metadata_test.py
  tests/unit/scripts/zenodo_data_release_test.py
Due: conda-lock

Compute op-chars for every full year of CEMS data, not just latest
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/methodology/operational_characteristics.rst
  migrations/versions/e7c433fdf3cb_add_new_cems_derived_table.py
  src/pudl/analysis/operational_characteristics.py
  src/pudl/metadata/resources/epacems.py
  tests/unit/analysis/operational_characteristics_test.py
Due: sort-row-counts

Merge alembic heads
  migrations/versions/0f254762f267_.py
Due: none

Update release notes for multi-year op-chars
  docs/release_notes.rst
Due: none

Fix multi-year status bug in proposed plants
  docs/release_notes.rst
  src/pudl/analysis/allocate_gen_fuel.py
  tests/unit/analysis/allocate_gen_fuel_test.py
Due: none

Unify retiring/coming-online logic; fix identify_retired_plants bug
  src/pudl/analysis/allocate_gen_fuel.py
  tests/unit/analysis/allocate_gen_fuel_test.py
Due: none

Document allocate_gen_fuel retiring/proposed fixes in release notes
  docs/release_notes.rst
Due: none

Reorder and condense release notes for v2026.9.0
  docs/release_notes.rst
Due: none

Update row counts based on local ETL
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Check in marimo notebook for discussion / analysis.
  notebooks/work-in-progress/allocate-gen-fuel/allocate-gen-fuel.py
Due: none

Improve clarity of docs and comments
  docs/methodology/entity_resolution.rst
  docs/release_notes.rst
  src/pudl/transform/eia.py
  tests/unit/helpers_test.py
Due: none

Fix release notes formatting error
  docs/release_notes.rst
Due: none

Enforce real not complex arithmetic in imputation matrix math
  pyproject.toml
  src/pudl/analysis/timeseries_cleaning.py
Due: conda-lock

Make tiebreaker tests more deterministic, less brittle to implementation changes
  tests/unit/transform/eia_test.py
Due: none

Re-order and update release ntoes
  docs/release_notes.rst
Due: none

Standardize tiebreaker and regression test language in comments, docstrings
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/helpers.py
  src/pudl/transform/eia.py
  src/pudl/transform/sec10k.py
  tests/unit/analysis/eia_ferc1_record_linkage_test.py
  tests/unit/helpers_test.py
  tests/unit/transform/eia_test.py
Due: none

Make table row counts deterministic with explicit tiebreakers (#5503)
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_rate_base/schema.human.yml
  dbt/schema_inputs/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/methodology/entity_resolution.rst
  docs/release_notes.rst
  pyproject.toml
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/helpers.py
  src/pudl/transform/eia.py
  src/pudl/transform/sec10k.py
  tests/unit/analysis/eia_ferc1_record_linkage_test.py
  tests/unit/helpers_test.py
  tests/unit/transform/eia_test.py
Due: sort-row-counts, conda-lock

Refactor epamats transform to use transformation helpers functions from epacems
  src/pudl/transform/epamats.py
Due: none

Update nrelatb doi
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Fix typo in parquet extract
  src/pudl/extract/parquet.py
Due: none

Clarify wording in response to PR feedback.
  docs/dev/testing.rst
  docs/release_notes.rst
  pyproject.toml
Due: conda-lock

Update extractor for nrelatb to accomodate new format
  src/pudl/extract/nrelatb.py
  src/pudl/package_data/nrelatb/file_map.csv
  src/pudl/workspace/datastore.py
  tests/unit/workspace/datastore_test.py
Due: none

Fix bad NA values in core_nrelatb__yearly_projected_cost_performance
  src/pudl/transform/nrelatb.py
Due: none

Update transforms to address all dtype failures
  src/pudl/transform/nrelatb.py
Due: none

Update MATS resource description and remove availability text
  src/pudl/metadata/resources/epamats.py
Due: none

Replace -1 placeholder for missing gross_load_mw with null in epamats transform and update schema tests
  dbt/models/epamats/core_epamats__hourly_emissions/schema.yml
  dbt/schema_inputs/epamats/core_epamats__hourly_emissions/schema.human.yml
  src/pudl/transform/epamats.py
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
