Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Rebase alembic migration
  migrations/versions/19ec11f1ed95_add_core_eia176__yearly_liquefied_.py
Due: none

Bigger EQR VM; fix log save path; transactions high memory table
  .github/workflows/build-deploy-ferceqr.yml
  builds/ferceqr_batch.sh
  src/pudl/dagster/asset_checks.py
Due: none

Map new plants and utilities, fix failure in script when no new matches
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/scripts/auto_match_utilities.py
Due: none

Add human DBT tests
  dbt/schema_inputs/eia176/core_eia176__yearly_liquefied_natural_gas_inventory/schema.human.yml
Due: none

Apply suggestions from code review
  docs/dev/managing_external_contributions.rst
Due: none

updates mostly of metadata and calc components
  migrations/versions/1673261cec41_ferc1_2025_additions.py
  migrations/versions/38c783781aec_ferc1_2025_additions.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/package_data/ferc1/xbrl_calculation_component_fixes.csv
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

add new ferc1 utils
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

Try to configure worktree-agnostic devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/fix-git-worktree.sh
  .devcontainer/fix-pixi-shebangs.sh
  pyproject.toml
  skills-lock.json
Due: conda-lock

WIP stash update
  docs/dev/managing_external_contributions.rst
Due: none

Remove use of sudo since it *seems* to be unnecessary.
  .devcontainer/devcontainer.json
Due: none

Add a smoketest for the dev container
  .github/workflows/docker-build-test.yml
Due: none

Go back to using sudo since it's required on first mount
  .devcontainer/devcontainer.json
Due: none

Integrate PudlPaths into Dagster resources (#5261)
  .env.example
  .github/workflows/pytest.yml
  docs/dev/run_the_etl.rst
  docs/dev/troubleshooting_dagster.rst
  docs/release_notes.rst
  pyproject.toml
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/build.py
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/resources.py
  src/pudl/extract/censusdp1tract.py
  src/pudl/extract/dbf.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/extract/xbrl.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferc.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/workspace/setup.py
  tests/conftest.py
  tests/integration/extract/ferc_xbrl_extract_test.py
  tests/integration/glue/glue_test.py
  tests/unit/conftest.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/extract/xbrl_test.py
  tests/unit/settings_test.py
  tests/unit/validate/dbt_helper_test.py
Due: conda-lock

Make dev container work with git worktrees (#5287)
  .devcontainer/devcontainer.json
  .devcontainer/fix-git-worktree.sh
  .github/workflows/docker-build-test.yml
  .github/workflows/pytest.yml
  pyproject.toml
  skills-lock.json
Due: conda-lock

Use PudlPathsResource in datapackage asset / asset check
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/core/datapackage.py
Due: none

Refactor FERC EQR deployment sensors and notifications
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/jobs.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/dagster/resources_test.py
Due: none

Shush some logging noise
  src/pudl/__init__.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/dagster/resources.py
Due: none

Use ZULIP_API_KEY not SLACK_TOKEN, raise error on notification failure
  .github/workflows/build-deploy-ferceqr.yml
  src/pudl/dagster/assets/deploy/ferceqr.py
Due: none

Use PudlPathsResource in datapackage asset / asset check (#5288)
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/core/datapackage.py
Due: none

Update row counts and release notes
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
Due: sort-row-counts

Add norms and PM information to contributor guideline docs
  docs/dev/managing_external_contributions.rst
Due: none

Update CSV format in source metadata to match other datasets, clarify original data
  docs/templates/eia191_child.rst.jinja
  src/pudl/metadata/sources.py
Due: none

Add EIA 191 data source page (#5267)
  docs/conf.py
  docs/data_sources/eia191/eia191_blank_2027-07-31.pdf
  docs/data_sources/eia191/eia191_instructions_2011-12-31.pdf
  docs/data_sources/eia191/eia191_instructions_2024-01-31.pdf
  docs/data_sources/eia191/eia191_instructions_2024-06-30.pdf
  docs/data_sources/eia191/eia191_instructions_2027-07-31.pdf
  docs/data_sources/index.rst
  docs/index.rst
  docs/templates/eia191_child.rst.jinja
  src/pudl/metadata/sources.py
Due: none

Move provenance metadata to datapackage
  src/pudl/__init__.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/provenance.py
  src/pudl/extract/dbf.py
  tests/unit/dagster/provenance_test.py
  tests/unit/extract/xbrl_test.py
Due: none

update row counts - first round pre-eia80m udpate
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

add release notes
  docs/release_notes.rst
Due: none

Validate RUS7 service interruption totals
  dbt/models/rus7/core_rus7__yearly_service_interruptions/schema.yml
  dbt/models/rus7/out_rus7__yearly_service_interruptions/schema.yml
Due: none

Integrate April 2026 EIA 860M data (#5284)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/scripts/auto_match_utilities.py
Due: sort-row-counts

Clarify EIA-176 continuation codes
  migrations/versions/4425edd5d8a7_add_eia176_continuation_tables.py
  migrations/versions/c351d6b95453_add_eia_176_continuation_tables.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/transform/eia176.py
  test/unit/transform/eia176_test.py
Due: none

Add EIA-176 release note
  docs/release_notes.rst
Due: none

Remove EIA-176 gas supply asset check
  src/pudl/transform/eia176.py
Due: none

Update core_eia176__yearly_gas_supply
  dbt/models/eia176/core_eia176__yearly_gas_supply/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/9a62c4611461_add_core_eia176__yearly_gas_supply.py
  migrations/versions/f3d4b324d48f_add_core_eia176__yearly_gas_supply.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/transform/eia176.py
Due: sort-row-counts
