Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Add EIA-930 quarterlies to release notes
  docs/release_notes.rst
Due: none

Update ETL fast and full AEO years
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
Due: none

EIA AEO multi year capacity (plus 2025) (#4631)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/e91f15227f60_update_aeo_schema.py
  src/pudl/extract/eiaaeo.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/transform/eiaaeo.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Update `core_epa__assn_eia_epacamd_subplant_ids` row counts for 2025Q3 EPA CEMS data (#4742)
  .github/workflows/pytest.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Extract all raw EIA-176 pages; update docstrings; rename some things
  src/pudl/extract/eia176.py
  src/pudl/transform/eia176.py
  test/unit/transform/eia176_test.py
Due: none

chore: remove raw files before attempting distribution
  docker/gcp_pudl_etl.sh
Due: none

chore: small tweaks for PR feedback, fix typo
  src/pudl/extract/eia930.py
Due: none

fix: set full duckdb schema ahead of time so fast ETL still gets well-formed dataframes
  devtools/check_against_nightly.py
  src/pudl/extract/eia930.py
  src/pudl/extract/extractor.py
Due: none

docs: update release notes
  docs/release_notes.rst
Due: none

feat: use DuckDB for EIA930 extraction
  src/pudl/extract/eia930.py
  src/pudl/transform/eia930.py
  src/pudl/workspace/datastore.py
Due: none

Back off to October in 930 claims
  docs/release_notes.rst
Due: none

Integrate 2025 Q4 update for EIA-930 (#4743)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Temporarily make the eia176 validate_totals asset check non-blocking
  src/pudl/transform/eia176.py
Due: none

Reduce EIA 930 extraction memory usage (#4731)
  devtools/check_against_nightly.py
  docker/gcp_pudl_etl.sh
  docs/release_notes.rst
  src/pudl/extract/eia930.py
  src/pudl/extract/extractor.py
  src/pudl/transform/eia930.py
  src/pudl/workspace/datastore.py
Due: none

Add an AGENTS.md file to inform LLMs about PUDL (#4735)
  .github/workflows/pytest.yml
  AGENTS.md
Due: none

Use PUDL encoding method and add initial alembic migration.
  migrations/versions/31092ef1549a_.py
  migrations/versions/879d60fce8ad_add_eia_923_schedule_8c_emissions_.py
  src/pudl/transform/eia923.py
Due: none

Upadate row-count and nullness expectations for eia930 subregion demand
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

switch to native TOML config with pytest v9.0.0
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Upadate row-count and nullness expectations for eia930 subregion demand (#4744)
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Create initial EIA-176 data source documentation page
  docs/conf.py
  docs/data_sources/eia176/eia176_blank_2011-12-31.pdf
  docs/data_sources/eia176/eia176_blank_2015-02-28.pdf
  docs/data_sources/eia176/eia176_blank_2017-12-31.pdf
  docs/data_sources/eia176/eia176_blank_2021-01-31.pdf
  docs/data_sources/eia176/eia176_blank_2024-06-30.pdf
  docs/data_sources/eia176/eia176_blank_2027-07-31.pdf
  docs/data_sources/eia176/eia176_instructions_2011-12-31.pdf
  docs/data_sources/eia176/eia176_instructions_2015-02-28.pdf
  docs/data_sources/eia176/eia176_instructions_2017-12-31.pdf
  docs/data_sources/eia176/eia176_instructions_2021-01-31.pdf
  docs/data_sources/eia176/eia176_instructions_2024-06-30.pdf
  docs/data_sources/eia176/eia176_instructions_2027-07-31.pdf
  docs/data_sources/future_data.rst
  docs/data_sources/index.rst
  docs/templates/data_source_parent.rst.jinja
  docs/templates/eia176_child.rst.jinja
Due: none

Update EIA 176 DOI to recover missing 2013 data
  src/pudl/workspace/datastore.py
Due: none

Clean up docstring
  src/pudl/transform/eia176.py
Due: none

Update FERC Form 1 DOI
  src/pudl/workspace/datastore.py
Due: none

Update and reorder release notes
  docs/release_notes.rst
Due: none

Make eia176 totals validation asset check blocking again
  src/pudl/transform/eia176.py
Due: none

Run datastore integration tests before ETL to catch failures quickly
  test/integration/dbt_test.py
  test/integration/etl_test.py
  test/integration/ferc_dbf_extract_test.py
  test/integration/ferc_xbrl_extract_test.py
Due: none

Use 'custom' not 'data' page for EIA-176 in datastore/CsvExtractor integration test
  test/integration/etl_test.py
Due: none

Extract remaining report data for EIA 176 (#4737)
  src/pudl/extract/eia176.py
  src/pudl/package_data/eia176/column_maps/company_list.csv
  src/pudl/package_data/eia176/column_maps/continuation_text_lines.csv
  src/pudl/package_data/eia176/column_maps/custom.csv
  src/pudl/package_data/eia176/column_maps/type_of_operations_and_sector_items.csv
  src/pudl/transform/eia176.py
  src/pudl/workspace/datastore.py
  test/integration/dbt_test.py
  test/integration/etl_test.py
  test/integration/ferc_dbf_extract_test.py
  test/integration/ferc_xbrl_extract_test.py
  test/unit/extract/csv_test.py
  test/unit/transform/eia176_test.py
Due: none

respond to pr comments, remove eia ###, and expand on null column maps
  docs/release_notes.rst
  src/pudl/extract/extractor.py
Due: none

Update FERC Form 1 row counts due to late Form 1 filings
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update FERC Form 1 DOI (#4747)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Remove 'make ci' target since pre-commit --all-files is too invasive for everyday usage.
  .github/pull_request_template.md
  Makefile
  docs/dev/testing.rst
Due: none

Add dask back into dependency stack
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Update src/pudl/metadata/fields.py
  src/pudl/metadata/fields.py
Due: none

Remove unused assignment
  src/pudl/transform/eia176.py
Due: none

Improve memory consumption
  src/pudl/transform/eia176.py
Due: none

Remove old expression_is_true check
  dbt/models/eia176/core_eia176__yearly_gas_disposition_by_consumer/schema.yml
Due: none

Update dbt/models/eia176/core_eia176__yearly_gas_disposition_by_consumer/schema.yml
  dbt/models/eia176/core_eia176__yearly_gas_disposition_by_consumer/schema.yml
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
