Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Handle incomplete FERC EQR filings and preserve ENUM dtypes on write
  src/pudl/extract/ferceqr.py
  src/pudl/helpers.py
  src/pudl/metadata/sources.py
  tests/unit/extract/ferceqr_test.py
  tests/unit/helpers_test.py
Due: none

Clarify FERC EQR extraction types, errors, and asset outputs
  src/pudl/extract/ferceqr.py
  src/pudl/transform/ferceqr.py
  tests/unit/extract/ferceqr_test.py
Due: none

Fix stale raw ferceqr output surviving across archive refreshes
  src/pudl/extract/ferceqr.py
  tests/unit/extract/ferceqr_test.py
Due: none

Stop warning on routine missing ferceqr tables; add extraction stats
  src/pudl/extract/ferceqr.py
  src/pudl/package_data/settings/zenodo_dois.yml
  tests/unit/extract/ferceqr_test.py
Due: none

Re-organize parquet categorical round-trip tests
  tests/unit/helpers_test.py
Due: none

Update release notes for FERC EQR extraction fixes.
  docs/release_notes.rst
Due: none

Harden FERC EQR CSV filename cleaning against glob metacharacters
  src/pudl/extract/ferceqr.py
  tests/unit/extract/ferceqr_test.py
Due: none

Add .zed/settings.json that points to pixi environment for ruff/pyrefly LSPs
  .zed/settings.json
Due: none

Fix four pre-existing pyrefly type errors
  src/pudl/extract/epamats.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/helpers.py
  tests/unit/dagster/asset_checks_test.py
Due: none

Pin pyrefly to 1.2.0, scope its pixi task to dev, refresh baseline
  .gitattributes
  .pyrefly-baseline.json
  pyproject.toml
Due: conda-lock

Add type stubs for yaml, pytz, dateutil, networkx, shapely
  .pyrefly-baseline.json
  pixi.lock
  pyproject.toml
Due: conda-lock

Regenerate pyrefly baseline against main
  .pyrefly-baseline.json
Due: none

Add pyrefly usage and baseline regeneration dev docs
  docs/dev/dev_setup.rst
  pyproject.toml
  src/pudl/scripts/pyrefly_baseline_diff.py
Due: conda-lock

Add sylvan-heat-rates work-in-progress notebooks and reference script
  notebooks/work-in-progress/sylvan-heat-rates/adjusted-op-chars.md
  notebooks/work-in-progress/sylvan-heat-rates/adjusted-op-chars.py
  notebooks/work-in-progress/sylvan-heat-rates/isolated_component_comparison.py
  notebooks/work-in-progress/sylvan-heat-rates/pudl_thermal_characterization_2026-03-10.py
  notebooks/work-in-progress/sylvan-heat-rates/sylvan-heat-rates.md
  notebooks/work-in-progress/sylvan-heat-rates/sylvan-heat-rates.py
Due: none

Adapt adjusted-generation asset to main's quarter-based CEMS window
  src/pudl/analysis/operational_characteristics.py
Due: none

Add marimo/analysis deps needed for EIA-adjusted op-chars work
  pixi.lock
  pyproject.toml
Due: conda-lock

Add adjusted-generation CEMS characteristics asset
  src/pudl/analysis/operational_characteristics.py
Due: none

Add initial draft of EIA-adjusted operational characteristics code
  src/pudl/analysis/operational_characteristics.py
Due: none

Add notes, docstrings, very basic polarization
  src/pudl/analysis/operational_characteristics.py
Due: none

Use shared module-level config schema for both op-chars assets
  src/pudl/analysis/operational_characteristics.py
Due: none

Automate Zenodo data release metadata updates
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/workflows/zenodo-data-release.yml
  docs/release_notes.rst
  pyproject.toml
  src/pudl/deploy/pudl.py
  src/pudl/deploy/zenodo_metadata.py
  src/pudl/scripts/zenodo_data_release.py
  tests/unit/deploy/deploy_pudl_test.py
  tests/unit/deploy/zenodo_metadata_test.py
  tests/unit/scripts/zenodo_data_release_test.py
Due: conda-lock

Update pixi lockfile, pre-commit hooks, dbt deps, and Docker base image
  pixi.lock
Due: none

Clean PHMSA install decade table
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/643995fcb3c0_add_phmsa_install_decade_table.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: sort-row-counts

Update PHMSA install decade key
  migrations/versions/683cc0aa7069_add_phmsa_install_decade_table.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Update migration
  migrations/versions/de2fb0442a2a_add__core_eia923__yearly_fuel_stocks_.py
Due: none

Clean PHMSA negative values
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/schema_inputs/phmsagas/core_phmsagas__yearly_distribution_by_install_decade/schema.human.yml
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Add PHMSA release note
  docs/release_notes.rst
Due: none

Update EIA-176 release notes
  docs/release_notes.rst
Due: none

Drop all-null HF emissions columns from EPA MATS data
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epamats.py
  src/pudl/transform/epamats.py
Due: none

Integrate EIA-923 fuel stocks: report_year extract fix + transform (part of #5081) (#5431)
  dbt/models/eia923/_core_eia923__yearly_fuel_stocks/schema.yml
  dbt/schema_inputs/eia923/_core_eia923__yearly_fuel_stocks/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/de2fb0442a2a_add__core_eia923__yearly_fuel_stocks_.py
  src/pudl/extract/eia923.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/transform/eia923.py
  tests/unit/transform/eia923_test.py
Due: sort-row-counts

Add basic EIA861 extraction information
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia861/column_maps/advanced_metering_infrastructure_eia861.csv
  src/pudl/package_data/eia861/column_maps/balancing_authority_eia861.csv
  src/pudl/package_data/eia861/column_maps/delivery_companies_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/distribution_systems_eia861.csv
  src/pudl/package_data/eia861/column_maps/dynamic_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/mergers_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/non_net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/operational_data_eia861.csv
  src/pudl/package_data/eia861/column_maps/reliability_eia861.csv
  src/pudl/package_data/eia861/column_maps/sales_eia861.csv
  src/pudl/package_data/eia861/column_maps/service_territory_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/package_data/eia861/column_maps/utility_data_eia861.csv
  src/pudl/package_data/eia861/file_map.csv
  src/pudl/package_data/eia861/page_map.csv
  src/pudl/package_data/eia861/skipfooter.csv
  src/pudl/package_data/eia861/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Add EIA-923 energy storage output
  dbt/models/eia923/out_eia923__monthly_energy_storage/schema.yml
  dbt/schema_inputs/eia923/out_eia923__monthly_energy_storage/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/8796aec47e84_add_eia_923_energy_storage_output.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/eia923.py
  tests/unit/output/eia923_test.py
Due: sort-row-counts

Add release note for energy storage output
  docs/release_notes.rst
Due: none

Reuse EIA-923 energy storage description
  src/pudl/metadata/resources/eia923.py
Due: none

Add monthly and yearly energy storage outputs
  dbt/models/eia923/out_eia923__energy_storage/schema.yml
  dbt/models/eia923/out_eia923__yearly_energy_storage/schema.yml
  dbt/schema_inputs/eia923/out_eia923__energy_storage/schema.human.yml
  dbt/schema_inputs/eia923/out_eia923__monthly_energy_storage/schema.human.yml
  dbt/schema_inputs/eia923/out_eia923__yearly_energy_storage/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/451e6f9acb60_add_eia_923_energy_storage_outputs.py
  migrations/versions/8796aec47e84_add_eia_923_energy_storage_output.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/eia923.py
  tests/unit/output/eia923_test.py
Due: sort-row-counts

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
