Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update splink pin to avoid sqlglot incompatibility
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Update src/pudl/metadata/dfs.py
  src/pudl/metadata/dfs.py
Due: none

Fix typo
  docs/templates/sec10k_child.rst.jinja
Due: none

round fgd_sorbent column to nearest 100
  src/pudl/transform/eia923.py
Due: none

rounding of column corrected to -2
  src/pudl/transform/eia923.py
Due: none

feat/clean_eia923_schedule8b
  dbt/models/eia923/_core_eia923__byproduct_expenses_and_revenues/schema.yml
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/transform/eia923.py
Due: none

switch to asset
  src/pudl/transform/eia923.py
Due: none

Update DOIs after Monday archive run
  src/pudl/workspace/datastore.py
Due: none

Address review comments; rework irregularities section
  docs/templates/sec10k_child.rst.jinja
  notebooks/work-in-progress/sec10k_irregularities_figures.ipynb
Due: nb-output-clear

Fix TODO
  docs/templates/sec10k_child.rst.jinja
Due: none

update settings
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Due: none

Track row counts and non-null cols for all tables, update core table row counts, drop usage warning on core table, update field metadata
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_filings/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/361e6f89774e_update_field_descriptions.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
Due: sort-row-counts

Harmonize assertion with docstring
  src/pudl/transform/phmsagas.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

update mapping csvs
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
Due: none

Integrate EIA-923 final release
  docs/dev/existing_data_updates.rst
  src/pudl/extract/eia923.py
  src/pudl/extract/excel.py
  src/pudl/extract/extractor.py
  src/pudl/metadata/classes.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/boiler_nox_operation.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fgp_operation.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
Due: none

Add EIA-923 final release to release notes
  docs/release_notes.rst
Due: none

add sec abbreeviation
  src/pudl/metadata/sources.py
Due: none

Fix set arithmetic
  src/pudl/output/sec10k.py
Due: none

Add row conditions for phmsa null column tests
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_filings/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
Due: none

Update row counts for eia923 final release
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

If we don't find the known nonunique sics, that's okay
  src/pudl/output/sec10k.py
Due: none

Add SEC 10-K data source documentation (#4562)
  Makefile
  dbt/models/sec10k/out_sec10k__quarterly_company_information/schema.yml
  docs/conf.py
  docs/data_sources/index.rst
  docs/index.rst
  docs/templates/sec10k_child.rst.jinja
  migrations/versions/7ff6e93327fb_add_industry_group_sic_column.py
  notebooks/work-in-progress/sec10k-blog.ipynb
  notebooks/work-in-progress/sec10k-data-review.ipynb
  notebooks/work-in-progress/sec10k_irregularities_figures.ipynb
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/sec10k.py
  src/pudl/metadata/sources.py
  src/pudl/output/sec10k.py
Due: nb-output-clear

fix column names for _1000_dollars pattern
  src/pudl/transform/eia923.py
Due: none

missing period
  src/pudl/metadata/fields.py
Due: none

adding data_tests for total columns
  dbt/models/eia923/_core_eia923__byproduct_expenses_and_revenues/schema.yml
Due: none

Rebase PHMSA migrations
  migrations/versions/053f6206fe23_phmsagas_schema.py
Due: none

Transform PHMSA gas distribution data (#4005)
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_filings/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/053f6206fe23_phmsagas_schema.py
  migrations/versions/361e6f89774e_update_field_descriptions.py
  notebooks/work-in-progress/eia861-transform.ipynb
  src/pudl/etl/__init__.py
  src/pudl/extract/phmsagas.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/__init__.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/phmsagas.py
  src/pudl/workspace/datastore.py
  test/unit/helpers_test.py
  test/unit/metadata_test.py
  test/unit/transform/phmsagas_test.py
Due: sort-row-counts, nb-output-clear

Relock conda dependencies
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Fix typos
  docs/release_notes.rst
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/output/eia.py
  src/pudl/output/epacems.py
  src/pudl/output/ferc1.py
  src/pudl/transform/eia861.py
  src/pudl/transform/ferc1.py
Due: none

Pin astroid<4 since it was breaking autoapi docs
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

add water abatement columns to dbt tests
  dbt/models/eia923/_core_eia923__byproduct_expenses_and_revenues/schema.yml
Due: none

update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

update release notes
  docs/release_notes.rst
Due: none

Zombie notebooks 🧟📓 (#4614)
  notebooks/work-in-progress/CEMS_by_utility.ipynb
  notebooks/work-in-progress/VCERARE.ipynb
  notebooks/work-in-progress/better-heatrates.ipynb
  notebooks/work-in-progress/data-zipper-dev.ipynb
  notebooks/work-in-progress/eia930-demand-imputation-validation.ipynb
  notebooks/work-in-progress/eia_bulk_data_testbed.ipynb
  notebooks/work-in-progress/eia_column_changes_through_time.ipynb
  notebooks/work-in-progress/epacems-parquet.ipynb
  notebooks/work-in-progress/explore-CEMS.ipynb
  notebooks/work-in-progress/explore-data-validation.ipynb
  notebooks/work-in-progress/explore-mcoe.ipynb
  notebooks/work-in-progress/explore-output-tables.ipynb
  notebooks/work-in-progress/explore_net_generation.ipynb
  notebooks/work-in-progress/ferc714-core.ipynb
  notebooks/work-in-progress/ferc714-output.ipynb
  notebooks/work-in-progress/havest_examples.ipynb
  notebooks/work-in-progress/imputation_comparison.ipynb
  notebooks/work-in-progress/jupyterhub-test.ipynb
  notebooks/work-in-progress/make_master_unit_list_eia.ipynb
  notebooks/work-in-progress/output-sql-ready.ipynb
  notebooks/work-in-progress/pudl-intake-catalog.yaml
  notebooks/work-in-progress/replace_eia_api.ipynb
  notebooks/work-in-progress/sec10k-renormalization.ipynb
  notebooks/work-in-progress/state-demand.ipynb
  notebooks/work-in-progress/test-validation-tests.ipynb
  notebooks/work-in-progress/timeseries-comparison.ipynb
  notebooks/work-in-progress/timeseries_cleaning_regression.ipynb
  notebooks/work-in-progress/transform_xbrl.ipynb
Due: nb-output-clear
