Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Skip DuckDB CSV auto-detection in extract_vcerare
  src/pudl/extract/vcerare.py
  src/pudl/helpers.py
  src/pudl/transform/vcerare.py
  tests/unit/extract/vcerare_test.py
  tests/unit/helpers_test.py
Due: none

Only extract needed zip members in duckdb_extract_zipped_csv
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Add use_native_duckdb_writer opt-in, use it for vcerare extraction
  src/pudl/extract/vcerare.py
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Use native DuckDB writer for EIA-930 extraction
  src/pudl/extract/eia930.py
Due: none

Use native DuckDB writer for all four FERC EQR raw table extractions
  src/pudl/extract/ferceqr.py
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update NREL ATB docs
  docs/templates/nrelatb_child.rst.jinja
Due: none

Update row-count expectations
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Add detailed date cutoffs to the release notes
  docs/release_notes.rst
Due: none

NREL ATB 2025 Update (#5569)
  dbt/seeds/etl_full_row_counts.csv
  docs/templates/nrelatb_child.rst.jinja
  src/pudl/metadata/fields.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/nrelatb/column_maps/data.csv
  src/pudl/package_data/nrelatb/file_map.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/nrelatb.py
Due: sort-row-counts

Trim LLM yap and make dbt data test descriptions more readable.
  dbt/models/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/validate_eia923__generation_fuel_allocation.sql
  dbt/models/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/validate_eia923__generation_fuel_allocation_by_year.sql
  dbt/schema_inputs/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/schema.human.yml
Due: none

Clean up release notes for this PR
  docs/release_notes.rst
Due: none

Remove WIP notebook associated with this PR
  notebooks/work-in-progress/allocate-gen-fuel/allocate-gen-fuel.py
Due: none

Trim LLM yap and reword docstrings & comments
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

Fix docstring formatting issue
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

Update pixi lockfile, pre-commit hooks, dbt deps, and Docker base image
  .pre-commit-config.yaml
  pixi.lock
Due: none

Tighten remove_inactive_generators test assertions
  tests/unit/analysis/allocate_gen_fuel_test.py
Due: none

Close out release notes for PUDL v2026.9.0
  CITATION.cff
  docs/release_notes.rst
Due: none

Purge unused dependencies; upgrade to Python 3.14
  pixi.lock
  pyproject.toml
  src/pudl/analysis/ml_tools/experiment_tracking.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/provenance.py
  src/pudl/dagster/resources.py
  src/pudl/dbt_schema.py
  src/pudl/deploy/pudl.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/scripts/zenodo_data_release.py
  src/pudl/settings.py
  src/pudl/transform/classes.py
  src/pudl/workspace/datastore.py
  tests/unit/dagster/io_managers_test.py
Due: conda-lock

Remove unit tests from pre-commit hooks
  .pre-commit-config.yaml
Due: none

Close out release notes for PUDL v2026.9.0 (#5578)
  CITATION.cff
  docs/release_notes.rst
Due: none

Update pyrefly baseline to reflect the past week of changes
  .pyrefly-baseline.json
  src/pudl/extract/nrelatb.py
Due: none

Update pyrefly baseline; fix a few new issues; fix pyrefly diff script for pyrefly 1.3.0
  .pyrefly-baseline.json
  src/pudl/output/ferc1.py
  src/pudl/scripts/pyrefly_diff_baseline.py
  src/pudl/transform/ferc1.py
Due: none

Ignore a subset of pyrefly errors common to dataframes in our dataframe heavy sub-directories
  .pyrefly-baseline.json
  pyproject.toml
Due: conda-lock

Add version v2026.9.0 to available_versions.json
  available_versions.json
Due: none

Rename remaining anomalous_report to match has_stale_status
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

Fix multi-year status bugs in gen-fuel allocation; add tests (#5511)
  dbt/models/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/validate_eia923__generation_fuel_allocation.sql
  dbt/models/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/validate_eia923__generation_fuel_allocation_by_year.sql
  dbt/schema_inputs/eia923/out_eia923__monthly_generation_fuel_by_generator_energy_source/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/analysis/allocate_gen_fuel.py
  tests/unit/analysis/allocate_gen_fuel_test.py
Due: sort-row-counts

Minor tweaks post PUDL v2026.9.0
  .github/ISSUE_TEMPLATE/versioned_release.md
  .github/pull_request_template.md
  docs/release_notes.rst
Due: none

Don't write logs when skipping an already successful build
  builds/pudl_batch.sh
  docs/release_notes.rst
Due: none

Reword pyrefly dataframe comment
  pyproject.toml
Due: conda-lock

Remove a couple of outdated python version references
  pyproject.toml
  src/pudl/scripts/batch_config.py
Due: conda-lock
