Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Move helper only used by io_managers.py into that module
  src/pudl/dagster/io_managers.py
  src/pudl/helpers.py
Due: none

Add clearer guidance on how to move files, or blocks of text.
  AGENTS.md
Due: none

Update unit test hierarchy to mirror re-organized src/pudl modules
  test/unit/dagster/__init__.py
  test/unit/dagster/asset_checks_test.py
  test/unit/dagster/io_managers_test.py
  test/unit/dagster/provenance_test.py
  test/unit/dagster_asset_checks_test.py
  test/unit/deploy/__init__.py
  test/unit/glue/__init__.py
  test/unit/glue/ferc1_eia_test.py
  test/unit/metadata/__init__.py
  test/unit/metadata/harvest_test.py
  test/unit/metadata/metadata_test.py
  test/unit/validate/__init__.py
  test/unit/validate/dbt_helper_test.py
  test/unit/validate/dbt_schema_drift_test.py
  test/unit/validate/dbt_wrapper_test.py
  test/unit/validate/quality_test.py
Due: none

Expand module level docstring in ml_tools/models.py
  src/pudl/analysis/ml_tools/models.py
Due: none

Break contribution workflow into short paragraphs.
  AGENTS.md
Due: none

transform the two part depreciaiton table
  src/pudl/metadata/enums.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/non_utility_plant.csv
  src/pudl/package_data/rus12/column_maps/utility_plant_accumulated_depreciation.csv
  src/pudl/transform/rus12.py
Due: none

Update duckdb intersphinx inventory URL. Bonus redirect to nightly not latest.
  docs/conf.py
  docs/latest_redirect.html
Due: none

Use lts (1.4) instead of current (1.5)
  docs/conf.py
Due: none

Update duckdb intersphinx inventory URL (#5149)
  docs/conf.py
  docs/latest_redirect.html
Due: none

rename depish table to be more consistent w/ ferc1
  src/pudl/extract/rus12.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/depreciation.csv
  src/pudl/package_data/rus12/file_map.csv
  src/pudl/transform/rus12.py
Due: none

field definition -> schema migrations
  dbt/models/rus12/core_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/core_rus12__yearly_depreciation_misc/schema.yml
  dbt/models/rus12/core_rus12__yearly_non_utility_plant_changes/schema.yml
  dbt/models/rus12/core_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_misc/schema.yml
  dbt/models/rus12/out_rus12__yearly_non_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/core_rus7__yearly_materials_and_supplies/schema.yml
  dbt/models/rus7/core_rus7__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/out_rus7__yearly_utility_plant_changes/schema.yml
  migrations/versions/99e62bb14b04_add_rus_final_tables.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus12/column_maps/depreciation.csv
  src/pudl/transform/rus12.py
Due: none

add validations for rus7 table
  dbt/models/rus7/core_rus7__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/out_rus7__yearly_utility_plant_changes/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
Due: sort-row-counts

add rus12 util plant changes validations
  dbt/models/rus12/core_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/core_rus7__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/out_rus7__yearly_utility_plant_changes/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

add validations to rus12 non-utility asset tables
  dbt/models/rus12/core_rus12__yearly_non_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_non_utility_plant_changes/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

add rus12 depreciation misc validations
  dbt/models/rus12/core_rus12__yearly_depreciation_misc/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_misc/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

borken validations for depreciation
  dbt/models/rus12/out_rus12__yearly_depreciation_changes/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/99e62bb14b04_add_rus_final_tables.py
  src/pudl/metadata/enums.py
  src/pudl/package_data/rus12/column_maps/depreciation.csv
Due: sort-row-counts

Update extraction maps and handle fusion plant exception more gracefully
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eia860.py
Due: none

depreciation changes validtions
  dbt/models/rus12/core_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_changes/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

fix field descriptions, etc, responding to pr comments
  dbt/models/rus12/core_rus12__yearly_depreciation_changes/schema.yml
  migrations/versions/18771235c92f_add_rus_final_tables.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
Due: none

final validation fixes
  dbt/models/rus12/core_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/core_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_utility_plant_changes/schema.yml
Due: none

Fix two data integrity bugs in mcoe.py and io_managers.py
  src/pudl/analysis/mcoe.py
  src/pudl/dagster/io_managers.py
Due: none

ahhhhhh i mixed up less then with greater than when will my dyslexic ass learn (never)
  dbt/models/rus12/core_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_changes/schema.yml
Due: none

Separate dbt row count checks into a distinct nightly build stage
  builds/pudl_batch.sh
  tests/validate/row_counts_test.py
Due: none

testing.rst: improve --temp-pudl-input example and fix grammar
  docs/dev/testing.rst
Due: none

Integrate last 4 RUS tables (#5145)
  dbt/models/rus12/core_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/core_rus12__yearly_depreciation_misc/schema.yml
  dbt/models/rus12/core_rus12__yearly_non_utility_plant_changes/schema.yml
  dbt/models/rus12/core_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_depreciation_misc/schema.yml
  dbt/models/rus12/out_rus12__yearly_non_utility_plant_changes/schema.yml
  dbt/models/rus12/out_rus12__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/core_rus7__yearly_materials_and_supplies/schema.yml
  dbt/models/rus7/core_rus7__yearly_utility_plant_changes/schema.yml
  dbt/models/rus7/out_rus7__yearly_utility_plant_changes/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/18771235c92f_add_rus_final_tables.py
  src/pudl/extract/rus12.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus12/column_maps/depreciation.csv
  src/pudl/package_data/rus12/column_maps/non_utility_plant.csv
  src/pudl/package_data/rus12/column_maps/utility_plant_changes.csv
  src/pudl/package_data/rus12/file_map.csv
  src/pudl/package_data/rus7/column_maps/utility_plant_changes.csv
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
Due: sort-row-counts

Fix pixi pytest-integration task to run data tests in CI
  .github/workflows/pytest.yml
  pixi.lock
  pyproject.toml
Due: conda-lock

Enforce uniform acronym class name capitalization
  AGENTS.md
  docs/release_notes.rst
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/provenance.py
  src/pudl/extract/ferc1.py
  src/pudl/settings.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/dagster/provenance_test.py
  tests/unit/settings_test.py
Due: none

docs: make sure @andbusch gets credit for their work
  docs/release_notes.rst
Due: none

docs: fix contrib feedback form link
  CONTRIBUTING.rst
Due: none

Credit andbusch (#5151)
  CONTRIBUTING.rst
  docs/release_notes.rst
Due: none

Redirect to nightly instead of latest (gh-pages version)
  index.html
Due: none

[chore] update Zenodo DOIs to latest versions
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Update PR workflow checklist
  AGENTS.md
Due: none

Replace pre-commit with prek for faster hook execution
  .github/workflows/build-deploy-docs.yml
  .github/workflows/deploy-pudl.yml
  .github/workflows/update-dois.yml
  .github/workflows/update-lockfiles.yml
  .pre-commit-config.yaml
  .secrets.baseline
  AGENTS.md
  docs/dev/dev_setup.rst
  notebooks/work-in-progress/eia191-annual-vs-monthly.ipynb
  pixi.lock
  pyproject.toml
Due: nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
