Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Remove unused helper function
  src/pudl/transform/vcerare.py
Due: none

Expand docstring for pandera schema check asset_check factory
  src/pudl/etl/asset_checks.py
Due: none

Fix spelling errors found by typos linter.
  docs/release_notes.rst
  src/pudl/transform/ferc1.py
Due: none

Update Docker container image version.
  docker/Dockerfile
Due: none

Ignore ruff ICN002 errors about import geopandas as gpd
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/spatial.py
  src/pudl/analysis/state_demand.py
  src/pudl/etl/asset_checks.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
  test/integration/console_scripts_test.py
  test/unit/analysis/spatial_test.py
  test/unit/analysis/state_demand_test.py
Due: none

Set missing mass_measurement_code values to NULL in EPA CEMS
  src/pudl/metadata/enums.py
  src/pudl/transform/epacems.py
Due: none

schema migration
  dbt/models/rus12/core_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_operations_by_borrower/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_operations_by_plant/schema.yml
  migrations/versions/676873eaccce_rus12_transform_phase_4.py
  src/pudl/extract/rus12.py
  src/pudl/helpers.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/combined_cycle_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/hydroelectric_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/internal_combustion_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/nuclear_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/sources_and_distribution.csv
  src/pudl/package_data/rus12/column_maps/steam_plant_operations.csv
  src/pudl/transform/rus12.py
Due: none

add release notes
  docs/release_notes.rst
Due: none

Don't do conent validation on high memory assets
  src/pudl/etl/__init__.py
  src/pudl/etl/asset_checks.py
Due: none

Avoid polars warnings about collecting schema
  src/pudl/etl/asset_checks.py
Due: none

Extract new data and handle additional tech description exception
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eia860.py
Due: none

Update release notes to include expanded schema checks
  docs/release_notes.rst
Due: none

Remove bad timezone value from eqr constraints
  src/pudl/metadata/fields.py
Due: none

Add EPA CEMS Part 75 docs and add RUS to docs-clean pixi task
  docs/conf.py
  docs/data_sources/epacems/plain_english_guide_to_the_part_75_rule.pdf
  docs/templates/epacems_child.rst.jinja
  pixi.lock
  pyproject.toml
Due: conda-lock

Explain 'other' value in CEMS ENUM
  src/pudl/metadata/enums.py
Due: none

Set missing mass_measurement_code values to NULL in EPA CEMS (#5041)
  docs/conf.py
  docs/data_sources/epacems/plain_english_guide_to_the_part_75_rule.pdf
  docs/templates/epacems_child.rst.jinja
  pixi.lock
  pyproject.toml
  src/pudl/metadata/enums.py
  src/pudl/transform/epacems.py
Due: conda-lock

Update release notes
  docs/release_notes.rst
Due: none

Add rus7 loan guarantees table
  dbt/models/rus7/core_rus7__yearly_loan_guarantees/schema.yml
  migrations/versions/cfa8ea66ecb7_rus.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus7/column_maps/loan_guarantees.csv
  src/pudl/transform/rus.py
  src/pudl/transform/rus7.py
Due: none

Update EIA-923 FRC table metadata & descriptions.
  dbt/models/eia923/core_eia923__fuel_receipts_costs/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/index.rst
  docs/templates/eiaapi_child.rst.jinja
  migrations/versions/ae144ab77d85_update_frc_eia923_tables.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/output/eia923.py
  src/pudl/output/eiaapi.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia923.py
Due: sort-row-counts

Exclude EIA860 plant FKs for un-aggregated EIA923 FRC tables.
  migrations/versions/9e1194f1487c_exclude_frc_table_fks.py
  src/pudl/metadata/resources/eia860.py
Due: none

Add rus12 loan guarantees table and combine loan guarantees tables with loans tables in rus12 and rus7
  dbt/models/rus12/core_rus12__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  migrations/versions/d746cb9cf646_rus.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus12/column_maps/loans.csv
  src/pudl/package_data/rus7/column_maps/distribution_loans.csv
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
Due: none

Make sure all frc tables with monthly dates are excluded from foreign key checks on eia860 scd tables with annual granularity
  src/pudl/metadata/resources/eia860.py
Due: none

Add rus7 loans table
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  src/pudl/metadata/resources/rus7.py
  src/pudl/transform/rus7.py
Due: none

Add OC/funders badge to README
  README.rst
Due: none

Add rus7 ratio table
  dbt/models/rus7/core_rus7__yearly_encumbrance_ratio/schema.yml
  migrations/versions/302ab8814154_rus.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus7/column_maps/ratio.csv
  src/pudl/transform/rus7.py
Due: none

Add rus12 ratio table
  dbt/models/rus12/core_rus12__yearly_encumbrance_ratio/schema.yml
  migrations/versions/8c43d8bc088b_rus.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/ratio.csv
  src/pudl/transform/rus12.py
Due: none

Add release notes
  docs/release_notes.rst
Due: none

Fix metadata on noncompliant tables (#5029)
  README.rst
  dbt/models/eia923/core_eia923__fuel_receipts_costs/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/index.rst
  docs/release_notes.rst
  docs/templates/eiaapi_child.rst.jinja
  migrations/versions/9e1194f1487c_exclude_frc_table_fks.py
  migrations/versions/ae144ab77d85_update_frc_eia923_tables.py
  src/pudl/metadata/resources/censusdp1tract.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/output/eia923.py
  src/pudl/output/eiaapi.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia923.py
  test/unit/metadata_test.py
Due: sort-row-counts

Add direct table preview links to PUDL data dictionary
  docs/templates/access_examples/core_epacems__hourly_emissions.rst.jinja
  docs/templates/access_examples/core_ferceqr__contracts.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_identity.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_index_pub.rst.jinja
  docs/templates/access_examples/core_ferceqr__transactions.rst.jinja
  docs/templates/access_examples/default.rst.jinja
  docs/templates/access_examples/out_vcerare__hourly_available_capacity_factor.rst.jinja
  docs/templates/data_source_parent.rst.jinja
Due: none

respond to pr comments
  dbt/models/rus12/core_rus12__yearly_plant_costs/schema.yml
  docs/release_notes.rst
  migrations/versions/4c3808642f32_rus12_transform_phase_4.py
  src/pudl/extract/rus12.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/combined_cycle_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/hydroelectric_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/internal_combustion_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/nuclear_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/statement_of_operations.csv
  src/pudl/package_data/rus12/column_maps/steam_plant_costs.csv
  src/pudl/transform/rus12.py
Due: none

fix alembic migrations and convert all hydroelectric to hydro
  migrations/versions/4c3808642f32_rus12_transform_phase_4.py
  src/pudl/extract/rus12.py
  src/pudl/package_data/rus12/column_maps/hydro_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/hydro_plant_operations.csv
  src/pudl/package_data/rus12/file_map.csv
  src/pudl/transform/rus12.py
Due: none

Add direct table preview links to PUDL data dictionary (#5047)
  docs/templates/access_examples/core_epacems__hourly_emissions.rst.jinja
  docs/templates/access_examples/core_ferceqr__contracts.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_identity.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_index_pub.rst.jinja
  docs/templates/access_examples/core_ferceqr__transactions.rst.jinja
  docs/templates/access_examples/default.rst.jinja
  docs/templates/access_examples/out_vcerare__hourly_available_capacity_factor.rst.jinja
  docs/templates/data_source_parent.rst.jinja
Due: none

bb resource grammering/clarifying
  src/pudl/metadata/resources/rus12.py
Due: none

Transform next tranche of RUS 12 tables (#5018)
  dbt/models/rus12/core_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_operations_by_borrower/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_operations_by_plant/schema.yml
  docs/release_notes.rst
  docs/templates/rus12_child.rst.jinja
  docs/templates/rus7_child.rst.jinja
  migrations/versions/4c3808642f32_rus12_transform_phase_4.py
  src/pudl/extract/rus12.py
  src/pudl/helpers.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/combined_cycle_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/combined_cycle_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/hydro_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/hydro_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/internal_combustion_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/internal_combustion_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/nuclear_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/nuclear_plant_operations.csv
  src/pudl/package_data/rus12/column_maps/sources_and_distribution.csv
  src/pudl/package_data/rus12/column_maps/statement_of_operations.csv
  src/pudl/package_data/rus12/column_maps/steam_plant_costs.csv
  src/pudl/package_data/rus12/column_maps/steam_plant_operations.csv
  src/pudl/package_data/rus12/file_map.csv
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
Due: none

Map IDs and update rows
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: sort-row-counts

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Add row count check to rus tables
  dbt/models/rus12/core_rus12__scd_borrowers/schema.yml
  dbt/models/rus12/core_rus12__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus12/core_rus12__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus12/core_rus12__yearly_encumbrance_ratio/schema.yml
  dbt/models/rus12/core_rus12__yearly_investments/schema.yml
  dbt/models/rus12/core_rus12__yearly_lines_stations_labor_materials_cost/schema.yml
  dbt/models/rus12/core_rus12__yearly_loans/schema.yml
  dbt/models/rus12/core_rus12__yearly_long_term_debt/schema.yml
  dbt/models/rus12/core_rus12__yearly_meeting_and_board/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_labor/schema.yml
  dbt/models/rus12/core_rus12__yearly_renewable_plants/schema.yml
  dbt/models/rus12/core_rus12__yearly_sources_and_distribution/schema.yml
  dbt/models/rus12/core_rus12__yearly_sources_and_distribution_by_plant_type/schema.yml
  dbt/models/rus12/core_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/core_rus7__scd_borrowers/schema.yml
  dbt/models/rus7/core_rus7__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus7/core_rus7__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus7/core_rus7__yearly_employee_statistics/schema.yml
  dbt/models/rus7/core_rus7__yearly_encumbrance_ratio/schema.yml
  dbt/models/rus7/core_rus7__yearly_energy_efficiency/schema.yml
  dbt/models/rus7/core_rus7__yearly_investments/schema.yml
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_long_term_debt/schema.yml
  dbt/models/rus7/core_rus7__yearly_long_term_leases/schema.yml
  dbt/models/rus7/core_rus7__yearly_meeting_and_board/schema.yml
  dbt/models/rus7/core_rus7__yearly_patronage_capital/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements_electric_customers/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements_electric_sales/schema.yml
  dbt/models/rus7/core_rus7__yearly_statement_of_operations/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Add auto-zenodo-doi updater to CLI
  .github/workflows/update-dois.yml
  pixi.lock
  pyproject.toml
  src/pudl/scripts/update_zenodo_dois.py
Due: conda-lock

Standardize emissions control test date cleaning.
  src/pudl/transform/eia923.py
  test/unit/transform/eia923_test.py
Due: none
