Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Make deduping non-numeric cols more generic
  src/pudl/transform/eia861.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Fix merge in fields.py
  src/pudl/metadata/fields.py
Due: none

Encode state column, drop duplicate field, update expected mismatches code to handle fast ETL
  migrations/versions/c191da5fd3ff_add_phmsa_install_by_decade_table.py
  src/pudl/metadata/fields.py
  src/pudl/transform/phmsagas.py
Due: none

Update row counts, sneak in fix to 176 schema
  dbt/schema_inputs/eia176/core_eia176__yearly_company_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Regenerate outdated core_eia176__yearly_company_characteristics/schema.yml
  dbt/models/eia176/core_eia176__yearly_company_characteristics/schema.yml
Due: none

Update console script test to use 2025 EIA-861 data
  tests/integration/scripts/console_scripts_test.py
Due: none

Create `core_phmsagas__yearly_distribution_by_install_decade` table (#5443)
  dbt/models/eia176/core_eia176__yearly_company_characteristics/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/schema_inputs/eia176/core_eia176__yearly_company_characteristics/schema.human.yml
  dbt/schema_inputs/phmsagas/core_phmsagas__yearly_distribution_by_install_decade/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/c191da5fd3ff_add_phmsa_install_by_decade_table.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: sort-row-counts

Integrate 2025 EIA-861 er (#5493)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia861/column_maps/advanced_metering_infrastructure_eia861.csv
  src/pudl/package_data/eia861/column_maps/balancing_authority_eia861.csv
  src/pudl/package_data/eia861/column_maps/delivery_companies_eia861.csv
  src/pudl/package_data/eia861/column_maps/demand_response_eia861.csv
  src/pudl/package_data/eia861/column_maps/distribution_systems_eia861.csv
  src/pudl/package_data/eia861/column_maps/dynamic_pricing_eia861.csv
  src/pudl/package_data/eia861/column_maps/energy_efficiency_eia861.csv
  src/pudl/package_data/eia861/column_maps/frame_eia861.csv
  src/pudl/package_data/eia861/column_maps/mergers_eia861.csv
  src/pudl/package_data/eia861/column_maps/net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/non_net_metering_eia861.csv
  src/pudl/package_data/eia861/column_maps/operational_data_eia861.csv
  src/pudl/package_data/eia861/column_maps/reliability_eia861.csv
  src/pudl/package_data/eia861/column_maps/sales_eia861.csv
  src/pudl/package_data/eia861/column_maps/service_territory_eia861.csv
  src/pudl/package_data/eia861/column_maps/short_form_eia861.csv
  src/pudl/package_data/eia861/column_maps/utility_data_eia861.csv
  src/pudl/package_data/eia861/file_map.csv
  src/pudl/package_data/eia861/page_map.csv
  src/pudl/package_data/eia861/skipfooter.csv
  src/pudl/package_data/eia861/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eia861.py
  tests/integration/scripts/console_scripts_test.py
Due: sort-row-counts

Fix owner utility IDs in ownership-scaled gens
  docs/release_notes.rst
  src/pudl/helpers.py
  tests/unit/analysis/plant_parts_eia_test.py
Due: none

Fix non-deterministic tiebreaks in EIA entity resolution and plant parts
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/helpers.py
  src/pudl/transform/eia.py
  tests/unit/analysis/plant_parts_eia_test.py
  tests/unit/helpers_test.py
  tests/unit/transform/eia_test.py
Due: none

Fix add_null_overrides wiping condensed report_date/id columns
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  tests/unit/analysis/eia_ferc1_record_linkage_test.py
Due: sort-row-counts

Pare down unstable row-count tests
  tests/unit/analysis/plant_parts_eia_test.py
  tests/unit/transform/eia_test.py
  tests/unit/transform/sec10k_test.py
Due: none

Fix non-deterministic subsidiary-to-filer matches; retire stale row-count range checks
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_rate_base/schema.human.yml
  dbt/schema_inputs/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/transform/sec10k.py
  tests/unit/transform/sec10k_test.py
Due: sort-row-counts

Update row counts for plant parts tables
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update note about unstable row-counts
  docs/methodology/entity_resolution.rst
Due: none

Mock Zulip notification in test_zenodo_data_release
  tests/integration/scripts/console_scripts_test.py
Due: none

Move pipeline-dependent tests from tests/integration to tests/pipeline
  tests/pipeline/analysis/__init__.py
  tests/pipeline/analysis/ferc1_eia_train_test.py
  tests/pipeline/analysis/plant_parts_eia_test.py
  tests/pipeline/analysis/timeseries_plot_test.py
  tests/pipeline/dagster/__init__.py
  tests/pipeline/dagster/geoparquet_test.py
  tests/pipeline/dagster/pipeline_test.py
  tests/pipeline/extract/__init__.py
  tests/pipeline/extract/ferc_dbf_extract_test.py
  tests/pipeline/extract/ferc_xbrl_extract_test.py
  tests/pipeline/glue/__init__.py
  tests/pipeline/glue/glue_test.py
  tests/pipeline/notebooks_test.py
  tests/pipeline/scripts/__init__.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/pipeline/validate/__init__.py
  tests/pipeline/validate/dbt_test.py
Due: none

Add reverse ETL-fixture guardrail and document workerinput guards
  tests/conftest.py
Due: none

Add issue reference for test reorg
  docs/release_notes.rst
Due: none

Update dev docs and add release notes for the test reorg
  docs/dev/existing_data_updates.rst
  docs/dev/nightly_data_builds.rst
  docs/dev/testing.rst
  docs/release_notes.rst
Due: none

Strengthen dbt schema round-trip test; drop order-insensitive fallback
  tests/integration/dbt_schema_round_trip_test.py
Due: none

Split mixed pipeline/non-pipeline test files
  tests/integration/dagster/__init__.py
  tests/integration/extract/ferc_dbf_extract_test.py
  tests/integration/glue/__init__.py
  tests/integration/scripts/console_scripts_test.py
  tests/integration/validate/dbt_test.py
  tests/pipeline/extract/ferc_dbf_extract_test.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/pipeline/validate/dbt_test.py
Due: none

Add guardrail against ETL-dependent tests outside tests/pipeline
  tests/conftest.py
Due: none

Exclude ferceqr_test.py from pytest-pipeline tasks
  pyproject.toml
Due: conda-lock

Rewire pixi tasks and CI workflow for the tests/integration split
  .github/workflows/docker-build-test.yml
  .github/workflows/pytest.yml
  .github/workflows/warm-gha-caches.yml
  builds/pudl_batch.sh
  docs/dev/pudl_id_mapping.rst
  pyproject.toml
  src/pudl/package_data/settings/etl_fast.yml
  tests/pipeline/dagster/geoparquet_test.py
Due: conda-lock

Remove unused slow marker from unit tests
  .pre-commit-config.yaml
  pyproject.toml
  tests/unit/dagster/io_managers_test.py
  tests/unit/settings_test.py
  tests/unit/transform/ferc1_test.py
Due: conda-lock

Update pixi lockfile, pre-commit hooks, dbt deps, and Docker base image
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  builds/Dockerfile
  dbt/package-lock.yml
  pixi.lock
Due: none

Support tuple subcomponents in sum-to-total dbt test
  dbt/macros/expect_subcomponents_sum_to_total.sql
  dbt/tests/unit_tests/test_subcomponents_sum_to_total.sql
Due: none

Complete totals validation of RUS-12 plant costs tables
  dbt/models/rus12/core_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_costs/schema.yml
  dbt/schema_inputs/rus12/core_rus12__yearly_plant_costs/schema.human.yml
  dbt/schema_inputs/rus12/out_rus12__yearly_plant_costs/schema.human.yml
Due: none

Add release notes for RUS-12 plant costs validation
  docs/release_notes.rst
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
