Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

oopsies add FK exceptions for the output tables
  migrations/versions/8863b5470880_add_rus_output_tables.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Add note to product_name column
  src/pudl/metadata/fields.py
Due: none

Fix power source table and add row counts
  dbt/models/rus12/core_rus12__yearly_demand_and_energy_at_delivery_points/schema.yml
  dbt/models/rus12/core_rus12__yearly_demand_and_energy_at_power_sources/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/transform/rus12.py
Due: sort-row-counts

Add release notes, fix docs build issue, add comment in product_name fields
  docs/release_notes.rst
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
Due: none

Add release notes, fix docs build issue
  docs/conf.py
  docs/release_notes.rst
Due: none

Add rus12 plant factor and demand table
  dbt/models/rus12/core_rus12__yearly_plant_factors_and_maximum_demand/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/ac1dd74e5fd2_add_rus12_plant_factors_and_demand_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/transform/rus12.py
Due: sort-row-counts

Make CI docs build resilient to intersphinx outages.
  .github/workflows/pytest.yml
  docs/conf.py
Due: none

Fix null eqr columns (#5085)
  docs/conf.py
  docs/release_notes.rst
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/transform/ferceqr.py
Due: none

Update docs about docs build and add release notes.
  docs/dev/build_docs.rst
  docs/release_notes.rst
Due: none

Fix docstring reference to pandas timeseries functions
  docs/dev/build_docs.rst
  src/pudl/helpers.py
Due: none

Investigate RP7 annual vs RP8 monthly EIA-191 data (#4755)
  notebooks/work-in-progress/eia191-annual-vs-monthly.ipynb
Due: nb-output-clear

Add EIA-191 RP8 monthly gas storage ETL
  notebooks/work-in-progress/eia191-rp8-exploration.ipynb
  src/pudl/etl/__init__.py
  src/pudl/extract/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/__init__.py
  src/pudl/transform/eia191.py
Due: nb-output-clear

Add EIA-191 field metadata and resource schema
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
Due: none

Add dbt validation schema for core_eia191__monthly_gas_storage
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
Due: none

exploration notebook updated with proper id column name
  notebooks/work-in-progress/eia191-rp8-exploration.ipynb
Due: nb-output-clear

Reduce verbosity of docs build output
  pixi.lock
  pyproject.toml
Due: conda-lock

Make docs CI resilient to intersphinx outage (#5095)
  .github/workflows/pytest.yml
  docs/conf.py
  docs/dev/build_docs.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
Due: conda-lock

Remove references to docs-build-full pixi task.
  .github/workflows/build-deploy-docs.yml
  .readthedocs.yaml
  pixi.lock
  pyproject.toml
Due: conda-lock

Bring pixi.lock from main.
  pixi.lock
Due: none

Bring run_the_etl.rst from main
  docs/dev/run_the_etl.rst
Due: none

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

Migrate agent customization into separate skills repo
  .github/.gitignore
  .github/agents/pudl-cat.agent.md
  .github/instructions/code-quality.instructions.md
  .github/instructions/dbt-data-validation.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/metadata.instructions.md
  .github/instructions/python-style.instructions.md
  .github/instructions/testing.instructions.md
  .github/skills/.gitignore
  .github/skills/alembic/SKILL.md
  .github/skills/code-quality/SKILL.md
  .github/skills/dbt/SKILL.md
  .github/skills/pudl-dev/SKILL.md
  .github/skills/pudl-dev/references/contributor-workflow.md
  .github/skills/pudl-dev/references/dagster-and-assets.md
  .github/skills/pudl-dev/references/datapackage.schema.json
  .github/skills/pudl-dev/references/dev-setup-and-etl.md
  .github/skills/pudl-dev/references/docs-generation-traceability.md
  .github/skills/pudl-dev/references/id-mapping-and-entity-linkages.md
  .github/skills/pudl-dev/references/metadata-and-schema.md
  .github/skills/pudl-dev/references/releases-and-operations.md
  .github/skills/pudl-dev/references/testing-and-validation.md
  .github/skills/pudl/SKILL.md
  .github/skills/pudl/references/data-access-and-outputs.md
  .github/skills/pudl/references/data-sources-dictionaries-and-methodology.md
  .github/skills/pudl/references/metadata-and-querying.md
  .github/skills/pytest/SKILL.md
  AGENTS.md
Due: none

Update pixi lockfile, pre-commit hooks, and dbt deps
  pixi.lock
Due: none

Remove some leftover bits from agent-skills branch.
  AGENTS.md
  docs/release_notes.rst
Due: none

Bring in pixi.lock from main
  pixi.lock
Due: none

Bump grpcio to 1.78.0; unpin pyarrow
  pixi.lock
  pyproject.toml
Due: conda-lock

Dependabot 2026 03 16 (#5101)
  .github/workflows/bot-auto-merge.yml
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/com-dev-notify.yml
  .github/workflows/pytest.yml
  .github/workflows/release.yml
  .github/workflows/update-lockfiles.yml
  .github/workflows/zenodo-data-release.yml
Due: none

Simplify macro
  dbt/macros/expect_subcomponents_sum_to_total.sql
Due: none

Pull pixi.lock in from main
  pixi.lock
Due: none

Respond to review feedback, update validations for output tables, update migration for output table, update release notes
  dbt/macros/expect_subcomponents_sum_to_total.sql
  dbt/models/rus12/core_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/out_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/core_rus7__yearly_energy_efficiency/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements_electric_customers/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements_electric_sales/schema.yml
  dbt/models/rus7/out_rus7__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus7/out_rus7__yearly_energy_efficiency/schema.yml
  dbt/models/rus7/out_rus7__yearly_patronage_capital/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements_electric_customers/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements_electric_sales/schema.yml
  dbt/models/rus7/out_rus7__yearly_statement_of_operations/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/8c13e0fc4c8d_rename_balance_to_ending_balance_for_.py
Due: sort-row-counts

Add rus7 energy purchased table
  dbt/models/rus7/core_rus7__yearly_energy_purchased/schema.yml
  migrations/versions/e666ac483bb6_add_rus7_energy_purchased_table.py
  src/pudl/extract/rus7.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus7/column_maps/energy_purchased.csv
  src/pudl/transform/rus7.py
Due: none

Address PR comments.
  docs/release_notes.rst
  src/pudl/etl/asset_checks.py
  src/pudl/helpers.py
  test/unit/helpers_test.py
Due: none

Work around SphinxAPI class attribute docstring bug.
  src/pudl/helpers.py
Due: none

Migrate column stacks to enums
  src/pudl/metadata/enums.py
  src/pudl/transform/rus7.py
Due: none

feat: manage skills with npx skills tool
  .github/skills
  AGENTS.md
  CLAUDE.md
  docs/dev/dev_setup.rst
  pyproject.toml
  skills-lock.json
Due: conda-lock

Update copyright dates in LICENSE file
  LICENSE.txt
Due: none
