Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Update agent skills and automate the process
  .github/workflows/update-lockfiles.yml
  AGENTS.md
  devtools/update_skills.sh
  skills-lock.json
Due: none

Enforce FERC SQLite prerequisite ordering
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  tests/unit/dagster/ferc_to_sqlite_test.py
Due: none

Enlarge the nightly build VM and raise memory concurrency
  .github/workflows/build-pudl.yml
  src/pudl/package_data/settings/dg_nightly.yml
Due: none

Rebalance extraction scheduling priorities
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc714.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/vcerare.py
  tests/unit/dagster/ferc_to_sqlite_test.py
Due: none

Crank up OMP_NUM_THREADS to speed imputation
  .github/workflows/build-pudl.yml
Due: none

Centralize scheduling-priority op tags via helper
  src/pudl/analysis/mcoe.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/extract/vcerare.py
  src/pudl/output/rus.py
  src/pudl/scripts/hot_path.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/vcerare.py
Due: none

Prioritize critical-path assets with HOT_PATH_OP_TAGS
  .github/workflows/build-pudl.yml
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/assets/core/eiaapi_electricity.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/censuspep.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia923.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/eiaapi.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/scripts/hot_path.py
  src/pudl/transform/censuspep.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  tests/unit/scripts/hot_path_test.py
Due: conda-lock

Update release notes
  docs/release_notes.rst
Due: none

Reduce CPU oversubscription in the nightly ETL
  .github/workflows/build-pudl.yml
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/extract/vcerare.py
  src/pudl/output/rus.py
  src/pudl/package_data/settings/dg_nightly.yml
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/vcerare.py
Due: none

Add an OOM post-mortem for the nightly PUDL build
  builds/dagster-pudl.yaml
  builds/pudl_batch.sh
  pyproject.toml
  src/pudl/scripts/pudl_dagster_postmortem.py
  tests/unit/scripts/pudl_dagster_postmortem_test.py
Due: conda-lock

Explain row-count discrepancies from gen-fuel status fix
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Explain row-count discrepancies from gen-fuel status fix (#5581)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Checkout the git ref whose metadata we are trying to deploy to Zenodo
  .github/workflows/zenodo-data-release.yml
Due: none

Update pixi lockfile, pre-commit hooks, dbt deps, Docker base image, and agent skills
  pixi.lock
Due: none

Add empty v2026.10.0 release notes section
  docs/release_notes.rst
Due: none

Add empty v2026.10.0 release notes section (#5584)
  docs/release_notes.rst
Due: none

Move release note up into v2026.10.0 section
  docs/release_notes.rst
Due: none

pandas 3: fix EIA-860 ownership spot-fix and FERC1 row_type dtype
  src/pudl/transform/eia860.py
  src/pudl/transform/ferc1.py
Due: none

pandas 3: fix ETL transform breakages
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/helpers.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/sec10k.py
Due: none

pandas 3: coerce mixed-reporting percent columns to numeric
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Migrate transform code to pandas 3.0
  docs/release_notes.rst
  pyproject.toml
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/extract/eiaapi.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/helpers.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/phmsagas.py
  tests/unit/analysis/plant_parts_eia_test.py
  tests/unit/extract/eiaapi_test.py
  tests/unit/helpers_test.py
  tests/unit/output/ferc1_test.py
  tests/unit/transform/eia923_test.py
Due: conda-lock

Update pixi.lock
  pixi.lock
Due: none

Upgrade to pandas 3
  pyproject.toml
Due: conda-lock

Dagsterize FERC1/EIA unmapped ID mapping inputs
  docs/dev/pudl_id_mapping.rst
  docs/dev/testing.rst
  docs/release_notes.rst
  pyproject.toml
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/core/unmapped_ids.py
  src/pudl/deploy/pudl.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/transform/ferc1.py
  tests/conftest.py
  tests/pipeline/glue/__init__.py
  tests/pipeline/glue/glue_test.py
  tests/unit/deploy/deploy_pudl_test.py
  tests/unit/glue/ferc1_eia_test.py
Due: conda-lock

Add operator utility IDs to gens by ownership
  dbt/models/eia/out_eia__yearly_generators_by_ownership/schema.yml
  docs/release_notes.rst
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  tests/unit/analysis/plant_parts_eia_test.py
Due: none

Replace alias pudl_io_manager with direct parquet_io_manager (#5574)
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/operational_characteristics.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/service_territory.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/core/eiaapi_electricity.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/core/static.py
  src/pudl/dagster/build.py
  src/pudl/dagster/io_managers.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/output/rus.py
  src/pudl/output/sec10k.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia176.py
  src/pudl/transform/eia191.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia860m.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/ferccid.py
  src/pudl/transform/gridpathratoolkit.py
  src/pudl/transform/nrelatb.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/sec10k.py
Due: none

Silence third-party test warnings, fix ours at the source
  pyproject.toml
  src/pudl/__init__.py
  src/pudl/extract/eiaapi.py
  src/pudl/output/ferc1.py
  src/pudl/transform/eia923.py
Due: conda-lock

Address review feedback on MATS transform
  src/pudl/metadata/enums.py
  src/pudl/metadata/resources/epamats.py
  src/pudl/transform/epamats.py
Due: none

Update DOI and file mappings for extraction
  src/pudl/package_data/eia860/column_maps/generator_existing.csv
  src/pudl/package_data/eia860/column_maps/generator_retired.csv
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Fix ResourceDependency types and Optional-narrowing gaps
  .pyrefly-baseline.json
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/resources.py
  src/pudl/extract/dbf.py
Due: none

Use pyrefly 1.3 baseline format; fix nx bug
  .pyrefly-baseline.json
  AGENTS.md
  pyproject.toml
  src/pudl/output/ferc1.py
  src/pudl/scripts/pyrefly_diff_baseline.py
Due: conda-lock

Clean up AGENTS.md pyrefly section and some assert statements
  AGENTS.md
  src/pudl/transform/classes.py
Due: none

Fix Optional-narrowing gaps and dedupe pyrefly baseline
  .pyrefly-baseline.json
  pyproject.toml
  src/pudl/transform/classes.py
  src/pudl/workspace/datastore.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/validate/dbt_schema_drift_test.py
Due: conda-lock

Fix two type errors found via pyrefly baseline review
  .pyrefly-baseline.json
  pyproject.toml
  src/pudl/metadata/classes.py
  src/pudl/transform/ferc1.py
Due: conda-lock
