Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Apply safe ruff 0.16 auto-fixes
  .pre-commit-config.yaml
  builds/ferceqr_cleanup_staging.py
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/record_linkage/eia_ferc1_inputs.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  src/pudl/extract/csv.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/scripts/generate_pudl_duckdb.py
  src/pudl/scripts/metadata_to_rst.py
  src/pudl/scripts/pudl_check_fks.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/scripts/pudl_deploy.py
  src/pudl/scripts/pudl_service_territories.py
  src/pudl/scripts/resource_description.py
  src/pudl/scripts/zenodo_data_release.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/nrelatb.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/validate/integrity.py
  tests/conftest.py
  tests/unit/scripts/pudl_deploy_test.py
  tests/unit/scripts/zenodo_data_release_test.py
  tests/unit/settings_test.py
  tests/unit/transform/eia923_test.py
  tests/unit/transform/epacems_test.py
  tests/unit/transform/vcerare_test.py
Due: conda-lock

Sanitize batch IDs for deploy/build jobs (#5429)
  .github/workflows/build-pudl.yml
  .github/workflows/deploy-pudl.yml
  src/pudl/deploy/pudl.py
  tests/unit/deploy/deploy_pudl_test.py
Due: none

Make release notes more concise
  docs/release_notes.rst
Due: none

Switch from Enum to Categorical in dataframe schemas (#5434)
  docs/release_notes.rst
  pyproject.toml
  src/pudl/dagster/asset_checks.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  tests/unit/dagster/asset_checks_test.py
Due: conda-lock

Update extraction to include 2025 FERC 714 data
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Reduce sizeable_minority_corrections match threshold from 10 to 5 dollars
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/output/ferc1.py
Due: sort-row-counts

Add respondent ID, characterize missing time windows
  src/pudl/package_data/glue/respondent_id_ferc714.csv
  src/pudl/transform/ferc714.py
Due: none

Add real abstract to ittner_coal_2026 PhD Thesis citation
  docs/catalyst_cites.bib
Due: none

wip: all works except final dtypes
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

using polars concat takes about the same amount of time and is less modular
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

the state based asset factory takes sub 8 mins so one whole min faster
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

[chore] update Zenodo DOIs to latest versions
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Add real abstract to ittner_coal_2026 PhD Thesis citation (#5438)
  docs/catalyst_cites.bib
Due: none

Fix eia191 and update row counts
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/extract/eia191.py
Due: sort-row-counts

Add auto DOI updates to release notes
  docs/release_notes.rst
Due: none

temporarily comment out all the eia-based other outputs and clean up the code a bit
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

prep for alembic migration
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

oops checkout cites doc
  docs/catalyst_cites.bib
Due: none

alembic-ify
  migrations/versions/3eddeab5d6d9_add_new_cems_derived_table.py
  src/pudl/analysis/derived_plant_characteristics.py
  src/pudl/metadata/resources/epacems.py
Due: none

repair row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Resolve duplicated records
  src/pudl/transform/ferc714.py
Due: none

Update dbt tests
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Extract MATS into a raw table (#5389)
  src/pudl/dagster/assets/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/epamats.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/settings.py
  src/pudl/workspace/datastore.py
Due: none

Update EIA 930 DOI
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

adding epamats transform
  src/pudl/dagster/assets/__init__.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epamats.py
  src/pudl/transform/__init__.py
  src/pudl/transform/epamats.py
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update EIA 930 2026H2 data (#5445)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/package_data/settings/zenodo_dois.yml
Due: sort-row-counts

WIP: Update EiaDataConfig validation
  src/pudl/settings.py
Due: none

Fix settings, add unit tests
  src/pudl/settings.py
  tests/unit/settings_test.py
Due: none

Make tests immune to changes in working partitions
  tests/unit/settings_test.py
Due: none

Fix codes row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Fix codes row counts (#5447)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts
