Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

fix: add .claude symlink too
  .claude/skills
Due: none

docs: explain `experimental_install`
  pyproject.toml
Due: conda-lock

chore: pixi re-lock
  pixi.lock
Due: none

chore: add pudl skill now that it's fixed
  skills-lock.json
Due: none

Write tables to db, validate, add table metadata
  dbt/models/rus7/core_rus7__yearly_customer_energy_efficiency_and_conservation_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_distribution_services/schema.yml
  dbt/models/rus7/core_rus7__yearly_owed_by_customers/schema.yml
  dbt/models/rus7/core_rus7__yearly_service_interruptions/schema.yml
  dbt/models/rus7/core_rus7__yearly_transmission_and_distribution_mileage/schema.yml
  dbt/models/rus7/out_rus7__yearly_customer_energy_efficiency_and_conservation_loans/schema.yml
  dbt/models/rus7/out_rus7__yearly_distribution_services/schema.yml
  dbt/models/rus7/out_rus7__yearly_owed_by_customers/schema.yml
  dbt/models/rus7/out_rus7__yearly_service_interruptions/schema.yml
  dbt/models/rus7/out_rus7__yearly_transmission_and_distribution_mileage/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/03fac0a0b14c_add_core_and_out_tables_for_mileage_.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus7/column_maps/owed_by_customers.csv
  src/pudl/transform/rus7.py
Due: sort-row-counts

early early transform new ferc1 depreciation table
  src/pudl/extract/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

Write tables to db, validate, add table metadata
  docs/release_notes.rst
  docs/templates/rus12_child.rst.jinja
  docs/templates/rus7_child.rst.jinja
Due: none

Add backfilling to plant_type field in plant_factor table
  src/pudl/metadata/resources/rus12.py
  src/pudl/transform/rus12.py
Due: none

chore: add skills-lock to the CI ignore-file.
  .github/workflows/pytest.yml
Due: none

feat: manage skills with npx skills tool (#5105)
  .claude/skills
  .github/skills
  .github/workflows/pytest.yml
  AGENTS.md
  CLAUDE.md
  docs/dev/dev_setup.rst
  pixi.lock
  pyproject.toml
  skills-lock.json
Due: conda-lock

Add agent-plans directory and dagster housekeeping plan
  devtools/agent-plans/dagster-housekeeping.md
Due: none

wip: debugging PUDL_OUTPUT test clobbering
  .github/skills~Updated upstream
  .github/workflows/pytest.yml
  pixi.lock
  pyproject.toml
  test/conftest.py
Due: conda-lock

Respond to review comments
  .github/workflows/update-dois.yml
  src/pudl/scripts/update_zenodo_dois.py
Due: none

Add labels for each dataset
  .github/workflows/update-dois.yml
Due: none

Update pixi.lock
  pixi.lock
Due: none

Polarize schema checks (#5043)
  LICENSE.txt
  docs/release_notes.rst
  src/pudl/etl/__init__.py
  src/pudl/etl/asset_checks.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/transform/vcerare.py
  test/unit/helpers_test.py
  test/unit/metadata_test.py
Due: none

Add rus7 materials and supplies table
  dbt/models/rus7/core_rus7__yearly_materials_and_supplies/schema.yml
  dbt/models/rus7/out_rus7__yearly_materials_and_supplies/schema.yml
  migrations/versions/707858eb2d22_.py
  migrations/versions/e22a5405a630_add_rus7_materials_and_supplies_table.py
  src/pudl/extract/rus7.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus7/column_maps/materials_and_supplies.csv
  src/pudl/transform/rus7.py
Due: none

Add directory for temporary agent scripts.
  devtools/agent-scripts/diagnose_scd_plants_new_keys.py
Due: none

remove numeric enum
  src/pudl/metadata/fields.py
Due: none

Update development documentation
  docs/dev/existing_data_updates.rst
Due: none

Update EIA 757A column mapping
  src/pudl/extract/eia757a.py
Due: none

Trim release notes
  docs/release_notes.rst
Due: none

Transform 3 additional RUS 7 tables (#5087)
  dbt/models/rus7/core_rus7__yearly_customer_energy_efficiency_and_conservation_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_distribution_services/schema.yml
  dbt/models/rus7/core_rus7__yearly_owed_by_customers/schema.yml
  dbt/models/rus7/core_rus7__yearly_service_interruptions/schema.yml
  dbt/models/rus7/core_rus7__yearly_transmission_and_distribution_mileage/schema.yml
  dbt/models/rus7/out_rus7__yearly_customer_energy_efficiency_and_conservation_loans/schema.yml
  dbt/models/rus7/out_rus7__yearly_distribution_services/schema.yml
  dbt/models/rus7/out_rus7__yearly_owed_by_customers/schema.yml
  dbt/models/rus7/out_rus7__yearly_service_interruptions/schema.yml
  dbt/models/rus7/out_rus7__yearly_transmission_and_distribution_mileage/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  docs/templates/rus12_child.rst.jinja
  docs/templates/rus7_child.rst.jinja
  migrations/versions/03fac0a0b14c_add_core_and_out_tables_for_mileage_.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus7/column_maps/owed_by_customers.csv
  src/pudl/transform/rus7.py
Due: sort-row-counts

Test functions in update_zenodo_dois
  src/pudl/scripts/update_zenodo_dois.py
  test/unit/scripts/test_auto_update_zenodo_dois.py
Due: none

Rename test to match script name
  test/unit/scripts/test_update_zenodo_dois.py
Due: none

Auto-update Zenodo DOIs in package data (#5051)
  .github/workflows/update-dois.yml
  docs/dev/existing_data_updates.rst
  pixi.lock
  pyproject.toml
  src/pudl/scripts/update_zenodo_dois.py
  test/unit/scripts/test_update_zenodo_dois.py
Due: conda-lock

Add entity harvesting methodology page
  docs/conf.py
  docs/methodology/entity_harvesting.rst
  docs/methodology/index.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
Due: conda-lock

Add comment clarifying conditional EIA-860M append in subsettable multi-asset.
  src/pudl/extract/eia860.py
Due: none

relock pixi file
  pixi.lock
Due: none

Add descriptions where row condition and subcomponents list present
  dbt/models/rus12/core_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus12/out_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/core_rus7__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/out_rus7__yearly_statement_of_operations/schema.yml
Due: none

Reorg deploy package
  src/pudl/deploy/__init__.py
  src/pudl/deploy/ferceqr.py
  src/pudl/deploy/pudl.py
  src/pudl/deployment/__init__.py
  src/pudl/etl/__init__.py
  src/pudl/scripts/deploy.py
  test/unit/deploy/test_deploy_pudl.py
Due: none

Fix some formatting and wording issues.
  docs/methodology/entity_harvesting.rst
  docs/release_notes.rst
Due: none

Add references to entity harvesting methodology page throughout docs
  docs/data_dictionaries/usage_warnings.rst
  docs/dev/existing_data_updates.rst
  docs/dev/naming_conventions.rst
  docs/index.rst
  docs/methodology/entity_harvesting.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/warnings.py
Due: conda-lock

Make build regex slightly less permissive
  src/pudl/deploy/pudl.py
Due: none

Edit some of the docs refs to harvesting
  docs/data_dictionaries/usage_warnings.rst
  docs/dev/naming_conventions.rst
Due: none

Fix PR creation to not overwrite branch
  .github/workflows/update-dois.yml
Due: none

[chore] update Zenodo DOIs to latest versions
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Rebase migrations
  migrations/versions/8c13e0fc4c8d_rename_balance_to_ending_balance_for_.py
Due: none

Validate components sum to totals for row-level sub-components, validate RUS 7 and 12 tables (#5073)
  dbt/macros/expect_subcomponents_sum_to_total.sql
  dbt/models/rus12/core_rus12__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus12/core_rus12__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/core_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus12/out_rus12__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus12/out_rus12__yearly_balance_sheet_liabilities/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_costs/schema.yml
  dbt/models/rus12/out_rus12__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/core_rus7__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus7/core_rus7__yearly_energy_efficiency/schema.yml
  dbt/models/rus7/core_rus7__yearly_patronage_capital/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements_electric_customers/schema.yml
  dbt/models/rus7/core_rus7__yearly_power_requirements_electric_sales/schema.yml
  dbt/models/rus7/core_rus7__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/out_rus7__yearly_balance_sheet_assets/schema.yml
  dbt/models/rus7/out_rus7__yearly_energy_efficiency/schema.yml
  dbt/models/rus7/out_rus7__yearly_patronage_capital/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements_electric_customers/schema.yml
  dbt/models/rus7/out_rus7__yearly_power_requirements_electric_sales/schema.yml
  dbt/models/rus7/out_rus7__yearly_statement_of_operations/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/8c13e0fc4c8d_rename_balance_to_ending_balance_for_.py
  migrations/versions/a4e2078b82ee_instantiate_new_base_migration.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/statement_of_operations.csv
  src/pudl/package_data/rus7/column_maps/statement_of_operations.csv
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
Due: sort-row-counts

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
