Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Pull sphinx-pydata version_match from build environment if available (#5178)
  .github/workflows/build-deploy-docs.yml
  docs/conf.py
Due: none

#5179 build docs on nightly, stable, and release tags, and use correct gitref pattern on job guard
  .github/workflows/build-deploy-docs.yml
Due: none

Switch row count partition to annual and regenerate seed counts for core_eia191__monthly_gas_storage
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update glue module calling of FERC transformer
  src/pudl/glue/ferc1_eia.py
Due: none

re-lock dependencies to get new pydantic and prek
  pixi.lock
  pyproject.toml
Due: conda-lock

EIA191 rp8 data integration (#5058)
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/8ea3f44edf13_eia191_monthly_gas_storage.py
  notebooks/work-in-progress/eia191-rp8-exploration.ipynb
  src/pudl/etl/__init__.py
  src/pudl/extract/eia191.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/transform/__init__.py
  src/pudl/transform/eia191.py
Due: sort-row-counts, nb-output-clear

Fix test_validate_asset_selection CI failure caused by dbt logging side effect
  src/pudl/dbt_wrapper.py
  src/pudl/scripts/dbt_helper.py
  test/integration/dbt_test.py
Due: none

Update pixi.lock to get new prek for osx-64
  pixi.lock
Due: none

Update glue module calling of FERC transformer
  src/pudl/transform/ferc1.py
Due: none

Update migrations
  migrations/versions/c163afae97db_add_identification_and_certification_.py
Due: none

Update EQR working partitions (#5177)
  src/pudl/metadata/sources.py
Due: none

Fix dangling old variable name and prevent clobber
  .github/workflows/build-deploy-docs.yml
Due: none

Add FERC1 Depreciation Factors table (Schedule 336 - Section C) (#5112)
  dbt/models/ferc1/core_ferc1__yearly_depreciation_factors_sched336/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_depreciation_factors_sched336/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/06c61d323f48_add_new_ferc1_depreciation_table.py
  migrations/versions/cfbb9479cc73_add_new_ferc1_depreciation_table.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
  test/unit/transform/ferc1_test.py
Due: sort-row-counts

pr comments and migrations
  migrations/versions/d85141a4eafc_add_new_ferc1_other_reg_assets.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
Due: none

Update pixi lockfile
  pixi.lock
Due: none

Fix dangling old variable name and prevent clobber (#5183)
  .github/workflows/build-deploy-docs.yml
Due: none

Add Zenodo keywords update task.
  .github/ISSUE_TEMPLATE/versioned_release.md
Due: none

Remove half-baked pudl-dev skill for now.
  skills-lock.json
Due: none

Add checklist item for updating docs version picker
  .github/ISSUE_TEMPLATE/versioned_release.md
Due: none

make output table and release notes
  dbt/models/ferc1/out_ferc1__yearly_other_regulatory_assets_sched232/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/48c767d17665_add_new_ferc1_other_reg_assets.py
  migrations/versions/d85141a4eafc_add_new_ferc1_other_reg_assets.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
Due: sort-row-counts

Remove half-baked pudl-dev skill for now. (#5184)
  skills-lock.json
Due: none

#5179 build docs on nightly, stable, and release tags, and use correct gitref pattern on job guard (#5181)
  .github/workflows/build-deploy-docs.yml
Due: none

Fix type hints
  src/pudl/glue/ferc1_eia.py
Due: none

Relax constraints on zip, which aren't met, and add state constraint to contact_state
  migrations/versions/4f252e9e2ce3_add_identification_and_certification_.py
  src/pudl/metadata/fields.py
Due: none

Update .github/ISSUE_TEMPLATE/versioned_release.md
  .github/ISSUE_TEMPLATE/versioned_release.md
Due: none

Update release instructions post-v2026.4.0 (#5185)
  .github/ISSUE_TEMPLATE/versioned_release.md
Due: none

smol respond to pr comments
  migrations/versions/6b25097da735_add_new_ferc1_other_reg_assets.py
  src/pudl/metadata/fields.py
  src/pudl/transform/ferc1.py
Due: none

Remove duplicates
  src/pudl/package_data/glue/utility_id_ferc60.csv
Due: none

add notebook
  devtools/splink-ferc1-eia-match.ipynb
Due: nb-output-clear

oops actually add the notebook
  devtools/eia_ferc_utilities_match.ipynb
Due: nb-output-clear

Drop office zip constraint
  src/pudl/metadata/fields.py
Due: none

Update input data and column names
  devtools/eia_ferc_utilities_match.ipynb
Due: nb-output-clear

revert the description to totalS for PK expectations
  src/pudl/transform/ferc1.py
Due: none
