Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Add subcomponents_sum_to_total tests for core_rus12__yearly_sources_and_distribution
  dbt/models/rus12/core_rus12__yearly_sources_and_distribution/schema.yml
Due: none

Update PUDL to ferc-xbrl-extractor v1.11 (#5462)
  pixi.lock
  pyproject.toml
Due: conda-lock

Clarify distinction between load_factor and ramp_rate binning
  docs/methodology/operational_characteristics.rst
  src/pudl/analysis/operational_characteristics.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epacems.py
Due: none

Integrate Sylvan Energy heat rates analysis (#5190)
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/methodology/index.rst
  docs/methodology/operational_characteristics.rst
  docs/release_notes.rst
  migrations/versions/e7c433fdf3cb_add_new_cems_derived_table.py
  src/pudl/analysis/__init__.py
  src/pudl/analysis/operational_characteristics.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/package_data/settings/dg_fast.yml
  src/pudl/package_data/settings/dg_full.yml
  src/pudl/package_data/settings/dg_nightly.yml
  src/pudl/package_data/settings/dg_pytest.yml
  tests/unit/analysis/operational_characteristics_test.py
Due: sort-row-counts

Revert Dockerifle base image version to test in action
  .devcontainer/Dockerfile
  builds/Dockerfile
Due: none

Automate pinned Docker base image updates (#5478)
  .devcontainer/Dockerfile
  .github/dependabot.yml
  .github/workflows/update-lockfiles.yml
  builds/Dockerfile
  devtools/update_docker_pins.sh
Due: none

Update pixi lockfile, pre-commit hooks, dbt deps, and Docker base image
  .devcontainer/Dockerfile
  .pre-commit-config.yaml
  builds/Dockerfile
  pixi.lock
Due: none

Work around Alembic 1.19 CHECK constraint bug.
  migrations/env.py
  src/pudl/dagster/io_managers.py
Due: none

Update create-github-app-token workflow to use client-id; tell actionlint to ignore
  .github/actionlint.yaml
  .github/workflows/bot-auto-merge.yml
  .github/workflows/update-lockfiles.yml
Due: none

Fix shellcheck warnings in deploy/build batch ID sanitization
  .github/workflows/build-pudl.yml
  .github/workflows/deploy-pudl.yml
Due: none

Fix hadolint and actionlint errors
  .devcontainer/Dockerfile
  .github/actionlint.yaml
  .github/actionlint.yml
  builds/Dockerfile
Due: none

Use mirror for typos hook since real repo gives bad version pins
  .pre-commit-config.yaml
Due: none

Post v2026.8.0: fix GCS temporary hold issues (#5477)
  .github/workflows/deploy-pudl.yml
  docs/release_notes.rst
  pyproject.toml
  src/pudl/deploy/pudl.py
  src/pudl/scripts/pudl_deploy.py
Due: conda-lock

Compute op-chars for every full year of CEMS data, not just latest
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/methodology/operational_characteristics.rst
  migrations/versions/e7c433fdf3cb_add_new_cems_derived_table.py
  src/pudl/analysis/operational_characteristics.py
  src/pudl/metadata/resources/epacems.py
  tests/unit/analysis/operational_characteristics_test.py
Due: sort-row-counts

Update release notes for multi-year op-chars
  docs/release_notes.rst
Due: none

Handle incomplete FERC EQR filings and preserve ENUM dtypes on write
  src/pudl/extract/ferceqr.py
  src/pudl/helpers.py
  src/pudl/metadata/sources.py
  tests/unit/extract/ferceqr_test.py
  tests/unit/helpers_test.py
Due: none

Stop warning on routine missing ferceqr tables; add extraction stats
  src/pudl/extract/ferceqr.py
  src/pudl/package_data/settings/zenodo_dois.yml
  tests/unit/extract/ferceqr_test.py
Due: none

Disable not-quite-unique primary key in core_ferceqr__quarterly_index_pub
  src/pudl/metadata/resources/ferceqr.py
Due: none

Remove accidental duplicate test function in helpers_test.py
  tests/unit/helpers_test.py
Due: none

Fix stale raw ferceqr output surviving across archive refreshes
  src/pudl/extract/ferceqr.py
  tests/unit/extract/ferceqr_test.py
Due: none

Re-organize parquet categorical round-trip tests
  tests/unit/helpers_test.py
Due: none

Harden FERC EQR CSV filename cleaning against glob metacharacters
  src/pudl/extract/ferceqr.py
  tests/unit/extract/ferceqr_test.py
Due: none

Clarify FERC EQR extraction types, errors, and asset outputs
  src/pudl/extract/ferceqr.py
  src/pudl/transform/ferceqr.py
  tests/unit/extract/ferceqr_test.py
Due: none

Update release notes for FERC EQR extraction fixes.
  docs/release_notes.rst
Due: none

Add cross-quarter FERC EQR pipeline diagnostics asset
  src/pudl/extract/ferceqr.py
  src/pudl/transform/ferceqr.py
  tests/unit/extract/ferceqr_test.py
  tests/unit/transform/ferceqr_test.py
Due: none

Fix four pre-existing pyrefly type errors
  src/pudl/extract/epamats.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/helpers.py
  tests/unit/dagster/asset_checks_test.py
Due: none

Pin pyrefly to 1.2.0, scope its pixi task to dev, refresh baseline
  .gitattributes
  .pyrefly-baseline.json
  pyproject.toml
Due: conda-lock

Add pyrefly usage and baseline regeneration dev docs
  docs/dev/dev_setup.rst
  pyproject.toml
  src/pudl/scripts/pyrefly_baseline_diff.py
Due: conda-lock

Add .zed/settings.json that points to pixi environment for ruff/pyrefly LSPs
  .zed/settings.json
Due: none

Regenerate pyrefly baseline against main
  .pyrefly-baseline.json
Due: none

Set physically informed dbt validation limits for heat rates, up/down time
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Limit heat rate test to running in etl-full
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
Due: none

Fix op chars dbt (#5483)
  dbt/models/epacems/out_epacems__yearly_operational_characteristics/schema.yml
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
