Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Fix tag validation regex
  .github/workflows/deploy-pudl.yml
Due: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/good_first_issue.md
Due: none

Good First Issue Template (#5354)
  .github/ISSUE_TEMPLATE/good_first_issue.md
  docs/dev/managing_external_contributions.rst
Due: none

Move EIA860 ER release notes to new section
  docs/release_notes.rst
Due: none

Move EIA860 ER release notes to new section (#5355)
  docs/release_notes.rst
Due: none

Fix staging deployment handling
  src/pudl/scripts/pudl_deploy.py
Due: none

Apply suggestions from code review
  src/pudl/extract/dbf.py
Due: none

Make DBF extractors output parquet (#5339)
  builds/pudl_batch.sh
  src/pudl/extract/dbf.py
Due: none

Use native GeoParquet output; update to DuckDB 1.5 (#5347)
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/build.py
  src/pudl/dagster/io_managers.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
  tests/conftest.py
  tests/integration/dagster/geoparquet_test.py
  tests/unit/dagster/io_managers_test.py
Due: conda-lock

Initial marimo exploration of PA DERs
  notebooks/work-in-progress/ejpa/net-metering.py
  pixi.lock
  pyproject.toml
Due: conda-lock

Add some summary notes / policy musings.
  notebooks/work-in-progress/ejpa/net-metering.py
Due: none

Fix row-count discrepancies resulting from EIA-860 2025 update
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/schema_inputs/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
Due: sort-row-counts

Fix row-count discrepancies resulting from EIA-860 2025 update (#5359)
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/schema_inputs/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
Due: sort-row-counts

Bump polars and pixi versions
  .devcontainer/Dockerfile
  builds/Dockerfile
  pixi.lock
Due: none

Extracts EIA860m data for Puerto Reico
  src/pudl/extract/eia860m.py
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
Due: none

Simplify FERC EQR sensor definitions using decorators directly.
  src/pudl/dagster/sensors.py
  tests/unit/dagster/ferceqr_deployment_test.py
Due: none

Improve FERC EQR sensor, deployment, testability, & notifications (#5273)
  .devcontainer/devcontainer.json
  .env.example
  .github/workflows/build-deploy-ferceqr.yml
  .secrets.baseline
  builds/Dockerfile
  builds/dagster-ferceqr.yaml
  builds/dagster-pudl.yaml
  builds/dagster.yaml
  builds/ferceqr_batch.sh
  builds/ferceqr_cleanup_staging.py
  builds/pudl_batch.sh
  pyproject.toml
  src/pudl/__init__.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/jobs.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  src/pudl/extract/ferceqr.py
  src/pudl/helpers.py
  src/pudl/package_data/settings/ferceqr_deployment_targets.yml
  src/pudl/package_data/settings/ferceqr_test_deployment_targets.yml
  src/pudl/scripts/check_path_permissions.py
  tests/pipeline/__init__.py
  tests/pipeline/ferceqr_test.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/dagster/resources_test.py
  tests/unit/scripts/check_path_permissions_test.py
Due: conda-lock

Drop is_total and rename service_status in RUS7 services
  dbt/models/rus7/core_rus7__yearly_distribution_services/schema.yml
  dbt/models/rus7/out_rus7__yearly_distribution_services/schema.yml
  dbt/schema_inputs/rus7/core_rus7__yearly_distribution_services/schema.human.yml
  dbt/schema_inputs/rus7/out_rus7__yearly_distribution_services/schema.human.yml
  docs/release_notes.rst
  migrations/versions/19af112f7eb6_drop_is_total_and_rename_service_status_.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/transform/rus7.py
Due: none

Add unit test guarding RUS7 service_status rename map
  tests/unit/transform/rus7_test.py
Due: none

Clean up code and add plot annotations
  .gitignore
  notebooks/work-in-progress/ejpa/net-metering.py
Due: none

Add static HTML notebook export
  notebooks/work-in-progress/ejpa/pa-ders-survey.html
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
Due: none

Standardize a few wayward units strings in fields.py
  src/pudl/metadata/fields.py
Due: none

Update notebook to work w/ S3 and NJ
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
  pixi.lock
Due: none

Set S3 storage region
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
Due: none

Add anon token for S3 access
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
Due: none

Try credential_provider=None
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
Due: none

Try adding anonymous: true back in
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
Due: none

Fix S3 storage options; embed dependencies in notebook
  notebooks/work-in-progress/ejpa/pa-ders-survey.py
Due: none

Remove HTML export of notebook
  notebooks/work-in-progress/ejpa/pa-ders-survey.html
Due: none

More unit standardization, add obvious missing units.
  src/pudl/metadata/fields.py
Due: none

Define PUDL units registry using pint library.
  pixi.lock
  pyproject.toml
  src/pudl/metadata/units.py
Due: conda-lock

Standardize unit strings in fields.py to Pint syntax
  src/pudl/metadata/fields.py
Due: none

Add unit string validation and refactor metadata tests
  src/pudl/dagster/asset_checks.py
  src/pudl/metadata/classes.py
  tests/unit/metadata/metadata_test.py
Due: none

Remove upper-bound on pint version
  pyproject.toml
Due: conda-lock
