Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Pin click<8.2 to debug CI
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

update row counts after build
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update eqr archiver service account permissions
  terraform/main.tf
Due: none

Add EIA-923 final release to release notes
  docs/release_notes.rst
Due: none

Update eia 923 generator drop ratio for 2025 duplicalooza
  src/pudl/transform/eia923.py
Due: none

Integrate EIA-923 final release
  docs/dev/existing_data_updates.rst
  src/pudl/extract/eia923.py
  src/pudl/extract/excel.py
  src/pudl/extract/extractor.py
  src/pudl/metadata/classes.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/boiler_nox_operation.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fgp_operation.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
Due: none

Pin duckdb<1.4 to avoid splink issues.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Pin duckdb<1.4 to avoid splink issues. (#4650)
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Fix helper method rename, write to DB, add row counts and non-null cols to dbt, update row count seeds
  dbt/models/eia923/_core_eia923__byproduct_expenses_and_revenues/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/d629674ba279_add_byproduct_expenses_and_revenues_.py
  src/pudl/transform/eia923.py
Due: sort-row-counts

Fix migrations
  migrations/versions/d629674ba279_add_byproduct_expenses_and_revenues_.py
Due: none

Rename to core_eia923__yearly, update release notes
  dbt/models/eia923/_core_eia923__yearly_byproduct_expenses_and_revenues/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/d629674ba279_add_byproduct_expenses_and_revenues_.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/transform/eia923.py
Due: sort-row-counts

feat/clean_eia923_schedule8b (#4636)
  dbt/models/eia923/_core_eia923__yearly_byproduct_expenses_and_revenues/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/d629674ba279_add_byproduct_expenses_and_revenues_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/transform/eia923.py
Due: sort-row-counts

Update eqr archiver service account permissions (#4649)
  terraform/main.tf
Due: none

Update rowcounts for eia 923
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Fix docstring for process_raw
  src/pudl/extract/eia923.py
Due: none

Update valid partition for FERC Form 2
  src/pudl/extract/ferc2.py
Due: none

Update EIA 860M data up through August 2025 (#4638)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Revert unnecessary mapping changes; expand release notes for EIA 923 annual update
  docs/release_notes.rst
  src/pudl/package_data/eia923/column_maps/boiler_nox_operation.csv
  src/pudl/package_data/eia923/column_maps/fgp_operation.csv
Due: none

fix: remaining pandera import that was throwing a warning
  src/pudl/extract/eiaaeo.py
Due: none

Close out release notes for PUDL v2025.10.0
  CITATION.cff
  docs/release_notes.rst
Due: none

Close out release notes for PUDL v2025.10.0 (#4654)
  CITATION.cff
  docs/release_notes.rst
Due: none

feat: memory profiling from dagster ui via MEMRAY_PROFILE env var
  devtools/materialize_to_feather.py
  pyproject.toml
  src/pudl/helpers.py
  src/pudl/profiling.py
Due: conda-lock

Fix release issue template and move 88888 in to correct release notes section
  .github/ISSUE_TEMPLATE/versioned_release.md
  docs/release_notes.rst
Due: none

fix: remaining pandera import that was throwing a warning (#4653)
  src/pudl/extract/eiaaeo.py
Due: none

Fix release issue template and move 88888 in to correct release notes section (#4657)
  .github/ISSUE_TEMPLATE/versioned_release.md
  docs/release_notes.rst
Due: none

Add a data bug report issue template
  .github/ISSUE_TEMPLATE/data_bug_report.yml
Due: none

Update data dictionary to include links to file data bug
  docs/templates/resource.rst.jinja
Due: none

Modify wording in data bug link
  docs/templates/resource.rst.jinja
Due: none

Add severity field to data bug template
  .github/ISSUE_TEMPLATE/data_bug_report.yml
Due: none

Set project in data bug template
  .github/ISSUE_TEMPLATE/data_bug_report.yml
Due: none

Update row counts for eia 923 annual
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Integrate EIA-923 final release (#4641)
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/existing_data_updates.rst
  docs/release_notes.rst
  src/pudl/extract/eia923.py
  src/pudl/extract/excel.py
  src/pudl/extract/extractor.py
  src/pudl/metadata/classes.py
  src/pudl/package_data/eia923/column_maps/boiler_fuel.csv
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/package_data/eia923/column_maps/byproduct_expenses_and_revenues.csv
  src/pudl/package_data/eia923/column_maps/cooling_system_information.csv
  src/pudl/package_data/eia923/column_maps/emissions_control.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/fgd_operation_maintenance.csv
  src/pudl/package_data/eia923/column_maps/fuel_receipts_costs.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/generator.csv
  src/pudl/package_data/eia923/column_maps/plant_frame.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_plant_frame.csv
  src/pudl/package_data/eia923/column_maps/stocks.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/eia923/skiprows.csv
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Add data source page for EIA AEO
  docs/conf.py
  docs/data_sources/index.rst
  docs/data_sources/other_data.rst
  docs/dev/existing_data_updates.rst
  docs/index.rst
  docs/templates/eiaaeo_child.rst.jinja
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Grab new row counts from failed nightly build
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Grab new row counts from failed nightly build (#4661)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Integrate new and past years of censuspep
  src/pudl/metadata/sources.py
  src/pudl/package_data/censuspep/column_maps/geocodes.csv
  src/pudl/package_data/censuspep/file_map.csv
  src/pudl/package_data/censuspep/page_map.csv
  src/pudl/package_data/censuspep/skipfooter.csv
  src/pudl/package_data/censuspep/skiprows.csv
  src/pudl/workspace/datastore.py
Due: none

Add PDF docs pages to EIA AEO
  docs/data_sources/eiaaeo/eiaaeo_2025_carbon_capture_allocation_transport_and_sequestration_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_case_descriptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_coal_market_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_commercial_demand_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_electricity_market_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_emissions_policy_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_hydrocarbon_supply_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_hydrogen_market_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_industrial_demand_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_international_energy_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_liquid_fuels_market_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_macroeconomic_activity_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_narrative.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_natural_gas_market_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_renewable_fuels_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_residential_demand_assumptions.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_summary_of_legislation_and_regulations.pdf
  docs/data_sources/eiaaeo/eiaaeo_2025_transportation_demand_assumptions.pdf
  docs/data_sources/eiaaeo/nems_overview.pdf
  docs/templates/eiaaeo_child.rst.jinja
Due: none

Disable SQLite output to test performance / memory impacts
  src/pudl/etl/__init__.py
Due: none

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none
