Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

FERC1 Transform Schedule 232 Other Regulatory assets (#5170)
  dbt/models/ferc1/core_ferc1__yearly_other_regulatory_assets_sched232/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_other_regulatory_assets_sched232/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/6b25097da735_add_new_ferc1_other_reg_assets.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/output/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: sort-row-counts

Revert "add notebook"
  devtools/splink-ferc1-eia-match.ipynb
Due: nb-output-clear

Revert "oops actually add the notebook"
  devtools/eia_ferc_utilities_match.ipynb
Due: nb-output-clear

Revert "Update input data and column names"
  devtools/eia_ferc_utilities_match.ipynb
Due: nb-output-clear

Reapply "Update input data and column names"
  devtools/eia_ferc_utilities_match.ipynb
Due: nb-output-clear

Reapply "oops actually add the notebook"
  devtools/eia_ferc_utilities_match.ipynb
Due: nb-output-clear

Reapply "add notebook"
  devtools/splink-ferc1-eia-match.ipynb
Due: nb-output-clear

Remove index column
  src/pudl/package_data/glue/utility_id_ferc60.csv
Due: none

Re-make int cols
  src/pudl/package_data/glue/utility_id_ferc60.csv
Due: none

Give bucket read permissions for usage metrics output to usage metrics dashboard run sa
  .secrets.baseline
  terraform/pudl-usage-metrics-dashboard.tf
Due: none

Resolve merge conflicts
  migrations/versions/4f252e9e2ce3_add_identification_and_certification_.py
  src/pudl/extract/ferc1.py
Due: none

Add FERC Form 1 identification table to PUDL (#5008)
  dbt/models/ferc1/core_ferc1__yearly_identification_certification/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/4f252e9e2ce3_add_identification_and_certification_.py
  pixi.lock
  pyproject.toml
  src/pudl/extract/ferc1.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: sort-row-counts, conda-lock

Give bucket read permissions for usage metrics output to usage metrics dashboard run sa (#5189)
  .secrets.baseline
  terraform/pudl-usage-metrics-dashboard.tf
Due: none

Add FERC60 matching csv via upload (#4393)
  src/pudl/package_data/glue/utility_id_ferc60.csv
Due: none

initial template
  src/pudl/analysis/heat_rates.py
Due: none

Refactor FERC SQLite provenance: typed records, escape hatch, warnings
  pixi.lock
  src/pudl/etl/ferc_to_sqlite_assets.py
  src/pudl/ferc_sqlite_provenance.py
  test/unit/ferc_sqlite_provenance_test.py
  test/unit/io_managers_test.py
Due: none

Consolidate duplicate load_input logic in FERC SQLite IO managers
  src/pudl/io_managers.py
Due: none

settings/resources: clarify thin wrappers, dual-config design, and dedup ferceqr job config
  src/pudl/etl/__init__.py
  src/pudl/resources.py
  src/pudl/settings.py
Due: none

tests: clarify config path resolution, tighten IO manager types, improve provenance year tests
  test/conftest.py
  test/unit/ferc_sqlite_provenance_test.py
Due: none

docs/misc: fix Mermaid syntax, remove spurious cast(), shorten task description
  docs/dev/clone_ferc1.rst
  pixi.lock
  pyproject.toml
  src/pudl/workspace/datastore.py
Due: conda-lock

Fix mermaid chart rendering error.
  docs/dev/clone_ferc1.rst
Due: none

add in supervised training run
  devtools/eia_ferc_utilities_match.ipynb
  devtools/utility_match_training_data.csv
Due: nb-output-clear

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

Update agent skills
  pixi.lock
  pyproject.toml
  skills-lock.json
Due: conda-lock

Use ephemeral dagster instances to avoid race condition in glue_test.py
  pixi.lock
  src/pudl/io_managers.py
  test/integration/glue_test.py
  test/unit/io_managers_test.py
Due: none

Avoid recomputing plants_ferc1_raw in every worker.
  pixi.lock
  pyproject.toml
  test/integration/glue_test.py
Due: conda-lock

avoid -n auto on tests that run ETL
  pixi.lock
  pyproject.toml
  src/pudl/dagster/resources.py
Due: conda-lock

Standardize on FercSqlite not FercSQLite
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/provenance.py
  tests/unit/dagster/provenance_test.py
Due: none

Add missing global_data_config arg.
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
Due: none

Fix unintended definition-list rst for fuel_receipts_costs tables
  src/pudl/metadata/resources/eia923.py
Due: none

Add RST cues to metadata dev docs
  docs/dev/metadata.rst
Due: none

Fix unintended definition-list in Additional Details for fuel_receipts_costs tables (#5192)
  docs/dev/metadata.rst
  src/pudl/metadata/resources/eia923.py
Due: none
