Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Remove more :zombie: :notebook:
  notebooks/work-in-progress/better-heatrates.ipynb
  notebooks/work-in-progress/eia_bulk_data_testbed.ipynb
  notebooks/work-in-progress/eia_column_changes_through_time.ipynb
  notebooks/work-in-progress/epacems-parquet.ipynb
  notebooks/work-in-progress/ferc714-core.ipynb
  notebooks/work-in-progress/ferc714-output.ipynb
  notebooks/work-in-progress/replace_eia_api.ipynb
Due: nb-output-clear

feat: add pudl viewer *deployer* service account + WIF so we can use it from GHA
  terraform/main.tf
  terraform/nightly_builds.tf
  terraform/pudl-viewer.tf
Due: none

chore: clean up permissions blocks; rename to remove redundant type info
  terraform/nightly_builds.tf
  terraform/pudl-viewer.tf
Due: none

Remove austen and christina old WIP notebooks
  notebooks/work-in-progress/CEMS_by_utility.ipynb
  notebooks/work-in-progress/VCERARE.ipynb
  notebooks/work-in-progress/eia861-transform.ipynb
  notebooks/work-in-progress/explore-data-validation.ipynb
  notebooks/work-in-progress/explore-mcoe.ipynb
  notebooks/work-in-progress/explore-output-tables.ipynb
  notebooks/work-in-progress/explore_net_generation.ipynb
  notebooks/work-in-progress/havest_examples.ipynb
  notebooks/work-in-progress/make_master_unit_list_eia.ipynb
  notebooks/work-in-progress/output-sql-ready.ipynb
  notebooks/work-in-progress/test-validation-tests.ipynb
  notebooks/work-in-progress/transform_xbrl.ipynb
Due: nb-output-clear

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Relock dependencies, update dbt deps
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

feat: add pudl viewer *deployer* service account + WIF so we can use it from GHA (#4613)
  terraform/main.tf
  terraform/nightly_builds.tf
  terraform/pudl-viewer.tf
Due: none

Extract 2024 final data for EIA
  pyproject.toml
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/workspace/datastore.py
Due: conda-lock

Revert unintended gdal update
  pyproject.toml
Due: conda-lock

Update src/pudl/metadata/fields.py
  src/pudl/metadata/fields.py
Due: none

respond to pr comments
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

add the schema for the misc table
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

remove migrations b4 merging main
  migrations/versions/3c6a36c97052_convert_percent_unaccounted_for_gas_to_.py
  migrations/versions/b94538688700_add_phmsa_operator_table_to_db.py
Due: none

add first draft phmsagas schema
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  migrations/versions/19466bc89a21_add_first_draft_of_phmsagas_schema.py
Due: none

fix the docs build ref warning
  src/pudl/transform/phmsagas.py
Due: none

Update release notes and drop two empty generators from out table
  docs/release_notes.rst
  src/pudl/output/eia.py
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Remove imputation exploration notebooks that have been pulled into pudl-examples
  notebooks/work-in-progress/imputation_comparison.ipynb
  notebooks/work-in-progress/timeseries-comparison.ipynb
  notebooks/work-in-progress/timeseries_cleaning_regression.ipynb
Due: nb-output-clear

make the dtypes and schema work - remove pks and clean up ints/floats
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  migrations/versions/6de52eea80d1_add_first_draft_of_phmsagas_schema.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Remove final 930 imputation exploration notebook
  notebooks/work-in-progress/eia930-demand-imputation-validation.ipynb
Due: nb-output-clear

Add data source documentation for Census PEP FIPS codes
  docs/conf.py
  docs/data_sources/index.rst
  docs/index.rst
  docs/templates/censuspep_child.rst.jinja
  docs/templates/data_source_parent.rst.jinja
  docs/templates/generic_child_template.rst.jinja
Due: none

Add Census PEP data source page to release notes
  docs/release_notes.rst
Due: none

Add linebreaks for readability
  docs/templates/censuspep_child.rst.jinja
Due: none

Typo
  docs/release_notes.rst
Due: none

Add suggestions from review
  docs/templates/censuspep_child.rst.jinja
Due: none

Clarify original data layout
  docs/templates/censuspep_child.rst.jinja
Due: none

Add release notes about the EIA-930 imputation validation / investigation.
  docs/release_notes.rst
  src/pudl/metadata/resources/eia930.py
Due: none

Relock dependencies to downgrade yanked Sphinx 8.3.0
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Actually connect the datasets, oops
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

Update conda locks
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Add data source documentation for Census PEP FIPS codes (#4622)
  docs/conf.py
  docs/data_sources/index.rst
  docs/index.rst
  docs/release_notes.rst
  docs/templates/censuspep_child.rst.jinja
  docs/templates/data_source_parent.rst.jinja
  docs/templates/generic_child_template.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Integrate 2024 final data for EIA-860 (#4617)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/output/eia.py
  src/pudl/package_data/eia860/file_map.csv
  src/pudl/package_data/eia860/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Avoid yanked Sphinx; upgrade gdal.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Add devdocs stub for metadata
  docs/dev/index.rst
  docs/dev/metadata.rst
Due: none

relock conda dependencies
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update row counts, dbt test params, pre-commit hooks, re-lock conda.
  .pre-commit-config.yaml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: sort-row-counts

Update gdal and fix row counts / dbt test that failed nightly build (#4625)
  .pre-commit-config.yaml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/metadata/classes.py
Due: sort-row-counts, conda-lock

Make loading CEMS tables work in CEMS notebook. Still needs work
  notebooks/work-in-progress/explore-CEMS.ipynb
Due: nb-output-clear

Pull conda environment files from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

split out filing and operator table... begin to fix the dupliates in the old pks ahh so many
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_filings/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  migrations/versions/e675f95a4980_phmsagas_schema.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none
