Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_(full|fast)_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Rename columns, debug MMBtu units, update migrations, update dbt row counts, update continuity asset check
  dbt/models/eia923/_core_eia923__yearly_byproduct_disposition/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/9466571f3daa_add_eia_923_byproduct_disposition_table.py
  migrations/versions/d236fdf360d6_add_eia_923_byproduct_disposition_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/transform/eia923.py
Due: sort-row-counts

Add sum validation test
  dbt/models/eia923/_core_eia923__yearly_byproduct_disposition/schema.yml
Due: none

set default partition_expr to null
  src/pudl/scripts/dbt_helper.py
Due: none

Make Cs in ferc1 XBRL id uppercase
  src/pudl/package_data/glue/utility_id_ferc1.csv
Due: none

Correct types on columns_tests
  src/pudl/scripts/dbt_helper.py
Due: none

Output coverage report before uploading to CodeCov
  .github/workflows/pytest.yml
Due: none

Run coverage report last and fail if under min coverage
  .github/workflows/pytest.yml
Due: none

Update all row counts using new dbt_helper. Oops
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Clarify dbt_helper row count update logging and remove one flaky row count test.
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/scripts/dbt_helper.py
Due: sort-row-counts

Use df.equals() instead of assert_frame_equals when checking for updated row counts.
  src/pudl/scripts/dbt_helper.py
Due: none

Update FERC1 row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

test: add a single-case test for updating the rowcounts.
  test/unit/dbt_helper_test.py
Due: none

test: parametrize row-counts test with some interesting cases
  test/unit/dbt_helper_test.py
Due: none

Add two more row count changes
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update release notes
  docs/release_notes.rst
Due: none

Updates from make ci
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  notebooks/work-in-progress/CEMS_by_utility.ipynb
  notebooks/work-in-progress/better-heatrates.ipynb
  notebooks/work-in-progress/data-zipper-dev.ipynb
  notebooks/work-in-progress/eia861-transform.ipynb
  notebooks/work-in-progress/eia_bulk_data_testbed.ipynb
  notebooks/work-in-progress/eia_column_changes_through_time.ipynb
  notebooks/work-in-progress/epacems-parquet.ipynb
  notebooks/work-in-progress/explore-CEMS.ipynb
  notebooks/work-in-progress/explore-data-validation.ipynb
  notebooks/work-in-progress/explore-mcoe.ipynb
  notebooks/work-in-progress/explore-output-tables.ipynb
  notebooks/work-in-progress/ferc714-core.ipynb
  notebooks/work-in-progress/ferc714-output.ipynb
  notebooks/work-in-progress/havest_examples.ipynb
  notebooks/work-in-progress/jupyterhub-test.ipynb
  notebooks/work-in-progress/make_master_unit_list_eia.ipynb
  notebooks/work-in-progress/output-sql-ready.ipynb
  notebooks/work-in-progress/replace_eia_api.ipynb
  notebooks/work-in-progress/state-demand.ipynb
  notebooks/work-in-progress/test-validation-tests.ipynb
Due: nb-output-clear

Fix failing dbt_helper unit tests.
  test/unit/dbt_helper_test.py
Due: none

Test calculate rowcounts (#4509)
  test/unit/dbt_helper_test.py
Due: none

More row count tests and unit tests for dbt_helper
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  test/unit/dbt_helper_test.py
Due: none

Only check approximate row counts in full ETL.
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
Due: none

Hotfix update row counts (#4508)
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/scripts/dbt_helper.py
  test/unit/dbt_helper_test.py
Due: sort-row-counts

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update dbt dependencies and relock conda
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update conda lockfile for week of 2025-08-03 (#4511)
  .pre-commit-config.yaml
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update dois, extract new partition, update row counts
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/workspace/datastore.py
Due: sort-row-counts

sort timezone offset fixes by ferc id
  src/pudl/transform/ferc714.py
Due: none

fix weird duplicate read_excel column maps
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  test/unit/extract/csv_test.py
Due: none

Update FERC1 DOI
  src/pudl/workspace/datastore.py
Due: none

Update ferc1 row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Q3 2025 data update: EIA930 and EIA API (#4523)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/workspace/datastore.py
Due: sort-row-counts

add DbtSchema method to preserve tests and metadata from old schema
  src/pudl/scripts/dbt_helper.py
Due: none

Update row counts to remove incorrectly updated counts from eiaapi integration
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Apply suggestions from code review
  docs/release_notes.rst
  src/pudl/metadata/fields.py
Due: none

Rename to _units, update dbt test, remove exploratory notebook
  dbt/models/eia923/_core_eia923__yearly_byproduct_disposition/schema.yml
  devtools/inspect-eia_923_schedule8a.ipynb
  migrations/versions/9466571f3daa_add_eia_923_byproduct_disposition_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/package_data/eia923/column_maps/byproduct_disposition.csv
  src/pudl/transform/eia923.py
Due: nb-output-clear

Update row counts to remove incorrectly updated counts from eiaapi integration (#4524)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Fix bad type annotation.
  src/pudl/metadata/resources/eia923.py
Due: none

Update EPACEMS DOI
  src/pudl/workspace/datastore.py
Due: none

convert my crazy find the dupes rename to a _n# method for the dupe columns
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
Due: none
