Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

fix struct name bug
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

Fix line length
  docs/release_notes.rst
Due: none

Wire _core_eia923__yearly_fuel_stocks Dagster asset
  src/pudl/transform/eia923.py
  tests/unit/transform/eia923_test.py
Due: none

Add resource and field metadata for EIA-923 fuel stocks
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
Due: none

Migration: add _core_eia923__yearly_fuel_stocks table
  migrations/versions/c0d82da350c8_add__core_eia923__yearly_fuel_stocks_.py
Due: none

Add release note for EIA-923 fuel stocks table
  docs/release_notes.rst
Due: none

Add dbt validations for EIA-923 fuel stocks
  dbt/models/eia923/_core_eia923__yearly_fuel_stocks/schema.yml
  dbt/schema_inputs/eia923/_core_eia923__yearly_fuel_stocks/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Apply suggestions from code review
  src/pudl/transform/ferc714.py
Due: none

Update docs, fix wandering row count
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/existing_data_updates.rst
Due: sort-row-counts

Integrate 2025 FERC 714 data (#5436)
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/existing_data_updates.rst
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/glue/respondent_id_ferc714.csv
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/ferc714.py
Due: sort-row-counts

Remove ephemeral balance sheet asset matching notebook
  notebooks/work-in-progress/debug-nightly-diffs.py
  notebooks/work-in-progress/rate_base_off_by_candidates.csv
Due: none

Simplify and standardize dtypes across backends (#5350)
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_rate_base/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/classes.py
  src/pudl/metadata/dtypes.py
  src/pudl/output/ferc1.py
  tests/unit/analysis/plant_parts_eia_test.py
  tests/unit/metadata/metadata_test.py
Due: sort-row-counts

Add PHMSA install decade core table
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/schema_inputs/phmsagas/core_phmsagas__yearly_distribution_by_install_decade/schema.human.yml
  migrations/versions/c0a780b47bdc_add_phmsa_install_decade_table.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Add PHMSA install decade metadata
  src/pudl/metadata/resources/phmsagas.py
Due: none

Fix ferc714 assn rowcounts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Fix ferc714 assn rowcounts (#5448)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Cover redacted W value in fuel-stocks test; fix seed CSV sort
  dbt/seeds/etl_full_row_counts.csv
  tests/unit/transform/eia923_test.py
Due: sort-row-counts

Ensure db connections are closed in tests
  migrations/env.py
  tests/conftest.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Store petroleum coke stocks in short tons per EIA-923 units
  dbt/models/eia923/_core_eia923__yearly_fuel_stocks/schema.yml
  dbt/schema_inputs/eia923/_core_eia923__yearly_fuel_stocks/schema.human.yml
  migrations/versions/0636821e0069_add__core_eia923__yearly_fuel_stocks_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/transform/eia923.py
  tests/unit/transform/eia923_test.py
Due: none

Ensure db connections are closed in main codebase
  src/pudl/dagster/io_managers.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eia930.py
  src/pudl/output/censusdp1tract.py
Due: none

small tweaks to make the output more in line with original work
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

Swap .dict for .model_dump to quiet Pydantic warning
  src/pudl/analysis/record_linkage/embed_dataframe.py
Due: none

fix: address #5217 - Address EIA-930 irregularities
  dbt/schema_inputs/eia930/core_eia930__hourly_operations/schema.human.yml
  dbt/schema_inputs/eia930/out_eia930__hourly_operations/schema.human.yml
  dbt/tests/data_tests/generic_tests/expect_eia930_operations_conserve_energy.sql
Due: none

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

fix: address #5370 - Integrate Puerto Rico data into EIA 860M changelog
  src/pudl/transform/eia860m.py
  tests/unit/transform/eia860m_test.py
Due: none

fix: address #5312 - Roughly evaluate the types in the DBF datapackage for accuracy
  pyproject.toml
  src/pudl/extract/dbf.py
  src/pudl/scripts/audit_dbf_datapackage_types.py
  tests/unit/extract/dbf_test.py
Due: conda-lock

Bump docker image version and refresh skills-lock.json
  .devcontainer/Dockerfile
  builds/Dockerfile
  skills-lock.json
Due: none

Enable content validation for LazyFrame checks
  src/pudl/dagster/asset_checks.py
  src/pudl/metadata/resources/ferceqr.py
  tests/unit/dagster/asset_checks_test.py
Due: none

Use full geopandas module name
  src/pudl/dagster/io_managers.py
Due: none

Consolidate primary-key checking into Resource
  src/pudl/dagster/asset_checks.py
  src/pudl/metadata/classes.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Add Schema.chunk_field; dedupe constraint metadata dict
  src/pudl/dagster/asset_checks.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/vcerare.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Ensure all Enum constraints are deterministically sorted
  src/pudl/metadata/classes.py
  tests/unit/metadata/metadata_test.py
Due: none

Drop dead 32-bit upcast handling from Parquet reads
  src/pudl/helpers.py
Due: none
