Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Add series_id into raw AEO tables
  src/pudl/extract/eiaaeo.py
Due: none

Revert to not applying dtypes in Parquet IO Manager for LazyFrames
  src/pudl/io_managers.py
Due: none

Use try-except to return empty dataframe in CEMS extraction if invalid partition is provided
  src/pudl/extract/epacems.py
Due: none

Use S3 URL directly for nightlies
  notebooks/work-in-progress/epacems_regression_test.ipynb
Due: nb-output-clear

Add a little fix for duplicate AEO values
  src/pudl/metadata/enums.py
  src/pudl/transform/eiaaeo.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Add blank row counts for 2025 AEO tables
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Remove series_id col from all AEO tables
  src/pudl/transform/eiaaeo.py
Due: none

Update CEMS row count
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Uncomment out assertions and fix assertion value
  src/pudl/extract/eiaaeo.py
Due: none

Update src/pudl/metadata/resources/eia176.py
  src/pudl/metadata/resources/eia176.py
Due: none

Update core_eia176__yearly_gas_disposition_by_consumer
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/transform/eia176.py
Due: none

Remove unnecessary line
  src/pudl/transform/eia176.py
Due: none

Remove cProfile suggestion
  AGENTS.md
Due: none

Change operator_utility_id_eia back to operator_id_eia
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/transform/eia176.py
Due: none

Update src/pudl/io_managers.py
  src/pudl/io_managers.py
Due: none

Polarize CEMS ETL (#4676)
  .github/workflows/pytest.yml
  .mypy.ini
  docs/conf.py
  docs/index.rst
  docs/release_notes.rst
  docs/templates/epacems_child.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  notebooks/work-in-progress/epacems_regression_test.ipynb
  pyproject.toml
  src/pudl/analysis/__init__.py
  src/pudl/analysis/epacamd_eia.py
  src/pudl/etl/__init__.py
  src/pudl/etl/asset_checks.py
  src/pudl/etl/epacems_assets.py
  src/pudl/etl/glue_assets.py
  src/pudl/extract/epacems.py
  src/pudl/helpers.py
  src/pudl/io_managers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/output/__init__.py
  src/pudl/output/epacems.py
  src/pudl/transform/epacems.py
  test/integration/epacems_test.py
  test/unit/output/epacems_test.py
  test/unit/transform/epacems_test.py
Due: nb-output-clear, conda-lock

Update AEO row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Remove num_rows_by_report_year asset check because row counts are already getting checked
  src/pudl/transform/eiaaeo.py
Due: none

Update info on CEMS accessibility
  docs/templates/epacems_child.rst.jinja
Due: none

Fix bad link.
  docs/templates/epacems_child.rst.jinja
Due: none

Update documentation on CEMS accessibility (#4739)
  docs/templates/epacems_child.rst.jinja
Due: none

Add CEMS Q4 2025 DOI (#4733)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

feat: add small script to compare local/nightly Parquet outputs
  devtools/check_against_nightly.py
  docs/release_notes.rst
Due: none

chore: allow breakpoint in check_against_nightly
  .pre-commit-config.yaml
  devtools/check_against_nightly.py
Due: none

chore: memory profiling ergonomics
  devtools/memory_profile.py
Due: none

feat: allow custom reference dir instead of hard-coding s3
  devtools/check_against_nightly.py
Due: none

feat: allow --pdb just like pytest
  .pre-commit-config.yaml
  devtools/check_against_nightly.py
Due: none

Fix mapping in company_list, update operation_types asset, fix handling of report_year column, migrate extraction test jankiness over to eia191
  src/pudl/extract/eia176.py
  src/pudl/package_data/eia176/column_maps/company_list.csv
  src/pudl/workspace/datastore.py
  test/unit/extract/csv_test.py
Due: none

Doc string fix
  src/pudl/extract/eiaaeo.py
Due: none

Small devtools updates: memory_profile + compare_against_nightly (#4730)
  .pre-commit-config.yaml
  devtools/check_against_nightly.py
  devtools/memory_profile.py
  docs/release_notes.rst
Due: none

Migration: add core_eia176__yearly_gas_disposition_by_consumer
  migrations/versions/84133dbe724d_add_core_eia176__yearly_gas_disposition_by_consumer.py
  src/pudl/transform/eia176.py
Due: none

Add row counts for core_eia176__yearly_gas_disposition_by_consumer
  dbt/models/eia176/core_eia176__yearly_gas_disposition_by_consumer/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update schema for core_eia176__yearly_gas_disposition_by_consumer
  dbt/models/eia176/core_eia176__yearly_gas_disposition_by_consumer/schema.yml
Due: none

Rename volume_mfc to volume_mcf and add some descriptions to fields
  migrations/versions/84133dbe724d_add_core_eia176__yearly_gas_disposition_by_consumer.py
  migrations/versions/ad781ad93cc8_add_core_eia176__yearly_gas_disposition_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/transform/eia176.py
Due: none

Address CI issues
  dbt/models/eia176/core_eia176__yearly_gas_disposition_by_consumer/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/metadata/fields.py
  src/pudl/transform/eia176.py
  test/unit/transform/eia176_test.py
Due: sort-row-counts

Update subplant_id association table row counts post EPA CEMS update.
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Skip integration tests if only change is etl_full_row_counts.csv
  .github/workflows/pytest.yml
Due: none

Update row counts for EIA-930 2025Q4
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts
