Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Consolidate duplicative test fixtures; add missed coverage gaps
  tests/unit/dagster/asset_checks_test.py
  tests/unit/helpers_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Revert to unconstrained Categorical for enum-constrained fields
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
Due: none

Add pandas/polars PUDL schema/dtype round trip unit tests
  tests/unit/helpers_test.py
Due: none

Reduce redundant re-casting in get_parquet_table
  src/pudl/helpers.py
  src/pudl/metadata/dtypes.py
Due: none

Avoid duplicative type enforcement on geospatial tables
  src/pudl/helpers.py
Due: none

Fix crash-prone SchemaError and enrich asset-check metadata
  src/pudl/dagster/asset_checks.py
  src/pudl/metadata/classes.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Unify check_primary_key's backend API and fix a polars null-check gap
  src/pudl/dagster/asset_checks.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Move _field_has_content_constraints onto Field as a public method
  src/pudl/dagster/asset_checks.py
  src/pudl/metadata/classes.py
  tests/unit/metadata/metadata_test.py
Due: none

Refresh EIA 860/861/923/930 instruction PDFs
  docs/data_sources/eia860/eia860_instructions_2026-07-31.pdf
  docs/data_sources/eia860/eia860_instructions_2029-07-31.pdf
  docs/data_sources/eia861/eia861_instructions_2026-07-31.pdf
  docs/data_sources/eia861/eia861_instructions_2029-07-31.pdf
  docs/data_sources/eia923/eia923_instructions_2026-07-31.pdf
  docs/data_sources/eia923/eia923_instructions_2029-07-31.pdf
  docs/data_sources/eia930/eia930_instructions_2029-07-31.pdf
Due: none

Update PUDL to ferc-xbrl-extractor v1.11
  docs/dev/build_docs.rst
  docs/dev/run_a_release.rst
  pixi.lock
  pyproject.toml
Due: conda-lock

Fix a couple of old references to RTD in docs build docs
  docs/dev/build_docs.rst
  docs/dev/run_a_release.rst
Due: none

Update src/pudl/settings.py
  src/pudl/settings.py
Due: none

Update EIA860 extraction to correctly account for 860M dependency in dagster (#5409)
  src/pudl/extract/eia860.py
  src/pudl/settings.py
  tests/unit/settings_test.py
Due: none

Add 'all' to DOI updater and update all dois but 860m/923/eqr
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/scripts/update_zenodo_dois.py
Due: none

Update eia860m package data
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

remove the ramp rate pandas step, add dbt tests
  dbt/schema_inputs/epacems/out_epacems__yearly_operational_characteristics/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  migrations/versions/b979ecbe9119_add_new_cems_derived_table.py
  src/pudl/analysis/derived_plant_characteristics.py
  src/pudl/metadata/resources/epacems.py
Due: sort-row-counts

add debug notebook
  notebooks/work-in-progress/derived_plant_char/debug_op_char.ipynb
  notebooks/work-in-progress/derived_plant_char/epa_op_char_output_df.csv
  src/pudl/metadata/resources/epacems.py
Due: nb-output-clear

add slightly edited notebook version of jaxon's script into wip folder
  notebooks/work-in-progress/derived_plant_char/jaxon_script.ipynb
Due: nb-output-clear

Roll back NREL ATB and GridPath Toolkit
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Add EPAMATS measurement codes enum and apply to MATS fields.
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
Due: none

Add package data for eia923
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eia923.py
Due: none

Update plant and util mapping
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

WIP: Reviewing sylvan heat rates PR
  notebooks/work-in-progress/sylvan-heat-rates/isolated_component_comparison.py
  notebooks/work-in-progress/sylvan-heat-rates/pudl_thermal_characterization_2026-03-10.py
  notebooks/work-in-progress/sylvan-heat-rates/sylvan-heat-rates.md
  notebooks/work-in-progress/sylvan-heat-rates/sylvan-heat-rates.py
  pixi.lock
  pyproject.toml
  src/pudl/analysis/derived_plant_characteristics.py
  tests/unit/analysis/derived_plant_characteristics_test.py
Due: conda-lock

Make analytical notebook work with any state via dropdown
  notebooks/work-in-progress/sylvan-heat-rates/isolated_component_comparison.py
  notebooks/work-in-progress/sylvan-heat-rates/sylvan-heat-rates.py
Due: none

adding mats row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Extend pudl ids to new utils
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update release notes
  docs/release_notes.rst
Due: none

Refresh EIA 860/861/923/930 instruction PDFs (#5461)
  docs/data_sources/eia860/eia860_instructions_2026-07-31.pdf
  docs/data_sources/eia860/eia860_instructions_2029-07-31.pdf
  docs/data_sources/eia861/eia861_instructions_2026-07-31.pdf
  docs/data_sources/eia861/eia861_instructions_2029-07-31.pdf
  docs/data_sources/eia923/eia923_instructions_2026-07-31.pdf
  docs/data_sources/eia923/eia923_instructions_2029-07-31.pdf
  docs/data_sources/eia930/eia930_instructions_2029-07-31.pdf
  docs/dev/build_docs.rst
  docs/dev/run_a_release.rst
Due: none

Fix release notes typo
  docs/release_notes.rst
Due: none

add docs and inline comments and simplify a few things
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

Update release notes, roll back FERC1 doi
  docs/release_notes.rst
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Update release notes, update row counts
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
Due: sort-row-counts

Update extraction settings for CEMS and MATS
  docs/release_notes.rst
  src/pudl/metadata/sources.py
Due: none

Fix bad link and pytest name change
  docs/dev/existing_data_updates.rst
  docs/dev/nightly_data_builds.rst
Due: none

fix link in issue template
  .github/pull_request_template.md
Due: none

zane's implementation of a polars version of assigning load_factor_bins
  src/pudl/analysis/derived_plant_characteristics.py
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
