Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Bring improved AGENTS.md in from dagster-housekeeping branch to help with merge.
  AGENTS.md
Due: none

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  dbt/package-lock.yml
  pixi.lock
Due: none

Flesh out pudl/deploy module docstring
  src/pudl/deploy/__init__.py
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

Add references to human-readable docs in AGENTS.md
  AGENTS.md
Due: none

Modify AGENTS.md to avoid confusing between git worktrees
  AGENTS.md
Due: none

Create a separate input/output section in AGENTS.md
  AGENTS.md
Due: none

Add release notes for PR 4789
  docs/release_notes.rst
Due: none

Add release notes for PR 4789 (#5140)
  docs/release_notes.rst
Due: none

Merge in main and update pixi.lock
  pixi.lock
Due: none

Add trufflehog and detect-secrets to pre-commit hooks
  .pre-commit-config.yaml
  .secrets.baseline
  pixi.lock
  pyproject.toml
Due: conda-lock

Further refinement of AGENTS.md
  AGENTS.md
Due: none

Minor markdown formatting in AGENTS.md
  AGENTS.md
Due: none

Reorganize pudl.validate into a subpackage
  docs/dev/data_validation_reference.rst
  src/pudl/analysis/mcoe.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/scripts/pudl_check_fks.py
  src/pudl/validate/__init__.py
  src/pudl/validate/dbt.py
  src/pudl/validate/integrity.py
  src/pudl/validate/quality.py
  test/integration/data_validation_test.py
  test/integration/dbt_test.py
  test/integration/ferc_xbrl_extract_test.py
  test/integration/glue_test.py
  test/unit/dbt_wrapper_test.py
  test/unit/ferc_sqlite_provenance_test.py
  test/unit/io_managers_test.py
  test/unit/validate_test.py
Due: none

Change validate package export pattern
  src/pudl/validate/__init__.py
Due: none

Fix utilities mapped to multiple PUDL ids (#5117)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/glue/ferc1_eia.py
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: sort-row-counts

Add section about refactoring scope / no external API
  AGENTS.md
Due: none

Update cites and rexport bib file from zotero
  docs/catalyst_cites.bib
Due: none

Reformat all cites, make citations nice numbered list without labels
  docs/bibliography.rst
  docs/catalyst_cites.bib
  docs/catalyst_pubs.bib
  docs/conf.py
  docs/cooperative_cites.bib
  docs/further_reading.bib
Due: none

Support version parity with RTD
  .github/workflows/build-deploy-docs.yml
  docs/latest_redirect.html
Due: none

Tweaks from feedback
  docs/code.rst
  docs/conf.py
  docs/data.rst
  docs/dev/index.rst
  docs/index.rst
Due: none

Switch to catalyst versionfile and update release notes
  docs/conf.py
  docs/release_notes.rst
Due: none

Mistaken edits
  docs/_static/custom.css
  pyproject.toml
Due: conda-lock

Missing quotes
  pyproject.toml
Due: conda-lock

Switch to PyData sphinx theme
  .github/workflows/build-deploy-docs.yml
  docs/_static/custom.css
  docs/conf.py
  docs/data_access.rst
  docs/templates/access_examples/core_epacems__hourly_emissions.rst.jinja
  docs/templates/access_examples/core_ferceqr__contracts.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_identity.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_index_pub.rst.jinja
  docs/templates/access_examples/core_ferceqr__transactions.rst.jinja
  docs/templates/access_examples/default.rst.jinja
  docs/templates/access_examples/out_vcerare__hourly_available_capacity_factor.rst.jinja
  pyproject.toml
Due: conda-lock

Drop vestigial docs-install pixi task
  pyproject.toml
Due: conda-lock

Reorganize top bar and fix data dictionary whitespace
  docs/_static/custom.css
  docs/code.rst
  docs/conf.py
  docs/data.rst
  docs/index.rst
Due: none

Update pixi.lock from rebase
  pixi.lock
Due: none

Apply issue/pr numbers to release notes
  docs/release_notes.rst
Due: none

Switch to pydata sphinx theme (#5057)
  .github/workflows/build-deploy-docs.yml
  docs/_static/custom.css
  docs/code.rst
  docs/conf.py
  docs/data.rst
  docs/data_access.rst
  docs/dev/index.rst
  docs/index.rst
  docs/latest_redirect.html
  docs/release_notes.rst
  docs/templates/access_examples/core_epacems__hourly_emissions.rst.jinja
  docs/templates/access_examples/core_ferceqr__contracts.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_identity.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_index_pub.rst.jinja
  docs/templates/access_examples/core_ferceqr__transactions.rst.jinja
  docs/templates/access_examples/default.rst.jinja
  docs/templates/access_examples/out_vcerare__hourly_available_capacity_factor.rst.jinja
  pixi.lock
  pyproject.toml
Due: conda-lock

draft schema and column renaming for last 4 rus tables
  src/pudl/extract/rus12.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/package_data/rus12/column_maps/non_utility_plant.csv
  src/pudl/package_data/rus12/column_maps/utility_plant_accumulated_depreciation.csv
  src/pudl/package_data/rus12/column_maps/utility_plant_changes.csv
  src/pudl/package_data/rus12/file_map.csv
  src/pudl/package_data/rus7/column_maps/utility_plant_changes.csv
Due: none

Reverse sort by date with no label
  docs/conf.py
Due: none

initial transforms of three of four tables
  src/pudl/metadata/enums.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/package_data/rus12/column_maps/non_utility_plant.csv
  src/pudl/package_data/rus12/column_maps/utility_plant_changes.csv
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
Due: none

Re-lock pixi after mergining in main
  pixi.lock
Due: none

Merge in dagster-housekeeping and relock pixi
  pixi.lock
Due: none

Update grpcio pin to 1.78.1
  pixi.lock
  pyproject.toml
Due: conda-lock

Update cites - March 2026 (#5143)
  docs/bibliography.rst
  docs/catalyst_cites.bib
  docs/catalyst_pubs.bib
  docs/conf.py
  docs/cooperative_cites.bib
  docs/further_reading.bib
Due: none

Rename docker -> builds; also build scripts.
  .github/workflows/build-deploy-ferceqr.yml
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/deploy-pudl.yml
  .github/workflows/docker-build-test.yml
  .github/workflows/pytest.yml
  builds/.gitignore
  builds/Dockerfile
  builds/dagster.yaml
  builds/ferceqr_batch.sh
  builds/pudl_batch.sh
  builds/vm_startup_script.sh
  docs/dev/nightly_data_builds.rst
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
