Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Update PR template to the new prek-run command.
  .github/pull_request_template.md
Due: none

Update rus report date vs loan maturity date validation test
  dbt/models/rus12/core_rus12__yearly_loans/schema.yml
  dbt/models/rus12/out_rus12__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  dbt/models/rus7/out_rus7__yearly_loans/schema.yml
Due: none

Add a few missing validation tests (#5138)
  dbt/models/rus12/core_rus12__yearly_loans/schema.yml
  dbt/models/rus12/core_rus12__yearly_plant_operations_by_plant/schema.yml
  dbt/models/rus12/out_rus12__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_meeting_and_board/schema.yml
  dbt/models/rus7/out_rus7__yearly_loans/schema.yml
  dbt/models/rus7/out_rus7__yearly_meeting_and_board/schema.yml
Due: none

test out publishing pre-harvested changelog
  src/pudl/helpers.py
  src/pudl/transform/eia860m.py
  src/pudl/transform/rus7.py
Due: none

Switch from `pre-commit` to `prek`; add security pre-commit hooks (#5141)
  .github/pull_request_template.md
  .github/workflows/build-deploy-docs.yml
  .github/workflows/deploy-pudl.yml
  .github/workflows/update-dois.yml
  .github/workflows/update-lockfiles.yml
  .pre-commit-config.yaml
  .secrets.baseline
  AGENTS.md
  docs/dev/dev_setup.rst
  notebooks/work-in-progress/eia191-annual-vs-monthly.ipynb
  pixi.lock
  pyproject.toml
Due: nb-output-clear, conda-lock

Update release notes for PR 5124
  docs/release_notes.rst
Due: none

Add dghome script to show and manage DAGSTER_HOME disk use.
  pixi.lock
  pyproject.toml
  src/pudl/scripts/dghome.py
Due: conda-lock

Don't collect coverage on dghome
  pixi.lock
  pyproject.toml
Due: conda-lock

Make AutoAPI happy w/ the preformatted string.
  src/pudl/scripts/dghome.py
Due: none

Update docs & release notes
  docs/dev/run_the_etl.rst
  docs/dev/troubleshooting_dagster.rst
  docs/release_notes.rst
Due: none

Update row counts, update GHA label
  .github/workflows/update-dois.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update mapping, handle case where no matches updated
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/scripts/auto_match_utilities.py
Due: none

Clean up addition of new utilities if no change
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/scripts/auto_match_utilities.py
Due: none

add schema for ferc1 depreciation FACTORS table
  dbt/models/ferc1/core_ferc1__yearly_depreciation_factors_sched336/schema.yml
  migrations/versions/28f3f173fd3c_add_new_ferc1_depreciation_table.py
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

Remove pudl_data_config and ferc_to_sqlite_data_config fixtures
  tests/conftest.py
  tests/integration/extract/ferc_dbf_extract_test.py
  tests/integration/extract/ferc_xbrl_extract_test.py
  tests/unit/settings_test.py
Due: none

cleanup/add detail to messy column descriptions
  dbt/models/ferc1/core_ferc1__yearly_depreciation_factors_sched336/schema.yml
  migrations/versions/8c456b39d789_add_new_ferc1_depreciation_table.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

Add updated row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update release notes
  docs/release_notes.rst
Due: none

Apply suggestion from @cmgosnell
  src/pudl/scripts/auto_match_utilities.py
Due: none

Integrate February 2026 860M data (#5161)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/scripts/auto_match_utilities.py
  src/pudl/transform/eia860.py
Due: sort-row-counts

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

relock pixi.lock
  pixi.lock
Due: none

test: make unit tests not environment-aware
  src/pudl/scripts/dbt_helper.py
  test/integration/io_managers_test.py
  test/integration/settings_test.py
  test/unit/conftest.py
  test/unit/dbt_helper_test.py
  test/unit/extract/xbrl_test.py
  test/unit/helpers_test.py
  test/unit/io_managers_test.py
  test/unit/settings_test.py
  test/unit/workspace/setup_test.py
Due: none

Add draft of RUS-EIA crosswalk
  src/pudl/package_data/glue/rus_eia_crosswalk.csv
Due: none

fix time duration columns and update metadata:
  migrations/versions/ffc32058db00_add_new_ferc1_depreciation_table.py
  src/pudl/metadata/fields.py
  src/pudl/transform/ferc1.py
  test/unit/transform/ferc1_test.py
Due: none

Remove ecosystem survey banner
  docs/conf.py
Due: none

release notes and smol field description edits
  docs/release_notes.rst
  migrations/versions/06c61d323f48_add_new_ferc1_depreciation_table.py
  src/pudl/metadata/fields.py
Due: none

add row counts
  dbt/models/ferc1/core_ferc1__yearly_depreciation_factors_sched336/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

WIP add metadata
  migrations/versions/c163afae97db_add_identification_and_certification_.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

Update usage metrics ETL sa with output bucket permissions
  terraform/main.tf
Due: none

Remove ecosystem survey banner (#5168)
  docs/conf.py
Due: none

begining of next ferc table transform
  src/pudl/extract/ferc1.py
  src/pudl/metadata/fields.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
