Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Update EIA 861 DOI, clean up field descriptions, add basic DBT tests (#4827)
  dbt/models/eia861/core_eia861__yearly_advanced_metering_infrastructure/schema.yml
  dbt/models/eia861/core_eia861__yearly_demand_response/schema.yml
  dbt/models/eia861/core_eia861__yearly_demand_response_water_heater/schema.yml
  dbt/models/eia861/core_eia861__yearly_demand_side_management_ee_dr/schema.yml
  dbt/models/eia861/core_eia861__yearly_demand_side_management_sales/schema.yml
  dbt/models/eia861/core_eia861__yearly_distributed_generation_fuel/schema.yml
  dbt/models/eia861/core_eia861__yearly_distributed_generation_misc/schema.yml
  dbt/models/eia861/core_eia861__yearly_distributed_generation_tech/schema.yml
  dbt/models/eia861/core_eia861__yearly_distribution_systems/schema.yml
  dbt/models/eia861/core_eia861__yearly_dynamic_pricing/schema.yml
  dbt/models/eia861/core_eia861__yearly_energy_efficiency/schema.yml
  dbt/models/eia861/core_eia861__yearly_green_pricing/schema.yml
  dbt/models/eia861/core_eia861__yearly_net_metering_customer_fuel_class/schema.yml
  dbt/models/eia861/core_eia861__yearly_non_net_metering_customer_fuel_class/schema.yml
  dbt/models/eia861/core_eia861__yearly_non_net_metering_misc/schema.yml
  dbt/models/eia861/core_eia861__yearly_operational_data_misc/schema.yml
  dbt/models/eia861/core_eia861__yearly_operational_data_revenue/schema.yml
  dbt/models/eia861/core_eia861__yearly_reliability/schema.yml
  dbt/models/eia861/core_eia861__yearly_sales/schema.yml
  dbt/models/eia861/core_eia861__yearly_short_form/schema.yml
  dbt/models/eia861/out_eia861__yearly_balancing_authority_service_territory/schema.yml
  dbt/models/eia861/out_eia861__yearly_utility_service_territory/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/fields.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

perf: reduce `out_eia923__monthly_generation_by_generator_energy_source_code` memory usage 38GB -> 22 GB (#4836)
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

Metadata Phase 2 (#4626)
  docs/data_dictionaries/index.rst
  docs/data_dictionaries/usage_warnings.rst
  docs/dev/index.rst
  docs/dev/metadata.rst
  docs/templates/eia861_child.rst.jinja
  migrations/versions/91b851ca4e39_add_phase_2_metadata_changes.py
  migrations/versions/d4f6362326cc_add_pk_to_861_yearly_operational_data.py
  migrations/versions/f0b14d612162_.py
  src/pudl/analysis/state_demand.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/allocate_gen_fuel.py
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/metadata/resources/eia860.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/resources/eia923.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/metadata/resources/gridpathratoolkit.py
  src/pudl/metadata/resources/nrelatb.py
  src/pudl/metadata/resources/pudl.py
  src/pudl/metadata/resources/sec10k.py
  src/pudl/metadata/sources.py
  src/pudl/metadata/warnings.py
  src/pudl/scripts/resource_description.py
  src/pudl/transform/eia.py
  test/unit/metadata_test.py
Due: none

Install ce-certificates package in docker container so git works (#4891)
  docker/Dockerfile
Due: none

Add documentation for developers reviewing external contributions (#4805)
  docs/dev/index.rst
  docs/dev/managing_external_contributions.rst
Due: none

Check uniqueness of natural primary keys which contain NULL values using dbt (#4811)
  dbt/models/eia/out_eia__yearly_generators_by_ownership/schema.yml
  dbt/models/epa/core_epa__assn_eia_epacamd_subplant_ids/schema.yml
  dbt/models/ferc714/out_ferc714__respondents_with_fips/schema.yml
  dbt/models/nrelatb/core_nrelatb__yearly_projected_financial_cases_by_scenario/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  docs/release_notes.rst
  migrations/versions/7d9ec620e804_add_pk_for_phmsa_excavation_damages_.py
  src/pudl/metadata/resources/ferc714.py
  src/pudl/metadata/resources/phmsagas.py
Due: none

Remove illegal ref label (#4839)
  CITATION.cff
  devtools/generate_batch_config.py
  docs/release_notes.rst
Due: none

Update WIP, add more validations
  dbt/models/rus12/core_rus12__monthly_demand_and_energy_at_power_sources/schema.yml
  dbt/models/rus12/out_rus12__monthly_demand_and_energy_at_power_sources/schema.yml
  dbt/models/rus7/core_rus7__yearly_energy_purchased/schema.yml
  dbt/models/rus7/core_rus7__yearly_materials_and_supplies/schema.yml
  dbt/models/rus7/out_rus7__yearly_energy_purchased/schema.yml
  dbt/models/rus7/out_rus7__yearly_materials_and_supplies/schema.yml
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
Due: none

remove old alembic migrations
  migrations/versions/7d9ec620e804_add_pk_for_phmsa_excavation_damages_.py
  migrations/versions/91b851ca4e39_add_phase_2_metadata_changes.py
  migrations/versions/94f669451682_add_core_eia176__yearly_gas_disposition.py
  migrations/versions/aeb66b0b4481_add_planned_repower_date_into_860m_.py
  migrations/versions/d4f6362326cc_add_pk_to_861_yearly_operational_data.py
  migrations/versions/f0b14d612162_.py
Due: none

Update pixi.lock after merging in main
  pixi.lock
Due: none

Escape asterisk in resource description
  src/pudl/metadata/resources/rus7.py
Due: none

Update address parsing method
  pixi.lock
  pyproject.toml
  src/pudl/helpers.py
  src/pudl/transform/ferc1.py
Due: conda-lock

Addres PR comments on entity resolution methodology
  docs/methodology/entity_resolution.rst
  src/pudl/transform/eia.py
Due: none

Explicitly list composite entity IDs
  docs/methodology/entity_resolution.rst
Due: none

Set up Taplo for TOML formatting and linting (#5127)
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  .taplo.toml
  pixi.lock
  pyproject.toml
Due: conda-lock

Move remaining Dagster orchestration code under pudl.dagster
  docs/dev/run_the_etl.rst
  docs/dev/troubleshooting_dagster.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/dagster/__init__.py
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/core/eia_bulk_elec.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/core/static.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/build.py
  src/pudl/dagster/config.py
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/jobs.py
  src/pudl/dagster/partitions.py
  src/pudl/dagster/provenance.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  src/pudl/deploy/ferceqr.py
  src/pudl/extract/ferceqr.py
  src/pudl/extract/xbrl.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/resources.py
  src/pudl/settings.py
  src/pudl/transform/ferceqr.py
  src/pudl/validate.py
  test/conftest.py
  test/unit/extract/xbrl_test.py
  test/unit/settings_test.py
Due: conda-lock

Update docs/methodology/entity_resolution.rst
  docs/methodology/entity_resolution.rst
Due: none

Document PUDL entity resolution (harvesting) methodology (#5108)
  docs/conf.py
  docs/data_dictionaries/usage_warnings.rst
  docs/dev/existing_data_updates.rst
  docs/dev/naming_conventions.rst
  docs/index.rst
  docs/methodology/entity_resolution.rst
  docs/methodology/index.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/extract/eia860.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/warnings.py
  src/pudl/transform/eia.py
Due: conda-lock

Fix docs build external reference.
  docs/dev/run_the_etl.rst
  pixi.lock
  pyproject.toml
Due: conda-lock

Use canonical dg.* prefix for dagster imports within registry
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/core/eia_bulk_elec.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/core/static.py
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/partitions.py
  src/pudl/dagster/resources.py
Due: none

add copious unit tests
  src/pudl/analysis/allocate_gen_fuel.py
  test/unit/analysis/allocate_gen_fuel_test.py
Due: none

Add EIA-191 RP8 monthly gas storage ETL
  notebooks/work-in-progress/eia191-rp8-exploration.ipynb
  src/pudl/etl/__init__.py
  src/pudl/extract/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/__init__.py
  src/pudl/transform/eia191.py
Due: nb-output-clear

Address e-belfer second-review comments on EIA-191
  migrations/versions/6f78472056c4_eia191_monthly_gas_storage.py
  migrations/versions/8ea3f44edf13_eia191_monthly_gas_storage.py
  src/pudl/metadata/resources/eia191.py
Due: none

Address e-belfer metadata review comments on EIA-191
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  migrations/versions/6f78472056c4_eia191_monthly_gas_storage.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/transform/eia191.py
Due: none

Add dbt validation schema for core_eia191__monthly_gas_storage
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
Due: none

exploration notebook updated with proper id column name
  notebooks/work-in-progress/eia191-rp8-exploration.ipynb
Due: nb-output-clear

Add EIA-191 field metadata and resource schema
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
Due: none

Write EIA-191 monthly gas storage table to PUDL database
  migrations/versions/6f78472056c4_eia191_monthly_gas_storage.py
  src/pudl/transform/eia191.py
Due: none

Trim redundant 'as reported on Form 191' from EIA-191 field descriptions
  src/pudl/metadata/fields.py
Due: none

Trim additional_summary_text to one sentence in EIA-191 resource metadata
  src/pudl/metadata/resources/eia191.py
Due: none

Rename storage_field_id_eia191 to storage_field_id_eia
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  migrations/versions/8ea3f44edf13_eia191_monthly_gas_storage.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/transform/eia191.py
Due: none

Fix indentation in EIA-191 resource metadata usage_warnings
  src/pudl/metadata/resources/eia191.py
Due: none

Clear outputs from EIA-191 exploration notebooks
  notebooks/work-in-progress/eia191-annual-vs-monthly.ipynb
  notebooks/work-in-progress/eia191-rp8-exploration.ipynb
Due: nb-output-clear

Use operational_status instead of custom status field in EIA-191
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  migrations/versions/8ea3f44edf13_eia191_monthly_gas_storage.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/transform/eia191.py
Due: none

Rename reservoir_code to reservoir_id_eia and convert 999 sentinel to NA
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  migrations/versions/8ea3f44edf13_eia191_monthly_gas_storage.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia191.py
  src/pudl/package_data/eia191/column_maps/data.csv
  src/pudl/transform/eia191.py
Due: none

Fix EIA-191 migration down_revision to point to fresh_start
  migrations/versions/8ea3f44edf13_eia191_monthly_gas_storage.py
Due: none

Rename stale module eia_bulk_elec to eiaapi_electricity
  pixi.lock
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/core/eiaapi_electricity.py
Due: none

revert to mains pixi
  pixi.lock
Due: none

fix docs indents
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: conda-lock
