Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Relock conda dependencies
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Remove data bug link from docs until it can be tested
  docs/templates/resource.rst.jinja
Due: none

Update .github/ISSUE_TEMPLATE/data_bug_report.yml
  .github/ISSUE_TEMPLATE/data_bug_report.yml
Due: none

Add missing resource_id
  src/pudl/metadata/descriptions.py
Due: none

Add (placeholder) availability component to resource description
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/templates/resource_description.rst.jinja
Due: none

Follow existing naming pattern and add overrides for discontinued tables
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/resources/eia861.py
Due: none

Refactor to pull out data class and add decorators
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/scripts/resource_description.py
  test/unit/metadata_test.py
Due: none

Add type hints for component decorator
  src/pudl/metadata/descriptions.py
Due: none

Compute default availability component from DataSource working partitions
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/templates/resource_description.rst.jinja
  test/unit/metadata_test.py
Due: none

Add normalized variant for output layer descriptions, and make hourly output tables take it by default.
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
Due: none

Set layer_code manually on non-hourly output tables which are nevertheless narrow
  src/pudl/metadata/resources/allocate_gen_fuel.py
  src/pudl/metadata/resources/eia861.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/metadata/resources/sec10k.py
Due: none

Add warning for tables that do not receive ongoing updates in PUDL.
  src/pudl/metadata/warnings.py
Due: none

Add discontinued_pudl warning to descriptions for sec10k tables
  src/pudl/metadata/resources/sec10k.py
Due: none

Add placeholder warning for harvested tables
  src/pudl/metadata/warnings.py
Due: none

Flag harvested tables with warning.
  src/pudl/metadata/resources/eia.py
  src/pudl/metadata/resources/eia860.py
Due: none

Pin deepdiff to avoid breaking dbt_helper; remove PD901 ruff check
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Fix incompatibility with new deepdiff
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/scripts/dbt_helper.py
Due: conda-lock

Bring in package updates from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Extract and transform 860/923 Q4 data, drop bad mine ID, update DBT row counts and add a few more coal mine column tests
  dbt/models/eia923/core_eia923__entity_coalmine/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_generation_fuel.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Update release notes
  docs/release_notes.rst
Due: none

Condense memory usage for core_eia860m__changelog_generators
  src/pudl/helpers.py
  src/pudl/transform/eia860.py
Due: none

Update ETL row counts from nightly builds
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Respond to PR review comments
  src/pudl/transform/eia923.py
Due: none

Update release notes in response to PR comments
  docs/release_notes.rst
Due: none

Q4 quarterly update: Integrate EIA Form 860M/923 Q4 data (#4706)
  dbt/models/eia923/core_eia923__entity_coalmine/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/eia923/column_maps/energy_storage.csv
  src/pudl/package_data/eia923/column_maps/generation_fuel.csv
  src/pudl/package_data/eia923/column_maps/puerto_rico_generation_fuel.csv
  src/pudl/package_data/eia923/file_map.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/transform/eia923.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Fix Parquet IO Manager for LazyFrames and remove high-mem tag for testing in CI / Batch
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/etl/epacems_assets.py
  src/pudl/extract/extractor.py
  src/pudl/io_managers.py
Due: conda-lock

Temporarily remove invalid partition tests that depend on old infra
  test/integration/epacems_test.py
Due: none

Recreate BytesIO object in datastore BadZipFile retry call
  src/pudl/helpers.py
  src/pudl/workspace/datastore.py
Due: none

Update expected row counts for SEC 10K table with variable rows
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
Due: none

Update non-standard SEC 10-K row count check in dbt
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Fix cut-and-paste error in row-count test spec.
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
Due: none

Revert local fix to SEC 10-K row counts since it's getting fixed on main now.
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
Due: none

Avoid concatenanting null dataframes in generic extractor
  src/pudl/extract/extractor.py
Due: none

Replace our limited EPA CEMS Dask usage with Polars
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/epacamd_eia.py
  src/pudl/output/epacems.py
  test/integration/epacems_test.py
Due: conda-lock

Update non-standard SEC 10-K row count check in dbt (#4712)
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Revert null df concat fix b/c it needs more work.
  src/pudl/extract/extractor.py
Due: none

Retry on BadZipFile with fresh BytesIO
  src/pudl/workspace/datastore.py
Due: none

Add 2025 to energy use type docstring
  src/pudl/metadata/enums.py
Due: none

Save super-polarzied CEMS before setting the LLMs loose.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/etl/epacems_assets.py
  src/pudl/io_managers.py
  src/pudl/transform/epacems.py
Due: conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
