Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Speed up the FERC EQR batch ETL: Local SSD + run concurrency
  .github/workflows/build-deploy-ferceqr.yml
  builds/Dockerfile
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
  builds/pudl_batch.sh
  src/pudl/dagster/jobs.py
  src/pudl/scripts/batch_config.py
  tests/unit/scripts/batch_config_test.py
Due: none

Tune the CRT S3 upload and trim object-store log spam
  src/pudl/deploy/object_store.py
  tests/unit/deploy/object_store_test.py
Due: none

Revert FERC EQR use of Local SSD; use a 1 TB Hyperdisk instead
  .github/workflows/build-deploy-ferceqr.yml
  builds/Dockerfile
  builds/ferceqr_batch.sh
  builds/pudl_batch.sh
  src/pudl/scripts/batch_config.py
  tests/unit/scripts/batch_config_test.py
Due: none

Tune S3 server-side copy for large objects
  src/pudl/deploy/object_store.py
Due: none

Increase concurrency to 18 for ferceqr_extract and 24 max overall
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
Due: none

Reduce concurrency to 16 for ferceqr_extract and 20 for max overall
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
Due: none

Trim LLM yap from comments
  builds/dagster-ferceqr.yaml
Due: none

Try c4d-standard-32 for PUDL ETL based on experience w/ EQR
  .github/workflows/build-pudl.yml
Due: none

Bump num_concurrent_runs back to 24
  builds/dagster-ferceqr.yaml
Due: none

Raise FERC EQR concurrency; handle no-op deployments
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
  src/pudl/dagster/assets/deploy/ferceqr.py
  tests/unit/dagster/ferceqr_deployment_test.py
Due: none

Tweak concurrency and drop back to c4d-standard-32
  .github/workflows/build-deploy-ferceqr.yml
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
Due: none

Cap FERC EQR extract concurrency; recover crashed runs
  .github/workflows/build-deploy-ferceqr.yml
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
  src/pudl/extract/ferceqr.py
  src/pudl/scripts/batch_config.py
  tests/unit/scripts/batch_config_test.py
Due: none

Increase duckdb threads & memory, and dagster concurrency
  builds/dagster-ferceqr.yaml
  builds/ferceqr_batch.sh
Due: none

[chore] update Zenodo DOIs to latest versions
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Update pixi.lock
  pixi.lock
Due: none

Remove unit-tests from pre-commit hooks
  .pre-commit-config.yaml
Due: none

Ensure that FercSqliteIOManager disposes of engine during teardown
  src/pudl/dagster/io_managers.py
  tests/unit/dagster/io_managers_test.py
Due: none

Quiet pytest output; keep fast-ETL progress visible
  pyproject.toml
  tests/conftest.py
Due: conda-lock

Stop using --durations=20 on every pytest run
  pyproject.toml
Due: conda-lock

Keep pixi.lock in sync with pyproject.toml on rebase
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  docs/dev/dev_setup.rst
  pyproject.toml
Due: conda-lock

Quiet docs-build; update release notes
  docs/release_notes.rst
  pyproject.toml
Due: conda-lock

Clean up some LLM yap
  .github/workflows/pytest.yml
  pyproject.toml
  src/pudl/dagster/io_managers.py
Due: conda-lock

Update censuspep data, update dbt, handle 2024 8760 clip
  dbt/models/vcerare/out_vcerare__hourly_available_capacity_factor/schema.yml
  dbt/schema_inputs/vcerare/out_vcerare__hourly_available_capacity_factor/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/extract/vcerare.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/vcerare.py
Due: sort-row-counts

Update DOI and release notes
  docs/release_notes.rst
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Replace alias pudl_io_manager with direct parquet_io_manager
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/operational_characteristics.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/service_territory.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/core/eiaapi_electricity.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/core/static.py
  src/pudl/dagster/build.py
  src/pudl/dagster/io_managers.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/output/rus.py
  src/pudl/output/sec10k.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia176.py
  src/pudl/transform/eia191.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia860m.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/ferccid.py
  src/pudl/transform/gridpathratoolkit.py
  src/pudl/transform/nrelatb.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/sec10k.py
Due: none

Fix release notes
  docs/release_notes.rst
Due: none

Update description for model_case_nrelatb field
  src/pudl/metadata/fields.py
Due: none

Delete migrations bc bye bye alemcic is in main
  migrations/versions/cf0051e01d0c_add_2025_enums_to_model_case_nrelatb_.py
Due: none

Annotate vcerare transform helpers as LazyFrame
  src/pudl/transform/vcerare.py
Due: none

Use collect_schema() for LazyFrame introspection in vcerare
  src/pudl/transform/vcerare.py
Due: none

Clarify the paired great-lakes spot fixes in vcerare
  src/pudl/transform/vcerare.py
Due: none

Generalize vcerare leap-year hour clipping
  src/pudl/transform/vcerare.py
  tests/unit/transform/vcerare_test.py
Due: none

Give vcerare functions real Google-style docstrings
  src/pudl/transform/vcerare.py
Due: none

Trim _check_for_valid_counties assertion message
  src/pudl/transform/vcerare.py
Due: none

Add a message to the _add_time_cols dtype assertion
  src/pudl/transform/vcerare.py
Due: none

Validate vcerare counties on the wide table, before the unpivot
  src/pudl/transform/vcerare.py
  tests/unit/transform/vcerare_test.py
Due: none

Update base Docker image to see if that clear docker build failure
  .devcontainer/Dockerfile
  builds/Dockerfile
Due: none

Make devcontainer-install skills tolerate failure
  pyproject.toml
  skills-lock.json
Due: conda-lock

Integrate 2024 RARE data into PUDL (#5570)
  .devcontainer/Dockerfile
  builds/Dockerfile
  dbt/models/vcerare/out_vcerare__hourly_available_capacity_factor/schema.yml
  dbt/schema_inputs/vcerare/out_vcerare__hourly_available_capacity_factor/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  pyproject.toml
  skills-lock.json
  src/pudl/extract/vcerare.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/package_data/vcerare/file_map.csv
  src/pudl/transform/vcerare.py
  tests/unit/transform/vcerare_test.py
Due: sort-row-counts, conda-lock
