Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Add markitdown as a dev dependency
  pixi.lock
  pyproject.toml
Due: conda-lock

Harmonize FK types, enable DuckDB FK checks
  dbt/tests/data_tests/generic_tests/foreign_key.sql
  docs/release_notes.rst
  src/pudl/dagster/assets/output/databases.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  tests/unit/dagster/databases_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Fix DuckDB FK enforcement fallout: enum types and write order
  docs/release_notes.rst
  src/pudl/dagster/assets/output/databases.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  tests/unit/dagster/assets_test.py
  tests/unit/dagster/databases_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Enforce FERC SQLite prerequisite ordering
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  tests/unit/dagster/ferc_to_sqlite_test.py
Due: none

Add an OOM post-mortem for the nightly PUDL build
  builds/dagster-pudl.yaml
  builds/pudl_batch.sh
  pyproject.toml
  src/pudl/scripts/pudl_dagster_postmortem.py
  tests/unit/scripts/pudl_dagster_postmortem_test.py
Due: conda-lock

Reduce CPU oversubscription in the nightly ETL
  .github/workflows/build-pudl.yml
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/extract/vcerare.py
  src/pudl/output/rus.py
  src/pudl/package_data/settings/dg_nightly.yml
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/vcerare.py
Due: none

Rebalance extraction scheduling priorities
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc714.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/vcerare.py
  tests/unit/dagster/ferc_to_sqlite_test.py
Due: none

Enlarge the nightly build VM and raise memory concurrency
  .github/workflows/build-pudl.yml
  src/pudl/package_data/settings/dg_nightly.yml
Due: none

Crank up OMP_NUM_THREADS to speed imputation
  .github/workflows/build-pudl.yml
Due: none

Prioritize critical-path assets with HOT_PATH_OP_TAGS
  .github/workflows/build-pudl.yml
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/assets/core/eiaapi_electricity.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/censuspep.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia923.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/eiaapi.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/scripts/hot_path.py
  src/pudl/transform/censuspep.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  tests/unit/scripts/hot_path_test.py
Due: conda-lock

Update release notes
  docs/release_notes.rst
Due: none

Centralize scheduling-priority op tags via helper
  src/pudl/analysis/mcoe.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/extract/vcerare.py
  src/pudl/output/rus.py
  src/pudl/scripts/hot_path.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/vcerare.py
Due: none

Apply safe ruff 0.16 auto-fixes
  builds/ferceqr_cleanup_staging.py
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_inputs.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/output/databases.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  src/pudl/extract/csv.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/scripts/generate_pudl_duckdb.py
  src/pudl/scripts/metadata_to_rst.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/scripts/pudl_deploy.py
  src/pudl/scripts/pudl_service_territories.py
  src/pudl/scripts/resource_description.py
  src/pudl/scripts/zenodo_data_release.py
  src/pudl/settings.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/ferceqr.py
  src/pudl/transform/nrelatb.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  tests/conftest.py
  tests/unit/scripts/pudl_deploy_test.py
  tests/unit/scripts/zenodo_data_release_test.py
  tests/unit/settings_test.py
  tests/unit/transform/eia923_test.py
  tests/unit/transform/epacems_test.py
  tests/unit/transform/vcerare_test.py
Due: conda-lock

Apply unsafe ruff 0.16 auto-fixes
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/name_cleaner.py
  src/pudl/analysis/service_territory.py
  src/pudl/dbt_schema.py
  src/pudl/deploy/zenodo_metadata.py
  src/pudl/extract/censuspep.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eiaapi.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/helpers.py
  src/pudl/output/ferc1.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  tests/integration/workspace/resource_cache_test.py
  tests/unit/dagster/resources_test.py
  tests/unit/transform/classes_test.py
Due: none

Enable ASYNC, FA, FLY, FURB, INT, LOG, T10, TID, G rulesets
  devtools/check_against_nightly.py
  pyproject.toml
  src/pudl/dagster/assets/deploy/ferceqr.py
Due: conda-lock

Revert to explicit ruff select list; unignore B006/B008
  pyproject.toml
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/extract/ferceqr.py
  src/pudl/output/ferc1.py
  tests/integration/analysis/record_linkage_test.py
Due: conda-lock

Enable T20 ruleset; route print() through logging or click
  devtools/print_requirements.py
  docs/conf.py
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/scripts/update_zenodo_dois.py
  src/pudl/transform/eia923.py
  tests/unit/scripts/update_zenodo_dois_test.py
Due: conda-lock

Break up composite assertions to provide more specific error messages.
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
Due: none

Enable PERF ruleset; replace manual list-building loops
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eiaapi.py
  src/pudl/metadata/classes.py
  src/pudl/output/ferc1.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc1.py
  tests/unit/metadata/metadata_test.py
Due: conda-lock

Address new Ruff linting errors
  tests/unit/helpers_test.py
Due: none

Fix remaining ruff 0.16 default violations; revert bad UserString fix
  devtools/materialize_to_parquet.py
  devtools/memory_profile.py
  pyproject.toml
  src/pudl/analysis/timeseries_evaluation.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/provenance.py
  src/pudl/dagster/resources.py
  src/pudl/dbt_schema.py
  src/pudl/extract/csv.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc1.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/workspace/resource_cache.py
  tests/conftest.py
  tests/integration/extract/ferc_dbf_extract_test.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/dagster/provenance_test.py
  tests/unit/extract/csv_test.py
  tests/unit/workspace/datastore_test.py
Due: conda-lock

Enable PYI ruleset; replace namedtuple with typing.NamedTuple
  pyproject.toml
  src/pudl/metadata/descriptions.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc1.py
  tests/unit/validate/dbt_helper_test.py
Due: conda-lock

Enable RUF ruleset; fix ambiguous Unicode and regex match hygiene
  pyproject.toml
  src/pudl/metadata/codes.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/metadata/sources.py
  src/pudl/transform/eia176.py
  src/pudl/transform/eia191.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/rus12.py
  tests/unit/deploy/zenodo_metadata_test.py
  tests/unit/helpers_test.py
  tests/unit/scripts/check_path_permissions_test.py
  tests/unit/workspace/resource_cache_test.py
Due: conda-lock

Fix '== True' that had been stripped by a linter rule
  src/pudl/transform/eia860.py
Due: none

Remove stale `# noqa: ICN002` on geopandas imports
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/spatial.py
  src/pudl/analysis/state_demand.py
  src/pudl/dagster/asset_checks.py
  src/pudl/extract/censusdp1tract.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
  tests/pipeline/dagster/geoparquet_test.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/unit/analysis/spatial_test.py
  tests/unit/analysis/state_demand_test.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/helpers_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Update dbt_helper / row count checks to work with year_quarter partitions
  dbt/models/ferceqr/core_ferceqr__transactions/schema.yml
  dbt/schema_inputs/ferceqr/core_ferceqr__transactions/schema.human.yml
  src/pudl/dbt_schema.py
  src/pudl/metadata/descriptions.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/validate/dbt.py
  src/pudl/workspace/setup.py
Due: none

Add transactions row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Autogenerate table locations on a per-table basis
  dbt/dbt_project.yml
  dbt/models/ferceqr/core_ferceqr__transactions/schema.yml
  src/pudl/dbt_schema.py
  src/pudl/scripts/dbt_helper.py
Due: none

update rate base ending bal
  dbt/schema_inputs/ferc1/out_ferc1__yearly_rate_base/schema.human.yml
Due: none

Generate eqr table schemas / row counts
  dbt/models/ferceqr/core_ferceqr__contracts/schema.yml
  dbt/models/ferceqr/core_ferceqr__quarterly_identity/schema.yml
  dbt/models/ferceqr/core_ferceqr__quarterly_index_pub/schema.yml
  dbt/schema_inputs/ferceqr/core_ferceqr__contracts/schema.human.yml
  dbt/schema_inputs/ferceqr/core_ferceqr__quarterly_identity/schema.human.yml
  dbt/schema_inputs/ferceqr/core_ferceqr__quarterly_index_pub/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Regenerate rate base table schema.yml
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
Due: none

Update docs/release_notes.rst
  docs/release_notes.rst
Due: none

Integrate FERC Form 1 2025 Stragglers (#5668)
  dbt/models/ferc1/out_ferc1__yearly_rate_base/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_rate_base/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/params/ferc1.py
Due: sort-row-counts

Remove silent dtype downcasting pandas 3.0 compatibility change.
  src/pudl/__init__.py
Due: none

Fix testing docs wording & example
  docs/dev/testing.rst
Due: none

Pin sphinx-llm<1.1 to avoid 'unknown node type' errors
  pixi.lock
  pyproject.toml
Due: conda-lock

Make citation headers dynamic
  docs/citations_media/catalyst_publications.rst
  docs/citations_media/citing_cooperative.rst
  docs/citations_media/citing_pudl.rst
  docs/citations_media/further_reading.rst
  docs/conf.py
  docs/templates/citations_media_page.rst.jinja
  pyproject.toml
Due: conda-lock

Use dbt_expectations for operator utility check
  dbt/macros/one_value_per_group.sql
  dbt/macros/schema.yml
  dbt/models/eia/out_eia__yearly_generators_by_ownership/schema.yml
  dbt/schema_inputs/eia/out_eia__yearly_generators_by_ownership/schema.human.yml
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
