Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Add EIA-930 Kaggle notebook links to relevant docs.
  docs/methodology/timeseries_imputation.rst
  docs/release_notes.rst
  docs/templates/eia930_child.rst.jinja
Due: none

Fix mangled URL in EIA-930 data source docs
  docs/templates/eia930_child.rst.jinja
Due: none

Apply suggestions from code review
  docs/templates/sec10k_child.rst.jinja
  src/pudl/output/sec10k.py
Due: none

Close out docs after EIA-930 imputation result validation (#4623)
  docs/methodology/timeseries_imputation.rst
  docs/release_notes.rst
  docs/templates/eia930_child.rst.jinja
  src/pudl/metadata/resources/eia930.py
Due: none

Try a blacksmith CI runner
  .github/actionlint.yml
  .github/workflows/pytest.yml
Due: none

Add workflow telemetry collection step.
  .github/workflows/pytest.yml
Due: none

Try smaller paid GitHub Runner.
  .github/actionlint.yml
  .github/workflows/pytest.yml
Due: none

Add workflow-telemetry to ci-integration job
  .github/workflows/pytest.yml
Due: none

Back to bigger GitHub runner but w/ telemetry
  .github/workflows/pytest.yml
Due: none

Show runner disk space usage at various points in ci-integration
  .github/workflows/pytest.yml
Due: none

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

relock dependencies
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Back to blacksmith runner with disk usage & telemetry
  .github/workflows/pytest.yml
Due: none

Use relative_paths = true with coverage
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Pull environment files from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Avoid yanked dbt 1.10.12
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Check on pytest disk space usage too.
  .github/workflows/pytest.yml
Due: none

Update FERC DOIs
  src/pudl/workspace/datastore.py
Due: none

Move information from case study into individual irregularities, with receipts
  docs/templates/sec10k_child.rst.jinja
Due: none

Add notebook with derivations
  docs/templates/sec10k_child.rst.jinja
  notebooks/work-in-progress/sec10k_irregularities_figures.ipynb
Due: nb-output-clear

Trim down the disk space logging.
  .github/workflows/pytest.yml
Due: none

Add a comment explaining Blacksmith vs. GitHub runners.
  .github/workflows/pytest.yml
Due: none

Experiment with 3rd-party GitHub Runners (#4627)
  .github/actionlint.yml
  .github/workflows/pytest.yml
  pyproject.toml
Due: conda-lock

Force dependent dbt test to run after dbt build
  test/integration/dbt_test.py
Due: none

Lock sqlglot to avoid issues with Splink
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Move old case study to blog post; make availability section conform to format of other data sources
  docs/templates/sec10k_child.rst.jinja
  notebooks/work-in-progress/sec10k-blog.ipynb
Due: nb-output-clear

Typos and minor corrections
  docs/templates/sec10k_child.rst.jinja
Due: none

clean duplicates in the core primary key introduced by the older years of data
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  migrations/versions/121423b04d79_phmsagas_schema.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Reintegrate 88888 99999 (#4291)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  docs/templates/eia861_child.rst.jinja
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  test/unit/transform/eia861.py
Due: sort-row-counts

change col names from number to id
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_filings/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  migrations/versions/8b9a4fab8972_phmsagas_schema.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

change report_year to report_date and add FK relationships
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_install_decade/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_by_material_and_size/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_excavation_damages/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_filings/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  migrations/versions/377e7e72f3d2_phmsagas_schema.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

Add (placeholder) availability component to resource description
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/templates/resource_description.rst.jinja
Due: none

Refactor to pull out data class and add decorators
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/scripts/resource_description.py
  test/unit/metadata_test.py
Due: none

update doi (it just workedupdate unaccounted for gas frac docs
  migrations/versions/66e6d2172be7_phmsagas_schema.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/workspace/datastore.py
Due: none

convert the mains from the leaks table to the number of mains instead of miles and make a _core deduped table
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_leaks/schema.yml
  migrations/versions/053f6206fe23_phmsagas_schema.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/phmsagas.py
  src/pudl/transform/phmsagas.py
Due: none

tinsy update
  src/pudl/transform/phmsagas.py
Due: none

add irregularity about nested subsidiaries
  docs/templates/sec10k_child.rst.jinja
Due: none

fix typo
  docs/templates/sec10k_child.rst.jinja
Due: none

add dbt schema checks and clean up for fast etl
  dbt/models/phmsagas/_core_phmsagas__yearly_distribution_misc/schema.yml
  dbt/models/phmsagas/core_phmsagas__yearly_distribution_operators/schema.yml
  docs/release_notes.rst
  notebooks/work-in-progress/phmsagas_distribution.ipynb
  src/pudl/transform/eia923.py
  src/pudl/transform/phmsagas.py
  test/unit/transform/phmsagas_test.py
Due: nb-output-clear

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
