Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Add social/donate links to docs header
  docs/_templates/llms-txt-link.html
  docs/conf.py
Due: none

Use different GitHub icon
  docs/conf.py
Due: none

Add Singularity to sustainers; deduplicate sustainer texts
  .gitignore
  README.rst
  docs/conf.py
  docs/images/logos/Singularity.png
  docs/index.rst
Due: none

Make llms.txt link conditional on sphinx_llm being installed
  docs/conf.py
Due: none

Add PR reference to release notes
  docs/release_notes.rst
Due: none

Add lightning bolts to sustainer headers...
  README.rst
Due: none

Cleanup docs img hack dir after docs build
  docs/conf.py
Due: none

Fix docstring
  docs/conf.py
Due: none

Fix rowcounts from nightly build failure
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

add llm best practices docs page
  docs/dev/index.rst
  docs/dev/llm_best_practices.rst
Due: none

Fix rowcounts from nightly build failure (#5394)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

first pass and auto doi updates
  dbt/models/eia/core_eia__yearly_fuel_receipts_costs_aggs/schema.yml
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  dbt/models/eia930/core_eia930__hourly_interchange/schema.yml
  dbt/models/eia930/core_eia930__hourly_net_generation_by_energy_source/schema.yml
  dbt/models/eia930/core_eia930__hourly_operations/schema.yml
  dbt/models/eia930/core_eia930__hourly_subregion_demand/schema.yml
  dbt/models/eia930/out_eia930__hourly_operations/schema.yml
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/package_data/settings/etl_fast.yml
Due: none

redo the source management removing Q1 2015.. but it had 2026Q2 in it before this but whatevs
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/etl_fast.yml
Due: none

Use shorter branch name for update-dois PRs
  .github/workflows/update-dois.yml
Due: none

Use more specific GIT_TAG in lieu of BUILD_ID
  .github/workflows/build-pudl.yml
Due: none

Revert half-baked move from BUILD_ID to GIT_TAG
  .github/workflows/build-pudl.yml
Due: none

Fix alembic migration history
  migrations/versions/3ef28b161181_transmission_structure_types.py
Due: none

Update row counts for new DOIs
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Standardize batch job ID prefixes to match workflow file
  .github/workflows/build-deploy-ferceqr.yml
  .github/workflows/build-pudl.yml
  .github/workflows/deploy-pudl.yml
Due: none

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

Update Dockerfiles and dev dependencies
  .devcontainer/Dockerfile
  builds/Dockerfile
  pixi.lock
  pyproject.toml
Due: conda-lock

Relock dependencies
  pixi.lock
Due: none

Remove upper pins on dbt packages
  dbt/package-lock.yml
  dbt/packages.yml
Due: none

Include workflow run number in branch name
  .github/workflows/update-dois.yml
Due: none

Configure devcontainer to work with zed editor
  .devcontainer/devcontainer.json
  .devcontainer/zed-settings.json
  .gitignore
  .pre-commit-config.yaml
  pixi.lock
  pyproject.toml
Due: conda-lock

[chore] update Zenodo DOIs but with shorter branch name (#5396)
  .github/workflows/build-deploy-ferceqr.yml
  .github/workflows/build-pudl.yml
  .github/workflows/deploy-pudl.yml
  .github/workflows/update-dois.yml
  dbt/models/eia/core_eia__yearly_fuel_receipts_costs_aggs/schema.yml
  dbt/models/eia191/core_eia191__monthly_gas_storage/schema.yml
  dbt/models/eia930/core_eia930__hourly_interchange/schema.yml
  dbt/models/eia930/core_eia930__hourly_net_generation_by_energy_source/schema.yml
  dbt/models/eia930/core_eia930__hourly_operations/schema.yml
  dbt/models/eia930/core_eia930__hourly_subregion_demand/schema.yml
  dbt/models/eia930/out_eia930__hourly_operations/schema.yml
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia930/column_maps/balance.csv
  src/pudl/package_data/eia930/column_maps/interchange.csv
  src/pudl/package_data/eia930/column_maps/subregion.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
Due: sort-row-counts

Add new citations
  docs/catalyst_cites.bib
Due: none

Revert secrets.baseline file
  .secrets.baseline
Due: none

oops, fix mismapping created in merge resolution
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
Due: none

release docs for v2026.7.0
  CITATION.cff
  docs/release_notes.rst
Due: none

Use more reasonable release date and add data source links
  CITATION.cff
  docs/release_notes.rst
Due: none

Update MATS zenodo DOIs
  src/pudl/metadata/sources.py
  src/pudl/package_data/settings/zenodo_dois.yml
Due: none

Close out release notes for v2026.7.0 (#5400)
  CITATION.cff
  docs/release_notes.rst
Due: none

Fix named reference rst
  docs/data_sources/future_data.rst
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
