Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Fix Optional-narrowing gaps found via pyrefly baseline review
  .pyrefly-baseline.json
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/metadata/descriptions.py
  tests/unit/workspace/datastore_test.py
Due: none

Clarify dev docs pyrefly setup wording
  docs/dev/dev_setup.rst
Due: none

Address issues from code review
  docs/release_notes.rst
  pyproject.toml
  src/pudl/output/ferc1.py
Due: conda-lock

Update dev docs and release notes
  docs/dev/dev_setup.rst
  docs/release_notes.rst
Due: none

Amanda validate rus12 issue 5368 (#5564)
  dbt/models/rus12/core_rus12__yearly_sources_and_distribution/schema.yml
  dbt/models/rus12/out_rus12__yearly_sources_and_distribution/schema.yml
  dbt/schema_inputs/rus12/core_rus12__yearly_sources_and_distribution/schema.human.yml
  dbt/schema_inputs/rus12/out_rus12__yearly_sources_and_distribution/schema.human.yml
  docs/release_notes.rst
Due: none

Update to Pyrefly 1.3.0 and fix some type errors (#5583)
  .pyrefly-baseline.json
  AGENTS.md
  docs/dev/dev_setup.rst
  docs/release_notes.rst
  pyproject.toml
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/resources.py
  src/pudl/extract/dbf.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/output/ferc1.py
  src/pudl/scripts/pyrefly_diff_baseline.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/workspace/datastore.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/validate/dbt_schema_drift_test.py
  tests/unit/workspace/datastore_test.py
Due: conda-lock

Apply unsafe ruff 0.16 auto-fixes
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/name_cleaner.py
  src/pudl/analysis/service_territory.py
  src/pudl/dbt_schema.py
  src/pudl/deploy/zenodo_metadata.py
  src/pudl/extract/censuspep.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia861.py
  src/pudl/extract/eiaapi.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/helpers.py
  src/pudl/output/ferc1.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia861.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  tests/integration/workspace/resource_cache_test.py
  tests/unit/dagster/resources_test.py
  tests/unit/transform/classes_test.py
Due: none

Enable ASYNC, FA, FLY, FURB, INT, LOG, T10, TID, G rulesets
  devtools/check_against_nightly.py
  pyproject.toml
  src/pudl/dagster/assets/deploy/ferceqr.py
Due: conda-lock

Revert to explicit ruff select list; unignore B006/B008
  pyproject.toml
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/extract/ferceqr.py
  src/pudl/output/ferc1.py
  tests/integration/analysis/record_linkage_test.py
Due: conda-lock

Apply safe ruff 0.16 auto-fixes
  builds/ferceqr_cleanup_staging.py
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_inputs.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/asset_checks.py
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/assets/output/databases.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  src/pudl/extract/csv.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/scripts/generate_pudl_duckdb.py
  src/pudl/scripts/metadata_to_rst.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/scripts/pudl_deploy.py
  src/pudl/scripts/pudl_service_territories.py
  src/pudl/scripts/resource_description.py
  src/pudl/scripts/zenodo_data_release.py
  src/pudl/settings.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/ferceqr.py
  src/pudl/transform/nrelatb.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  tests/conftest.py
  tests/unit/scripts/pudl_deploy_test.py
  tests/unit/scripts/zenodo_data_release_test.py
  tests/unit/settings_test.py
  tests/unit/transform/eia923_test.py
  tests/unit/transform/epacems_test.py
  tests/unit/transform/vcerare_test.py
Due: conda-lock

Enable T20 ruleset; route print() through logging or click
  devtools/print_requirements.py
  docs/conf.py
  pyproject.toml
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/scripts/update_zenodo_dois.py
  src/pudl/transform/eia923.py
  tests/unit/scripts/update_zenodo_dois_test.py
Due: conda-lock

Fix remaining ruff 0.16 default violations; revert bad UserString fix
  devtools/materialize_to_parquet.py
  devtools/memory_profile.py
  pyproject.toml
  src/pudl/analysis/timeseries_evaluation.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/provenance.py
  src/pudl/dagster/resources.py
  src/pudl/dbt_schema.py
  src/pudl/extract/csv.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc1.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/resource_helpers.py
  src/pudl/transform/classes.py
  src/pudl/transform/ferc1.py
  src/pudl/workspace/resource_cache.py
  tests/conftest.py
  tests/integration/extract/ferc_dbf_extract_test.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/dagster/provenance_test.py
  tests/unit/extract/csv_test.py
  tests/unit/workspace/datastore_test.py
Due: conda-lock

Enable PT (flake8-pytest-style) ruleset in ruff
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  tests/integration/scripts/console_scripts_test.py
  tests/pipeline/analysis/ferc1_eia_train_test.py
  tests/pipeline/glue/glue_test.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/unit/analysis/allocate_gen_fuel_test.py
  tests/unit/analysis/mcoe_test.py
  tests/unit/analysis/ml_tools_test.py
  tests/unit/analysis/operational_characteristics_test.py
  tests/unit/analysis/spatial_test.py
  tests/unit/analysis/state_demand_test.py
  tests/unit/analysis/timeseries_cleaning_test.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/dagster/resources_test.py
  tests/unit/dbt_schema_test.py
  tests/unit/deploy/deploy_pudl_test.py
  tests/unit/extract/eiaapi_test.py
  tests/unit/extract/extractor_test.py
  tests/unit/extract/xbrl_test.py
  tests/unit/helpers_test.py
  tests/unit/metadata/metadata_test.py
  tests/unit/output/ferc1_test.py
  tests/unit/scripts/auto_match_utilities_test.py
  tests/unit/scripts/check_path_permissions_test.py
  tests/unit/scripts/pudl_deploy_test.py
  tests/unit/scripts/pudl_null_cols_test.py
  tests/unit/scripts/zenodo_data_release_test.py
  tests/unit/settings_test.py
  tests/unit/transform/classes_test.py
  tests/unit/transform/eia176_test.py
  tests/unit/transform/eia861_test.py
  tests/unit/transform/eia923_test.py
  tests/unit/transform/eiaapi_test.py
  tests/unit/validate/dbt_helper_test.py
  tests/unit/validate/dbt_schema_drift_test.py
  tests/unit/validate/dbt_wrapper_test.py
  tests/unit/validate/quality_test.py
Due: conda-lock

Enable PERF ruleset; replace manual list-building loops
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/dagster/assets/__init__.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eiaapi.py
  src/pudl/metadata/classes.py
  src/pudl/output/ferc1.py
  src/pudl/transform/classes.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc1.py
  tests/unit/metadata/metadata_test.py
Due: conda-lock

Enable RUF ruleset; fix ambiguous Unicode and regex match hygiene
  pyproject.toml
  src/pudl/metadata/codes.py
  src/pudl/metadata/dfs.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/metadata/sources.py
  src/pudl/transform/eia176.py
  src/pudl/transform/eia191.py
  src/pudl/transform/eia861.py
  src/pudl/transform/eia923.py
  src/pudl/transform/rus12.py
  tests/unit/deploy/zenodo_metadata_test.py
  tests/unit/helpers_test.py
  tests/unit/scripts/check_path_permissions_test.py
  tests/unit/workspace/resource_cache_test.py
Due: conda-lock

Enable PYI ruleset; replace namedtuple with typing.NamedTuple
  pyproject.toml
  src/pudl/metadata/descriptions.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc1.py
  tests/unit/validate/dbt_helper_test.py
Due: conda-lock

Remove stale `# noqa: ICN002` on geopandas imports
  src/pudl/analysis/service_territory.py
  src/pudl/analysis/spatial.py
  src/pudl/analysis/state_demand.py
  src/pudl/dagster/asset_checks.py
  src/pudl/extract/censusdp1tract.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/output/censusdp1tract.py
  src/pudl/output/ferc714.py
  tests/pipeline/dagster/geoparquet_test.py
  tests/pipeline/scripts/console_scripts_test.py
  tests/unit/analysis/spatial_test.py
  tests/unit/analysis/state_demand_test.py
  tests/unit/dagster/asset_checks_test.py
  tests/unit/dagster/io_managers_test.py
  tests/unit/helpers_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Remove no-op unstack_balances_to_report_year_instant_xbrl guard
  src/pudl/transform/ferc1.py
Due: none

Fix '== True' that had been stripped by a linter rule
  src/pudl/transform/eia860.py
Due: none

Harmonize FK types, enable DuckDB FK checks
  dbt/tests/data_tests/generic_tests/foreign_key.sql
  docs/release_notes.rst
  src/pudl/dagster/assets/output/databases.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  tests/unit/dagster/databases_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Fix DuckDB FK enforcement fallout: enum types and write order
  docs/release_notes.rst
  src/pudl/dagster/assets/output/databases.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/fields.py
  tests/unit/dagster/assets_test.py
  tests/unit/dagster/databases_test.py
  tests/unit/metadata/metadata_test.py
Due: none

Rebalance extraction scheduling priorities
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc714.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/vcerare.py
  tests/unit/dagster/ferc_to_sqlite_test.py
Due: none

Enlarge the nightly build VM and raise memory concurrency
  .github/workflows/build-pudl.yml
  src/pudl/package_data/settings/dg_nightly.yml
Due: none

Enforce FERC SQLite prerequisite ordering
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  tests/unit/dagster/ferc_to_sqlite_test.py
Due: none

Add an OOM post-mortem for the nightly PUDL build
  builds/dagster-pudl.yaml
  builds/pudl_batch.sh
  pyproject.toml
  src/pudl/scripts/pudl_dagster_postmortem.py
  tests/unit/scripts/pudl_dagster_postmortem_test.py
Due: conda-lock

Reduce CPU oversubscription in the nightly ETL
  .github/workflows/build-pudl.yml
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/extract/vcerare.py
  src/pudl/output/rus.py
  src/pudl/package_data/settings/dg_nightly.yml
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/vcerare.py
Due: none

Crank up OMP_NUM_THREADS to speed imputation
  .github/workflows/build-pudl.yml
Due: none

Prioritize critical-path assets with HOT_PATH_OP_TAGS
  .github/workflows/build-pudl.yml
  pyproject.toml
  src/pudl/analysis/allocate_gen_fuel.py
  src/pudl/analysis/mcoe.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/dagster/assets/core/eiaapi_electricity.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/censuspep.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia923.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/output/eia.py
  src/pudl/output/eia860.py
  src/pudl/output/eia923.py
  src/pudl/output/eiaapi.py
  src/pudl/output/ferc1.py
  src/pudl/output/ferc714.py
  src/pudl/scripts/hot_path.py
  src/pudl/transform/censuspep.py
  src/pudl/transform/eia.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  tests/unit/scripts/hot_path_test.py
Due: conda-lock

Centralize scheduling-priority op tags via helper
  src/pudl/analysis/mcoe.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/op_tags.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/epamats.py
  src/pudl/extract/extractor.py
  src/pudl/extract/phmsagas.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/extract/vcerare.py
  src/pudl/output/rus.py
  src/pudl/scripts/hot_path.py
  src/pudl/transform/eiaaeo.py
  src/pudl/transform/phmsagas.py
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
  src/pudl/transform/vcerare.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Break up composite assertions to provide more specific error messages.
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
Due: none

Replace importlib.resources with pathlib.Path access
  .pyrefly-baseline.json
  devtools/ferc1-eia-glue/training_data/validate_and_integrate_FERC1-EIA_manually_mapped_records.ipynb
  docs/dev/existing_data_updates.rst
  docs/templates/ferc714_child.rst.jinja
  src/pudl/__init__.py
  src/pudl/analysis/ml_tools/models.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/analysis/record_linkage/eia_ferc1_inputs.py
  src/pudl/analysis/record_linkage/eia_ferc1_record_linkage.py
  src/pudl/analysis/record_linkage/eia_ferc1_train.py
  src/pudl/analysis/record_linkage/name_cleaner.py
  src/pudl/extract/dbf.py
  src/pudl/extract/excel.py
  src/pudl/extract/extractor.py
  src/pudl/extract/nrelatb.py
  src/pudl/extract/rus12.py
  src/pudl/extract/rus7.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/glue/ferc714.py
  src/pudl/helpers.py
  src/pudl/output/ferc1.py
  src/pudl/scripts/auto_match_utilities.py
  src/pudl/transform/censuspep.py
  src/pudl/transform/eia.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/ferc714.py
  src/pudl/transform/params/ferc1.py
  src/pudl/workspace/datastore.py
  tests/pipeline/analysis/ferc1_eia_train_test.py
  tests/unit/analysis/plant_parts_eia_test.py
  tests/unit/settings_test.py
Due: nb-output-clear

Fix dbt macro argument docs for dbt 1.12 validation
  dbt/macros/schema.yml
  dbt/tests/data_tests/generic_tests/schema.yml
Due: none

Remove now-unneeded package_data __init__.py files
  devtools/debug-column-mapping.ipynb
  docs/release_notes.rst
  src/pudl/analysis/ml_tools/models.py
  src/pudl/analysis/plant_parts_eia.py
  src/pudl/extract/excel.py
  src/pudl/extract/extractor.py
  src/pudl/package_data/__init__.py
  src/pudl/package_data/censuspep/__init__.py
  src/pudl/package_data/censuspep/column_maps/__init__.py
  src/pudl/package_data/eia176/__init__.py
  src/pudl/package_data/eia176/column_maps/__init__.py
  src/pudl/package_data/eia191/__init__.py
  src/pudl/package_data/eia191/column_maps/__init__.py
  src/pudl/package_data/eia757a/__init__.py
  src/pudl/package_data/eia757a/column_maps/__init__.py
  src/pudl/package_data/eia860/__init__.py
  src/pudl/package_data/eia860/column_maps/__init__.py
  src/pudl/package_data/eia860m/__init__.py
  src/pudl/package_data/eia860m/column_maps/__init__.py
  src/pudl/package_data/eia861/__init__.py
  src/pudl/package_data/eia861/column_maps/__init__.py
  src/pudl/package_data/eia923/__init__.py
  src/pudl/package_data/eia923/column_maps/__init__.py
  src/pudl/package_data/eia930/__init__.py
  src/pudl/package_data/eia930/column_maps/__init__.py
  src/pudl/package_data/epacems/__init__.py
  src/pudl/package_data/ferc1/__init__.py
  src/pudl/package_data/ferc1/row_maps/__init__.py
  src/pudl/package_data/glue/__init__.py
  src/pudl/package_data/phmsagas/__init__.py
  src/pudl/package_data/phmsagas/column_maps/__init__.py
  src/pudl/package_data/rus12/__init__.py
  src/pudl/package_data/rus12/column_maps/__init__.py
  src/pudl/package_data/rus7/__init__.py
  src/pudl/package_data/settings/__init__.py
  src/pudl/package_data/test/__init__.py
  src/pudl/package_data/test/column_maps/__init__.py
  src/pudl/package_data/vcerare/__init__.py
Due: nb-output-clear

Map utility and plant IDs
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none
