Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Trim some LLM yap
  src/pudl/transform/ferc1.py
Due: none

Skip DuckDB CSV auto-detection in extract_vcerare
  src/pudl/extract/vcerare.py
  src/pudl/helpers.py
  src/pudl/transform/vcerare.py
  tests/unit/extract/vcerare_test.py
  tests/unit/helpers_test.py
Due: none

Use native DuckDB writer for EIA-930 extraction
  src/pudl/extract/eia930.py
Due: none

Only extract needed zip members in duckdb_extract_zipped_csv
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Use native DuckDB writer for all four FERC EQR raw table extractions
  src/pudl/extract/ferceqr.py
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Add use_native_duckdb_writer opt-in, use it for vcerare extraction
  src/pudl/extract/vcerare.py
  src/pudl/helpers.py
  tests/unit/helpers_test.py
Due: none

Declare pudl_paths field and drop dead xbrl_metadata_json write
  src/pudl/transform/ferc1.py
Due: none

Remove the fixed pyrefly error from the baseline
  .pyrefly-baseline.json
Due: none

Add op-chars-histogram marimo notebook
  notebooks/work-in-progress/sylvan-heat-rates/op-chars-histograms.py
  pyproject.toml
Due: conda-lock

Add new citations
  docs/catalyst_cites.bib
Due: none

Update citations
  docs/catalyst_cites.bib
Due: none

Prefer duplicate citation with abstract
  docs/catalyst_cites.bib
Due: none

Update row counts for 2026
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Transform mats 5428 (#5465)
  dbt/models/epamats/core_epamats__hourly_emissions/schema.yml
  dbt/schema_inputs/epamats/core_epamats__hourly_emissions/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/dagster/assets/__init__.py
  src/pudl/extract/epacems.py
  src/pudl/extract/epamats.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/enums.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/epamats.py
  src/pudl/transform/__init__.py
  src/pudl/transform/epamats.py
Due: sort-row-counts

Remove local doc paths; add missing abstract
  docs/catalyst_cites.bib
Due: none

Update PUDL cites for September newsletter (#5596)
  docs/catalyst_cites.bib
Due: none

Fix CashFlowsTableTransformer metadata override (#5588)
  .pyrefly-baseline.json
  docs/release_notes.rst
  src/pudl/transform/ferc1.py
Due: none

Update rate base category tags, add notes field and drop universally from all rate base tag csvs, update field metadata to handle new renewable rate_base_category types
  src/pudl/metadata/fields.py
  src/pudl/output/ferc1.py
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_category_tags.csv
Due: none

Keep pixi.lock in sync with pyproject.toml on rebase
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  docs/dev/dev_setup.rst
  pyproject.toml
Due: conda-lock

Stop using --durations=20 on every pytest run
  pyproject.toml
Due: conda-lock

Quiet pytest output; keep fast-ETL progress visible
  pyproject.toml
  tests/conftest.py
Due: conda-lock

Ensure that FercSqliteIOManager disposes of engine during teardown
  src/pudl/dagster/io_managers.py
  tests/unit/dagster/io_managers_test.py
Due: none

Clean up some LLM yap
  .github/workflows/pytest.yml
  pyproject.toml
  src/pudl/dagster/io_managers.py
Due: conda-lock

Quiet docs-build; update release notes
  docs/release_notes.rst
  pyproject.toml
Due: conda-lock

Move release note up into v2026.10.0 section
  docs/release_notes.rst
Due: none

Silence third-party test warnings, fix ours at the source
  pyproject.toml
  src/pudl/__init__.py
  src/pudl/extract/eiaapi.py
  src/pudl/output/ferc1.py
  src/pudl/transform/eia923.py
Due: conda-lock
