Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Update docstring
  src/pudl/transform/eia860.py
Due: none

Fully drop these nuclear gens
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/transform/eia860.py
Due: none

Remove file paths specific to my desktop
  docs/catalyst_cites.bib
Due: none

Clean up context input
  src/pudl/transform/eia860.py
Due: none

Update rate_base_category for solar_production_plant, wind_production_plant, and energy_storage_plant
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_category_tags.csv
Due: none

Restore lost abstracts
  docs/catalyst_cites.bib
Due: none

Add / Update Citations (#5682)
  docs/catalyst_cites.bib
Due: none

Trim LLM yap in adjusted ferc1 plant ID 1-to-1 mapping test description
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.human.yml
Due: none

Consolidate wrapped functions into dagster ops in ferc1 plant ID assignment
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/link_cross_year.py
  tests/unit/analysis/classify_plants_ferc1_test.py
  tests/unit/analysis/link_cross_year_test.py
Due: none

Update rate_base_category for solar_production_plant, wind_production_plant, and energy_storage_plant (#5683)
  src/pudl/package_data/ferc1/xbrl_factoid_rate_base_category_tags.csv
Due: none

Update docs
  docs/templates/eia860_child.rst.jinja
Due: none

Update release notes - remove mention of nucs
  docs/release_notes.rst
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Integrate EIA 860M August 2026 data (#5680)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  docs/templates/eia860_child.rst.jinja
  src/pudl/extract/eia860m.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860/skipfooter.csv
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/puerto_rico_generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/eia860.py
Due: sort-row-counts

Fix hand-mapped IDs behind split FERC1 plants
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.human.yml
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Update row counts for PUDL entity and plant association tables.
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

:panda_face: Make FERC 1 plant_id_ferc1 assignment reproducible (#5642)
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/schema_inputs/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.human.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/analysis/record_linkage/classify_plants_ferc1.py
  src/pudl/analysis/record_linkage/link_cross_year.py
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  tests/integration/analysis/record_linkage_test.py
  tests/unit/analysis/classify_plants_ferc1_test.py
  tests/unit/analysis/link_cross_year_test.py
Due: sort-row-counts

Split bib docs page into multiple indexed pages and change name (#5669)
  docs/bibliography.rst
  docs/citations_media/index.rst
  docs/conf.py
  docs/data.rst
  docs/templates/citations_media_page.rst.jinja
  pyproject.toml
Due: conda-lock

Decouple docs generators from Sphinx
  docs/conf.py
  src/pudl/docs/citations.py
  src/pudl/docs/data_dictionary.py
  src/pudl/docs/data_sources.py
Due: none

Add unit tests for pudl.docs
  tests/unit/docs/__init__.py
  tests/unit/docs/build_test.py
  tests/unit/docs/citations_test.py
Due: none

Add a registry of generated docs files
  docs/conf.py
  docs/dev/build_docs.rst
  pyproject.toml
  src/pudl/docs/build.py
Due: conda-lock

Move DataSource.to_rst() to pudl.docs
  src/pudl/docs/data_sources.py
  src/pudl/docs/templates.py
  src/pudl/metadata/classes.py
Due: none

Move citation page generation to pudl.docs
  docs/conf.py
  src/pudl/docs/__init__.py
  src/pudl/docs/citations.py
Due: none

Add full docstrings to pudl.docs
  src/pudl/docs/__init__.py
  src/pudl/docs/build.py
  src/pudl/docs/citations.py
  src/pudl/docs/data_dictionary.py
  src/pudl/docs/data_sources.py
  src/pudl/docs/templates.py
Due: none

Move dictionary and source pages to pudl.docs
  docs/conf.py
  src/pudl/docs/data_dictionary.py
  src/pudl/docs/data_sources.py
Due: none

Derive datapackage doc links from INCLUDED_SOURCES
  src/pudl/dagster/assets/core/datapackage.py
  tests/unit/dagster/assets_test.py
Due: none

Generate the usage warnings page from metadata
  .gitignore
  docs/data_dictionaries/usage_warnings.rst
  docs/dev/metadata.rst
  docs/templates/usage_warnings.rst.jinja
  src/pudl/docs/build.py
  src/pudl/docs/data_dictionary.py
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/warnings.py
  tests/unit/docs/data_dictionary_test.py
Due: none

Remove the metadata_to_rst CLI
  pyproject.toml
  src/pudl/scripts/metadata_to_rst.py
Due: conda-lock

Move code table rendering out of pudl.metadata
  src/pudl/docs/data_dictionary.py
  src/pudl/metadata/classes.py
Due: none

Move Package.to_rst() to pudl.docs
  src/pudl/docs/data_dictionary.py
  src/pudl/metadata/classes.py
Due: none

Remove dead documentation RST rendering code
  src/pudl/docs/data_dictionary.py
  src/pudl/metadata/classes.py
Due: none

Remove the CodeMetadata class
  src/pudl/docs/data_dictionary.py
  src/pudl/metadata/classes.py
Due: none

Simplify the metadata Jinja environment helper
  src/pudl/metadata/classes.py
Due: none

Test the data dictionary rendering functions
  tests/unit/docs/data_dictionary_test.py
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
