Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

start integrating newer doi
  src/pudl/package_data/settings/zenodo_dois.yml
  src/pudl/transform/params/ferc1.py
Due: none

Clarify guidelines for external contributions
  docs/dev/managing_external_contributions.rst
Due: none

Record internal management guidelines for contributor PRs (#5283)
  docs/dev/managing_external_contributions.rst
Due: none

Quick fix to dg launch script doc
  docs/dev/pudl_id_mapping.rst
Due: none

Update inspect assets notebook
  devtools/inspect-assets.ipynb
Due: nb-output-clear

Change references to test/unit to tests/unit
  .secrets.baseline
  tests/conftest.py
Due: none

Sync docs and notebooks with reality of code (#5244)
  .secrets.baseline
  devtools/inspect-assets.ipynb
  devtools/pudl_id_mapping_help.ipynb
  docs/dev/existing_data_updates.rst
  docs/dev/pudl_id_mapping.rst
  pixi.lock
  tests/conftest.py
Due: nb-output-clear

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none

Require minimum pixi lockfile version 7
  .pre-commit-config.yaml
Due: none

wip: backfill-based sensors for FERC EQR
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/sensors.py
  tests/unit/dagster/ferceqr_deployment_test.py
Due: none

Add ZulipNotificationResource to Dagster resources
  src/pudl/dagster/resources.py
  tests/unit/dagster/resources_test.py
Due: none

Revert Zulip notifications in EQR deployment; keep Slack
  .github/workflows/build-deploy-ferceqr.yml
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/resources.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/dagster/resources_test.py
Due: none

Rewrite FERC EQR batch job for Dagster 1.x
  builds/Dockerfile
  builds/dagster-ferceqr.yaml
  builds/dagster-pudl.yaml
  builds/dagster.yaml
  builds/ferceqr_batch.sh
  builds/pudl_batch.sh
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/jobs.py
  src/pudl/dagster/resources.py
  src/pudl/dagster/sensors.py
  tests/pipeline/__init__.py
  tests/pipeline/ferceqr_test.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/dagster/resources_test.py
Due: none

Revert to dagster-pudl.yaml from main
  .secrets.baseline
  builds/dagster-pudl.yaml
Due: none

Update docstrings I forgot to save
  src/pudl/dagster/resources.py
Due: none

Move EIA-176 supply total check to dbt
  dbt/models/eia176/core_eia176__yearly_gas_supply/schema.yml
  src/pudl/transform/eia176.py
Due: none

Revert some batch container/script changes for simplicity.
  .github/workflows/build-deploy-ferceqr.yml
  builds/Dockerfile
  builds/ferceqr_batch.sh
Due: none

Download all ferc_to_sqlite outputs
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  tests/unit/extract/xbrl_test.py
Due: none

plant map and re-run validations
  dbt/seeds/etl_full_row_counts.csv
  pixi.lock
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/transform/ferc1.py
Due: sort-row-counts

new row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Refactor FERC EQR deployment config
  .env.example
  .github/workflows/build-deploy-ferceqr.yml
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/resources.py
  src/pudl/extract/ferceqr.py
  src/pudl/package_data/settings/ferceqr_deployment_targets.yml
  tests/pipeline/ferceqr_test.py
  tests/unit/dagster/ferceqr_deployment_test.py
  tests/unit/dagster/resources_test.py
Due: none

set PUDL_FERCEQR_ARCHIVE_PATH; VS Code chat autoApprove
  .devcontainer/devcontainer.json
Due: none

Clean up FERCEQR sentinel files
  builds/ferceqr_batch.sh
  src/pudl/dagster/assets/deploy/ferceqr.py
  tests/pipeline/ferceqr_test.py
  tests/unit/dagster/ferceqr_deployment_test.py
Due: none

Add FERCEQR deployment preflight checks
  builds/ferceqr_batch.sh
  src/pudl/scripts/ferceqr_deployment_preflight.py
  tests/unit/scripts/ferceqr_deployment_preflight_test.py
Due: none

Deploy only requested FERCEQR partitions
  src/pudl/dagster/assets/deploy/ferceqr.py
  src/pudl/dagster/sensors.py
  tests/pipeline/ferceqr_test.py
  tests/unit/dagster/ferceqr_deployment_test.py
Due: none

Add FERCEQR test deployment mode
  .github/workflows/build-deploy-ferceqr.yml
  builds/ferceqr_batch.sh
  src/pudl/dagster/resources.py
  src/pudl/package_data/settings/ferceqr_test_deployment_targets.yml
  tests/unit/dagster/resources_test.py
Due: none

row count updates from nightly builds
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Allowlist detect-secrets fixtures
  builds/dagster.yaml
  tests/unit/workspace/datastore_test.py
Due: none

Generalize and improve path permission checking CLI
  builds/ferceqr_batch.sh
  pyproject.toml
  src/pudl/scripts/check_path_permissions.py
  src/pudl/scripts/ferceqr_deployment_preflight.py
  tests/pipeline/ferceqr_test.py
  tests/unit/dagster/resources_test.py
  tests/unit/scripts/check_path_permissions_test.py
  tests/unit/scripts/ferceqr_deployment_preflight_test.py
Due: conda-lock

Fix typos
  src/pudl/metadata/resources/glue.py
  src/pudl/metadata/resources/pudl.py
Due: none

Increase some minimum versions and relock.
  pixi.lock
Due: none

check in pyproject.toml too, duh
  pyproject.toml
Due: conda-lock

Tweak deployment action & script
  .github/workflows/build-deploy-ferceqr.yml
  builds/ferceqr_batch.sh
  src/pudl/dagster/resources.py
Due: none
