Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Fix mutable-default and validator bug in GridPathRAToolkitSettings (#5136)
  src/pudl/settings.py
  test/unit/settings_test.py
Due: none

Add line continuation for temporary hold command.
  docker/gcp_pudl_etl.sh
Due: none

Consolidate all CLI entry points under src/pudl/scripts/
  .github/workflows/zenodo-cache-sync.yml
  docs/dev/datastore.rst
  pixi.lock
  pyproject.toml
  src/pudl/analysis/service_territory.py
  src/pudl/scripts/__init__.py
  src/pudl/scripts/auto_match_utilities.py
  src/pudl/scripts/dbt_helper.py
  src/pudl/scripts/deploy.py
  src/pudl/scripts/generate_pudl_duckdb.py
  src/pudl/scripts/metadata_to_rst.py
  src/pudl/scripts/pudl_check_fks.py
  src/pudl/scripts/pudl_datastore.py
  src/pudl/scripts/pudl_null_cols.py
  src/pudl/scripts/pudl_service_territories.py
  src/pudl/scripts/resource_description.py
  src/pudl/scripts/update_zenodo_dois.py
  src/pudl/scripts/zenodo_data_release.py
  src/pudl/workspace/datastore.py
  test/integration/console_scripts_test.py
  test/unit/scripts/test_scripts_conventions.py
Due: conda-lock

Add a few missing validation tests
  dbt/models/rus12/core_rus12__yearly_plant_operations_by_plant/schema.yml
  dbt/models/rus7/core_rus7__yearly_loans/schema.yml
  dbt/models/rus7/core_rus7__yearly_meeting_and_board/schema.yml
  dbt/models/rus7/out_rus7__yearly_loans/schema.yml
  dbt/models/rus7/out_rus7__yearly_meeting_and_board/schema.yml
Due: none

Fix some names and docstrings wording.
  skills-lock.json
  src/pudl/etl/__init__.py
  src/pudl/io_managers.py
Due: none

feat: add secrets for Auth0 user management API to pudl_viewer (#5126)
  terraform/pudl-viewer.tf
Due: none

fix test so it really tests wahooo
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

grab main's id mapping sheet gosh git (its me not git)
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
Due: none

make non-null non-zero mask explicit
  src/pudl/analysis/allocate_gen_fuel.py
Due: none

Missing quotes
  pyproject.toml
Due: conda-lock

Support version parity with RTD
  .github/workflows/build-deploy-docs.yml
  docs/latest_redirect.html
Due: none

Switch to PyData sphinx theme
  .github/workflows/build-deploy-docs.yml
  docs/_static/custom.css
  docs/conf.py
  docs/data_access.rst
  docs/templates/access_examples/core_epacems__hourly_emissions.rst.jinja
  docs/templates/access_examples/core_ferceqr__contracts.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_identity.rst.jinja
  docs/templates/access_examples/core_ferceqr__quarterly_index_pub.rst.jinja
  docs/templates/access_examples/core_ferceqr__transactions.rst.jinja
  docs/templates/access_examples/default.rst.jinja
  docs/templates/access_examples/out_vcerare__hourly_available_capacity_factor.rst.jinja
  pyproject.toml
Due: conda-lock

Reorganize top bar and fix data dictionary whitespace
  docs/_static/custom.css
  docs/code.rst
  docs/conf.py
  docs/data.rst
  docs/index.rst
Due: none

Tweaks from feedback
  docs/code.rst
  docs/conf.py
  docs/data.rst
  docs/dev/index.rst
  docs/index.rst
Due: none

Drop vestigial docs-install pixi task
  pyproject.toml
Due: conda-lock

Update lockfile
  pixi.lock
Due: none

Switch to catalyst versionfile and update release notes
  docs/conf.py
  docs/release_notes.rst
Due: none

Mistaken edits
  docs/_static/custom.css
  pyproject.toml
Due: conda-lock

Update lockfile from mistaken backslide
  pixi.lock
Due: none

Replace disabled flag with empty years list in FERC-to-SQLite settings
  pixi.lock
  pyproject.toml
  src/pudl/etl/ferc_to_sqlite_assets.py
  src/pudl/extract/dbf.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc2.py
  src/pudl/extract/ferc6.py
  src/pudl/extract/ferc60.py
  src/pudl/extract/xbrl.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/settings.py
  test/integration/ferc_xbrl_extract_test.py
  test/unit/extract/xbrl_test.py
  test/unit/settings_test.py
Due: conda-lock

Remove experimental reading of loglevel, logfile, from envvars.
  pixi.lock
  pyproject.toml
  src/pudl/logging_helpers.py
Due: conda-lock

Add separate pixi dev feature/environment for new devtools
  pixi.lock
  pyproject.toml
Due: conda-lock

Remove duplicate module docstring content; add type annotations
  src/pudl/ferc_sqlite_provenance.py
Due: none

Add some type annotations to io_managers.py
  src/pudl/io_managers.py
Due: none

Rename and re-order some build stages.
  docker/gcp_pudl_etl.sh
Due: none

save video game
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferc1.py
  src/pudl/transform/ferc1.py
  src/pudl/transform/params/ferc1.py
Due: none

Add some type annotations to xbrl extraction unit tests.
  test/unit/extract/xbrl_test.py
Due: none

Type annotations and settings_test.py cleanup.
  test/unit/settings_test.py
Due: none

update row counts for new net gen allocation
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Make model init more readable; add type hints.
  test/integration/etl_test.py
Due: none

Remove single-use transient variables.
  test/integration/etl_test.py
Due: none

Add type annotations. Rename inconsistently capitalized FERC IO Manager classes.
  src/pudl/extract/ferc1.py
  src/pudl/io_managers.py
  test/unit/io_managers_test.py
Due: none

Type annotations and a bit more docstring in ferc_sqlite_provenance_test.py
  test/unit/ferc_sqlite_provenance_test.py
Due: none

Update developer docs to reflect changes from PR self-review.
  docs/dev/run_the_etl.rst
  docs/dev/troubleshooting_dagster.rst
Due: none

Update release notes
  docs/release_notes.rst
Due: none

Adjust heat rate quantile tests
  dbt/models/eia/out_eia__monthly_generators/schema.yml
Due: none

Fix misidentification of retiring generators in `allocate_gen_fuel.py` (#4789)
  .github/ISSUE_TEMPLATE/versioned_release.md
  dbt/models/eia/out_eia__monthly_generators/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/analysis/allocate_gen_fuel.py
  test/unit/analysis/allocate_gen_fuel_test.py
Due: sort-row-counts

Fix capitalization of FercSQLiteProvenance class name
  src/pudl/ferc_sqlite_provenance.py
  test/unit/ferc_sqlite_provenance_test.py
Due: none

Expand and refine AGENTS.md based on PR 5071 experiences
  AGENTS.md
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
