Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Fix a few rouge schemas
  dbt/models/rus12/core_rus12__monthly_demand_and_energy_at_power_sources/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_factors_and_maximum_demand/schema.yml
  dbt/models/rus7/out_rus7__yearly_materials_and_supplies/schema.yml
  src/pudl/metadata/fields.py
Due: none

Don't run full CI on changes to docs-linkcheck.yml
  .github/workflows/pytest.yml
Due: none

Don't run full CI on changes to .taplo.toml
  .github/workflows/pytest.yml
Due: none

Add exceptions to validations for plant_factor_and_demand table
  dbt/models/rus12/core_rus12__yearly_plant_factors_and_maximum_demand/schema.yml
  dbt/models/rus12/out_rus12__yearly_plant_factors_and_maximum_demand/schema.yml
Due: none

Update table defs
  src/pudl/metadata/resources/rus12.py
Due: none

More metadata fixes
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus12.py
Due: none

Move orphan asset defs into pudl.dagster.assets
  pixi.lock
  pyproject.toml
  src/pudl/dagster/assets/__init__.py
  src/pudl/dagster/assets/core/__init__.py
  src/pudl/dagster/assets/core/eia_bulk_elec.py
  src/pudl/dagster/assets/core/glue.py
  src/pudl/dagster/assets/core/static.py
  src/pudl/dagster/assets/raw/__init__.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/metadata/resources/glue.py
  test/unit/extract/xbrl_test.py
  test/unit/transform/glue_test.py
Due: conda-lock

Fix pandera asset schema check typing issue introduce by file rewrites.
  src/pudl/dagster/asset_checks.py
  test/unit/dagster_asset_checks_test.py
Due: none

Move FK validation and continuity checks out of pudl.etl
  pixi.lock
  pyproject.toml
  src/pudl/dagster/asset_checks.py
  src/pudl/etl/__init__.py
  src/pudl/etl/check_foreign_keys.py
  src/pudl/scripts/pudl_check_fks.py
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
  src/pudl/validate.py
  test/integration/data_validation_test.py
  test/unit/io_managers_test.py
  test/unit/validate_test.py
Due: conda-lock

Restore docstrings lost when files were moved.
  src/pudl/dagster/asset_checks.py
Due: none

Remove unused and long-outdated .mypy.ini
  .github/workflows/pytest.yml
  .mypy.ini
Due: none

Clarify Dagster boundaries in the PUDL package
  docs/dev/run_the_etl.rst
  docs/release_notes.rst
  src/pudl/__init__.py
  src/pudl/dagster/__init__.py
  src/pudl/dagster/assets/raw/ferc_to_sqlite.py
  src/pudl/dagster/build.py
  src/pudl/dagster/io_managers.py
  src/pudl/dagster/provenance.py
  src/pudl/dagster/resources.py
  src/pudl/extract/ferc1.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/helpers.py
  test/conftest.py
  test/unit/io_managers_test.py
Due: none

Apply suggestion from @krivard
  docker/gcp_pudl_etl.sh
Due: none

fix: trigger eel-hole deploy via GH workflow
  docker/gcp_pudl_etl.sh
Due: none

fix: trigger eel-hole deploy via GH workflow (#5090)
  docker/gcp_pudl_etl.sh
Due: none

Cleanup table metadata and stack for RUS tables (#5125)
  dbt/models/rus7/core_rus7__yearly_statement_of_operations/schema.yml
  dbt/models/rus7/out_rus7__yearly_statement_of_operations/schema.yml
  src/pudl/metadata/resource_helpers.py
  src/pudl/metadata/resources/rus12.py
  src/pudl/metadata/resources/rus7.py
  src/pudl/metadata/warnings.py
  src/pudl/package_data/rus7/column_maps/statement_of_operations.csv
  src/pudl/transform/rus.py
  src/pudl/transform/rus12.py
  src/pudl/transform/rus7.py
Due: none

Remove unused and long-outdated .mypy.ini (#5129)
  .github/workflows/pytest.yml
  .mypy.ini
Due: none

markdown formatting
  devtools/agent-plans/dagster-housekeeping.md
Due: none

Create `core_eia176__yearly_gas_disposition` (#4765)
  dbt/models/eia176/core_eia176__yearly_gas_disposition/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  migrations/versions/94f669451682_add_core_eia176__yearly_gas_disposition.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/eia176.py
  src/pudl/transform/eia176.py
Due: sort-row-counts

Fix baby typos in GridPath docs (#4804)
  docs/templates/gridpathratoolkit_child.rst.jinja
Due: none

revert the plant_parts row count update (#4808)
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Increase VM size to avoid OOM (#4812)
  .github/workflows/pytest.yml
  devtools/generate_batch_config.py
Due: none

Update ferc xbrl extractor (#4782)
  .pre-commit-config.yaml
  dbt/models/sec10k/core_sec10k__assn_exhibit_21_subsidiaries_and_eia_utilities/schema.yml
  dbt/package-lock.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/clone_ferc1.rst
  docs/dev/run_the_etl.rst
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/extract/xbrl.py
  src/pudl/metadata/resources/ferc1_eia_record_linkage.py
  src/pudl/transform/params/ferc1.py
  src/pudl/workspace/setup.py
  test/integration/ferc_xbrl_extract_test.py
  test/unit/extract/xbrl_test.py
Due: sort-row-counts, conda-lock

Integrate EIA-860m 2025-oct (#4788)
  dbt/models/eia860m/core_eia860m__changelog_generators/schema.yml
  dbt/seeds/etl_full_row_counts.csv
  docs/dev/pudl_id_mapping.rst
  migrations/versions/aeb66b0b4481_add_planned_repower_date_into_860m_.py
  src/pudl/metadata/resources/eia860m.py
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/transform/eia860.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

Release notes v2025.12.0 (#4838)
  CITATION.cff
  docs/data_access.rst
  docs/release_notes.rst
Due: none

Apply polars dtypes to vcerare output table (#4828)
  src/pudl/io_managers.py
Due: none

Add spot fix to eia860 generators (#4824)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/transform/eia860.py
Due: sort-row-counts

Add pixi lockfile update workflow to main for testing.
  .github/workflows/pytest.yml
  .github/workflows/update-lockfiles.yml
Due: none

Improve `vcerare` memory performance (#4783)
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  notebooks/work-in-progress/vcerare_regression_test.ipynb
  src/pudl/etl/__init__.py
  src/pudl/extract/vcerare.py
  src/pudl/helpers.py
  src/pudl/transform/vcerare.py
  src/pudl/workspace/setup.py
Due: nb-output-clear

Update github actions versions and bump minimum versions. (#4846)
  .github/workflows/pytest.yml
  .github/workflows/release.yml
  .github/workflows/update-conda-lockfile.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Add initial FERC EQR ETL (#4829)
  .github/workflows/build-deploy-ferceqr.yml
  dbt/models/ferceqr/core_ferceqr__contracts/schema.yml
  dbt/models/ferceqr/core_ferceqr__quarterly_identity/schema.yml
  dbt/models/ferceqr/core_ferceqr__quarterly_index_pub/schema.yml
  dbt/models/ferceqr/core_ferceqr__transactions/schema.yml
  docs/conf.py
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  notebooks/work-in-progress/vcerare_regression_test.ipynb
  pyproject.toml
  src/pudl/etl/__init__.py
  src/pudl/extract/__init__.py
  src/pudl/extract/ferceqr.py
  src/pudl/helpers.py
  src/pudl/metadata/classes.py
  src/pudl/metadata/constants.py
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/ferceqr.py
  src/pudl/metadata/sources.py
  src/pudl/settings.py
  src/pudl/transform/__init__.py
  src/pudl/transform/epacems.py
  src/pudl/transform/ferceqr.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/setup.py
Due: nb-output-clear, conda-lock

Set flaky Zenodo settings test to xfail temporarily. (#4855)
  .github/workflows/pytest.yml
  test/unit/settings_test.py
Due: none

Add new PUDL citation. (#4848)
  docs/catalyst_cites.bib
Due: none

Add FERC Company Identifier metadata (#4861)
  src/pudl/metadata/sources.py
Due: none

Cache Zenodo archives on S3 instead of GCS (#4857)
  .github/workflows/pytest.yml
  .github/workflows/zenodo-cache-sync.yml
  Makefile
  docker/gcp_pudl_etl.sh
  docs/dev/testing.rst
  docs/release_notes.rst
  src/pudl/etl/cli.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/metadata/classes.py
  src/pudl/resources.py
  src/pudl/workspace/datastore.py
  src/pudl/workspace/resource_cache.py
  test/conftest.py
  test/integration/console_scripts_test.py
  test/unit/conftest.py
  test/unit/settings_test.py
  test/unit/workspace/resource_cache_test.py
Due: none

Improve performance of `out_eia__yearly_plant_parts` (#4820)
  src/pudl/analysis/plant_parts_eia.py
Due: none

Add GH Pages workflow (#4823)
  .github/workflows/build-deploy-docs.yml
Due: none

feat: add labels to cloud resources (#4758)
  .github/workflows/pytest.yml
  devtools/generate_batch_config.py
  terraform/main.tf
  terraform/nightly_builds.tf
  terraform/pudl-usage-metrics-dashboard.tf
  terraform/pudl-viewer.tf
Due: none
