Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Fix docs source formatting error.
  docker/Dockerfile
  docs/templates/sec10k_child.rst.jinja
Due: none

Add rate case testimony
  docs/catalyst_cites.bib
Due: none

Fix duplicate code
  docs/catalyst_cites.bib
Due: none

Fix merge conflicts
  docs/catalyst_cites.bib
Due: none

Update conda-lock.yml and re-render conda environment files. Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update dependencies to use protobuf 6
  docker/Dockerfile
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Merge in environment changes from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Add new PUDL citations for August 2025 (#4578)
  docs/catalyst_cites.bib
Due: none

wip fix for rare difference util types...
  src/pudl/transform/ferc1.py
Due: none

Un-group code tabs to avoid scrolling chaos.
  docs/templates/resource.rst.jinja
Due: none

Add a notebook checking some SEC 10-K things.
  notebooks/work-in-progress/sec10k-data-review.ipynb
Due: nb-output-clear

edits to SEC 10-K data source docs
  docs/templates/sec10k_child.rst.jinja
Due: none

Simplify notebook and pull dependency changes from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  notebooks/work-in-progress/sec10k-data-review.ipynb
Due: nb-output-clear

Pull in environment changes from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Update links in data dictionary. Add code snippets. (#4576)
  docs/conf.py
  docs/templates/resource.rst.jinja
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Add data_maturity col to empty dfs in EIA-861 _pre_process() function.
  src/pudl/transform/eia861.py
Due: none

Add some missing type annotations.
  src/pudl/extract/eia860.py
  src/pudl/extract/eia861.py
  src/pudl/extract/excel.py
Due: none

migrate the rare-non-total utility type removal to post-transform
  src/pudl/transform/ferc1.py
Due: none

lil cleanup
  src/pudl/transform/ferc1.py
Due: none

clean up iding of actually unique values and the assert message
  src/pudl/transform/ferc1.py
Due: none

Revert to pyarrow v20 for compatibility with stale Kaggle geopandas
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Revert to pyarrow v20 for compatibility with stale Kaggle geopandas (#4589)
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Clarify comment about salt river 2024
  src/pudl/transform/ferc714.py
Due: none

update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update FERC-714 DOI and special handling for salt river 2024 filings (#4556)
  dbt/seeds/etl_full_row_counts.csv
  src/pudl/transform/ferc714.py
  src/pudl/workspace/datastore.py
Due: sort-row-counts

whooopsies redo my gazillionth mask
  src/pudl/transform/ferc1.py
Due: none

add release notes
  docs/release_notes.rst
Due: none

Bring conda lockfiles over from main
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Re-lock conda dependencies
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

moar docs
  src/pudl/transform/ferc1.py
Due: none

Fix rare ferc1 utility types leading to dropping values in the `out_ferc1__yearly_detailed_*` tables (#4580)
  dbt/seeds/etl_full_row_counts.csv
  docs/release_notes.rst
  src/pudl/transform/ferc1.py
Due: sort-row-counts

Update column mappings and extract new data, update id mapping spreadsheets
  src/pudl/metadata/sources.py
  src/pudl/package_data/eia860m/column_maps/generator_existing.csv
  src/pudl/package_data/eia860m/column_maps/generator_proposed.csv
  src/pudl/package_data/eia860m/column_maps/generator_retired.csv
  src/pudl/package_data/eia860m/file_map.csv
  src/pudl/package_data/eia860m/page_map.csv
  src/pudl/package_data/eia860m/skipfooter.csv
  src/pudl/package_data/eia860m/skiprows.csv
  src/pudl/package_data/glue/pudl_id_mapping.xlsx
  src/pudl/package_data/glue/utility_id_pudl.csv
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/workspace/datastore.py
Due: none

Update release notes
  docs/release_notes.rst
Due: none

extremely wip transform of two of hte yearly distribution tables
  src/pudl/package_data/phmsagas/column_maps/yearly_distribution.csv
  src/pudl/transform/phmsagas.py
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

de-dupe the pks and add services to install decade table
  src/pudl/transform/phmsagas.py
Due: none

add services to size and material table
  src/pudl/transform/phmsagas.py
Due: none

add small materials table
  src/pudl/transform/phmsagas.py
Due: none
