Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

sort-row-counts:
  name: sort-row-counts
  stages:
  - pre-commit
  language: python
  additional_dependencies:
  - csvkit
  verbose: false
  pass_filenames: true
  always_run: false
  entry: bash -c 'for file in "$@"; do csvsort -c "table_name,partition" "$file" > "$file.tmp" && mv "$file.tmp" "$file"; done' --

nb-output-clear:
  name: nb-output-clear
  stages:
  - pre-commit
  language: system
  verbose: false
  pass_filenames: true
  always_run: false
  entry: jupyter nbconvert --clear-output

conda-lock:
  name: conda-lock
  stages:
  - pre-commit
  language: system
  verbose: false
  always_run: false
  entry: make conda-clean conda-lock.yml

Update conda lockfile and other configs
  .pre-commit-config.yaml
  dbt/models/eia923/core_eia923__monthly_generation_fuel_nuclear/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_combined/schema.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  docs/dev/data_guidelines.rst
  pyproject.toml
  src/pudl/extract/eia860m.py
Due: conda-lock

Switch to typos mirror to avoid floating v1 tag autoupdate issue
  .pre-commit-config.yaml
Due: none

Update conda lockfile for week of 2025-07-06 (#4388)
  .pre-commit-config.yaml
  dbt/models/eia923/core_eia923__monthly_generation_fuel_nuclear/schema.yml
  dbt/models/eia923/out_eia923__monthly_generation_fuel_combined/schema.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  docs/dev/data_guidelines.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/extract/eia860m.py
Due: conda-lock

Add check for nulls back to dbt isclose test
  dbt/tests/data_tests/generic_tests/expect_columns_are_close.sql
Due: none

Add documentation for expect_columns_are_close test
  dbt/tests/data_tests/generic_tests/schema.yml
Due: none

Properly pass thresholds for flagging bad_year's
  src/pudl/analysis/timeseries_cleaning.py
Due: none

Update eia930 subregion demand dbt test thresholds
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
Due: none

Bump GDAL version
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Bump GDAL version (#4389)
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Update FERC-714 dbt test parms so they pass.
  dbt/models/ferc714/out_ferc714__hourly_planning_area_demand/schema.yml
  dbt/package-lock.yml
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Remove upper-bound on typos version so it can match pre-commit hook.
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Fix docs build; fix missed escapes in description template; use more consistent vocabulary
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/templates/resource_description.rst.jinja
  src/pudl/scripts/resource_description.py
Due: none

Improve logging for ``flag_bad_years`` method.
  src/pudl/analysis/timeseries_cleaning.py
Due: none

Change ferc714 bad year threshold
  src/pudl/output/ferc714.py
Due: none

Add flag to turn metadata checks for primary key descriptions on/off
  test/unit/metadata_test.py
Due: none

Flag entirely blank years as BAD_YEAR and improve logs
  src/pudl/analysis/timeseries_cleaning.py
Due: none

Revisions from review.
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
  src/pudl/metadata/resources/epacems.py
  src/pudl/metadata/sources.py
  test/unit/metadata_test.py
Due: none

fix the labeling of early release and provisional for eia923
  src/pudl/extract/excel.py
  src/pudl/package_data/test/column_maps/time.csv
  src/pudl/package_data/test/file_map.csv
  src/pudl/package_data/test/page_map.csv
  src/pudl/package_data/test/skipfooter.csv
  src/pudl/package_data/test/skiprows.csv
  test/unit/extract/excel_test.py
Due: none

add missing doc string
  test/unit/extract/excel_test.py
Due: none

add release notes
  docs/release_notes.rst
Due: none

Improve imputation bad_year logging
  src/pudl/analysis/timeseries_cleaning.py
Due: none

Add exceptions to expect_columns_not_all_null for remaining tables failing fast ETL
  dbt/models/ferc1/out_ferc1__yearly_all_plants/schema.yml
  dbt/models/ferc1/out_ferc1__yearly_steam_plants_sched402/schema.yml
  dbt/models/output/out_eia__monthly_generators/schema.yml
  dbt/models/output/out_eia__yearly_assn_plant_parts_plant_gen/schema.yml
  dbt/models/output/out_eia__yearly_boilers/schema.yml
  dbt/models/output/out_eia__yearly_generators/schema.yml
  dbt/models/output/out_eia__yearly_plant_parts/schema.yml
  dbt/models/output/out_eia__yearly_plants/schema.yml
  dbt/models/output/out_eia__yearly_utilities/schema.yml
  dbt/models/output/out_pudl__yearly_assn_eia_ferc1_plant_parts/schema.yml
Due: none

Tweak columns_are_close params for FERC-714 imputed demand to get test to pass.
  dbt/models/ferc714/out_ferc714__hourly_planning_area_demand/schema.yml
Due: none

Update release notes and re-lock dependencies.
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
Due: none

Add files via upload
  src/pudl/package_data/glue/utility_id_ferc60.csv
Due: none

Avoid dbt versions with out of date dbt-common bug.
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

Add data validation tests for imputed demand tables. (#4334)
  dbt/models/eia930/out_eia930__hourly_operations/schema.yml
  dbt/models/eia930/out_eia930__hourly_subregion_demand/schema.yml
  dbt/models/ferc714/out_ferc714__hourly_planning_area_demand/schema.yml
  dbt/package-lock.yml
  dbt/seeds/etl_full_row_counts.csv
  dbt/tests/data_tests/generic_tests/expect_columns_are_close.sql
  dbt/tests/data_tests/generic_tests/expect_missingness_between.sql
  dbt/tests/data_tests/generic_tests/schema.yml
  docs/release_notes.rst
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/metadata/dfs.py
  src/pudl/output/ferc714.py
  src/pudl/transform/ferc714.py
Due: sort-row-counts, conda-lock

Fix core_pudl__codes_imputation_reasons row count
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Fix core_pudl__codes_imputation_reasons row count (#4394)
  dbt/seeds/etl_fast_row_counts.csv
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Remove pinned dbt version now that regression has been fixed.
  dbt/package-lock.yml
  environments/conda-linux-64.lock.yml
  environments/conda-lock.yml
  environments/conda-osx-64.lock.yml
  environments/conda-osx-arm64.lock.yml
  pyproject.toml
Due: conda-lock

feat: improve quantile constraints failure output (#4386)
  dbt/macros/debug_quantile_constraints.sql
  src/pudl/dbt_wrapper.py
Due: none

Fix rst in docstrings
  src/pudl/metadata/classes.py
  src/pudl/metadata/descriptions.py
Due: none

Replace pd.NA with blanks in 861 unit test
  test/unit/transform/eia861.py
Due: none

respond to pr comments
  src/pudl/extract/excel.py
  src/pudl/package_data/test/file_map.csv
  test/unit/extract/excel_test.py
Due: none

fix the labeling of early release and provisional for eia923 (#4392)
  docs/release_notes.rst
  src/pudl/extract/excel.py
  src/pudl/package_data/test/column_maps/time.csv
  src/pudl/package_data/test/file_map.csv
  src/pudl/package_data/test/page_map.csv
  src/pudl/package_data/test/skipfooter.csv
  src/pudl/package_data/test/skiprows.csv
  test/unit/extract/excel_test.py
Due: none

Remove dagster asset checks superseded by expect_columns_not_all_null
  src/pudl/transform/eia860.py
  src/pudl/transform/eia923.py
Due: none

Docstring cleanup.
  src/pudl/validate.py
Due: none

Add comment, shorten pudl.validate to pv
  src/pudl/analysis/mcoe.py
Due: none

Add missing boolean columns to EIA-860 multiful transform.
  src/pudl/transform/eia860.py
Due: none

Add exhaustive null blocks into SCD table expect_columns_not_all_null tests
  dbt/models/output/core_eia860__scd_boilers/schema.yml
  dbt/models/output/core_eia860__scd_generators/schema.yml
  dbt/models/output/core_eia860__scd_plants/schema.yml
  dbt/models/output/core_eia860__scd_utilities/schema.yml
Due: none

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_(full|fast)_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml
