Repository catalyst-cooperative/pudl: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-row-counts, nb-output-clear, conda-lock

Path conditions:
  sort-row-counts: any of: ^dbt/seeds/etl_full_row_counts\.csv$
  nb-output-clear: any of: .*\.ipynb
  conda-lock: any of: pyproject.toml

Update src/pudl/metadata/fields.py
  src/pudl/metadata/fields.py
Due: none

Update field description for total cost of energy purchased
  src/pudl/metadata/fields.py
  src/pudl/metadata/resources/rus7.py
Due: none

Add migration files
  migrations/versions/01c2dac38626_edit_peak_gross_demand_col_names.py
  migrations/versions/47fd76f2310a_update_cols.py
  migrations/versions/5103951c5174_merge_peak_demand_hour_to_date.py
Due: none

Migrate integration tests from etl-settings CLI to dg-config; refactor fixtures
  docker/gcp_pudl_etl.sh
  docs/dev/pudl_id_mapping.rst
  docs/dev/testing.rst
  pixi.lock
  pyproject.toml
  src/pudl/package_data/settings/dg_pytest.yml
  src/pudl/workspace/datastore.py
  test/conftest.py
  test/integration/console_scripts_test.py
  test/integration/dbt_test.py
  test/integration/etl_test.py
  test/integration/ferc1_eia_train_test.py
  test/integration/glue_test.py
  test/integration/plant_parts_eia_test.py
  test/integration/timeseries_plot_test.py
Due: conda-lock

Copy files from uri not UPath directly
  src/pudl/deploy/pudl.py
Due: none

Update extraction function and column names for eia 757a
  src/pudl/extract/eia757a.py
  src/pudl/package_data/eia757a/column_maps/data.csv
Due: none

Handle remaining FERC duplicated IDs
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

Update EIA 757A column mapping to correctly rename columns (#5107)
  src/pudl/extract/eia757a.py
  src/pudl/package_data/eia757a/column_maps/data.csv
Due: none

Refactor pytest Dagster options and test path setup; refresh lockfile
  .envrc
  docker/gcp_pudl_etl.sh
  docs/dev/pudl_id_mapping.rst
  docs/dev/testing.rst
  pixi.lock
  pyproject.toml
  test/conftest.py
  test/integration/etl_test.py
  test/unit/conftest.py
Due: conda-lock

Refactor unit test path fixture; guard against mixed-suite path poisoning
  src/pudl/io_managers.py
  test/conftest.py
  test/unit/conftest.py
Due: none

Remove duplicated utility mappings and add assertions
  src/pudl/glue/ferc1_eia.py
  src/pudl/package_data/glue/utility_id_pudl.csv
Due: none

Stabilize integration prebuild ordering and defer FERC SQLite reflection
  src/pudl/io_managers.py
  test/conftest.py
  test/integration/console_scripts_test.py
  test/integration/etl_test.py
  test/integration/ferc_dbf_extract_test.py
  test/integration/ferc_xbrl_extract_test.py
  test/integration/record_linkage_test.py
  test/integration/resource_cache_test.py
Due: none

Fresh migrations
  migrations/versions/01c2dac38626_edit_peak_gross_demand_col_names.py
  migrations/versions/03fac0a0b14c_add_core_and_out_tables_for_mileage_.py
  migrations/versions/08c64862ce26_eia_report_year_to_report_date.py
  migrations/versions/2b5366234be9_.py
  migrations/versions/34128b78508d_fix_eia_report_date_primary_keys.py
  migrations/versions/35d9f1376640_more_rus.py
  migrations/versions/47fd76f2310a_update_cols.py
  migrations/versions/4c3808642f32_rus12_transform_phase_4.py
  migrations/versions/4f690fee4bfb_fresh_start.py
  migrations/versions/5103951c5174_merge_peak_demand_hour_to_date.py
  migrations/versions/562d67ae1d84_code_table.py
  migrations/versions/5a68d776c5a9_add_foreign_keys_for_new_rus_tables.py
  migrations/versions/707858eb2d22_.py
  migrations/versions/758a4b398eeb_harvest_rus_borrowers.py
  migrations/versions/82abb50455ee_merge_rus_transform_head_branches.py
  migrations/versions/8863b5470880_add_rus_output_tables.py
  migrations/versions/8c13e0fc4c8d_rename_balance_to_ending_balance_for_.py
  migrations/versions/8c43d8bc088b_rus.py
  migrations/versions/9e1194f1487c_exclude_frc_table_fks.py
  migrations/versions/ab3b4930bbef_harvest_rus_borrowers.py
  migrations/versions/ac1dd74e5fd2_add_rus12_plant_factors_and_demand_table.py
  migrations/versions/ae144ab77d85_update_frc_eia923_tables.py
  migrations/versions/baddee547f08_merge_rus_and_frc_branches.py
  migrations/versions/bec09b01456e_.py
  migrations/versions/bf8ca670d8ec_remove_borrower_name_rus_from_core_.py
  migrations/versions/d5a8f9e711be_fix_rus_demand_tables.py
  migrations/versions/df4cb4c56053_rus.py
  migrations/versions/e09d9943486e_add_rus12_demand_tables.py
  migrations/versions/e22a5405a630_add_rus7_materials_and_supplies_table.py
  migrations/versions/e666ac483bb6_add_rus7_energy_purchased_table.py
  migrations/versions/e8d8d4077585_disable_plant_id_fk_constraints_in_.py
  migrations/versions/f7c4c620a53d_add_eia_923_schedule_8c.py
Due: none

Little fixes
  src/pudl/package_data/rus12/column_maps/plant_factors_and_maximum_demand.csv
  src/pudl/transform/rus12.py
Due: none

Update row counts
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update DBT to handle removal of duplicated records
  dbt/seeds/etl_full_row_counts.csv
Due: sort-row-counts

Update release notes
  docs/release_notes.rst
Due: none

Fix s3 mkdir call
  src/pudl/deploy/pudl.py
Due: none

Add metadata for fuel_type_codes table
  dbt/models/rus/core_rus__codes_fuel_types/schema.yml
  migrations/versions/649d707df89a_fresh_start.py
  src/pudl/metadata/codes.py
  src/pudl/metadata/resources/rus.py
Due: none

Dagster refactor of ETL resources and FERC IO managers to typed config
  src/pudl/etl/__init__.py
  src/pudl/extract/ferc1.py
  src/pudl/io_managers.py
  src/pudl/resources.py
  test/conftest.py
  test/integration/etl_test.py
  test/integration/glue_test.py
  test/unit/io_managers_test.py
  test/unit/settings_test.py
Due: none

Use configured asset value loader in XBRL extraction tests.
  test/conftest.py
  test/integration/ferc_xbrl_extract_test.py
Due: none

Separate data distribution from nightly builds (#5016)
  .github/workflows/deploy-pudl.yml
  docs/dev/nightly_data_builds.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/deploy/__init__.py
  src/pudl/deploy/ferceqr.py
  src/pudl/deploy/pudl.py
  src/pudl/etl/__init__.py
  src/pudl/scripts/deploy.py
  test/conftest.py
  test/unit/deploy/test_deploy_pudl.py
Due: conda-lock

Add a temporary debugging task in pyproject.toml
  pixi.lock
  pyproject.toml
Due: conda-lock

Retire pudl_etl and ferc_to_sqlite CLI scripts; switch nightly to dg launch
  .github/workflows/build-deploy-pudl.yml
  devtools/agent-plans/dagster-housekeeping.md
  docker/gcp_pudl_etl.sh
  docs/dev/clone_ferc1.rst
  docs/dev/run_the_etl.rst
  pixi.lock
  pyproject.toml
  src/pudl/__init__.py
  src/pudl/etl/__init__.py
  src/pudl/etl/cli.py
  src/pudl/etl/ferc_to_sqlite_assets.py
  src/pudl/ferc_to_sqlite/cli.py
  src/pudl/helpers.py
  src/pudl/package_data/settings/dg_nightly.yml
  test/unit/extract/xbrl_test.py
Due: conda-lock

Add build_defs() for Dagster Definitions overrides
  src/pudl/etl/__init__.py
  test/conftest.py
Due: none

Continued the Dagster housekeeping refactor
  docker/gcp_ferceqr_etl.sh
  docs/dev/run_the_etl.rst
  docs/release_notes.rst
  pixi.lock
  pyproject.toml
  src/pudl/__main__.py
  src/pudl/deploy/ferceqr.py
  src/pudl/etl/__init__.py
  src/pudl/package_data/settings/etl_fast.yml
  src/pudl/package_data/settings/etl_full.yml
Due: conda-lock

Shush IO Manager warnings; fix DG_CONFIG_PATH in build script.
  docker/gcp_pudl_etl.sh
  src/pudl/io_managers.py
Due: none

Unify Dagster ETL settings resources
  pixi.lock
  src/pudl/analysis/timeseries_cleaning.py
  src/pudl/etl/__init__.py
  src/pudl/etl/ferc_to_sqlite_assets.py
  src/pudl/etl/glue_assets.py
  src/pudl/etl/static_assets.py
  src/pudl/extract/dbf.py
  src/pudl/extract/eia860.py
  src/pudl/extract/eia860m.py
  src/pudl/extract/eia930.py
  src/pudl/extract/eiaaeo.py
  src/pudl/extract/extractor.py
  src/pudl/extract/ferc1.py
  src/pudl/extract/ferc714.py
  src/pudl/extract/gridpathratoolkit.py
  src/pudl/extract/sec10k.py
  src/pudl/extract/vcerare.py
  src/pudl/extract/xbrl.py
  src/pudl/glue/ferc1_eia.py
  src/pudl/io_managers.py
  src/pudl/output/eia930.py
  src/pudl/output/ferc714.py
  src/pudl/package_data/settings/dg_fast.yml
  src/pudl/package_data/settings/dg_full.yml
  src/pudl/package_data/settings/dg_nightly.yml
  src/pudl/package_data/settings/dg_pytest.yml
  src/pudl/resources.py
  src/pudl/settings.py
  src/pudl/transform/eia.py
  src/pudl/transform/epacems.py
  test/conftest.py
  test/integration/glue_test.py
  test/unit/extract/extractor_test.py
  test/unit/extract/xbrl_test.py
  test/unit/io_managers_test.py
  test/unit/settings_test.py
Due: none

Improve build stage reporting and pytest preflight checks
  docker/gcp_pudl_etl.sh
  test/conftest.py
Due: none

Functionalize nightly build script run stages.
  docker/gcp_pudl_etl.sh
Due: none

Split nightly validation stages and simplify test selection
  devtools/agent-plans/dagster-housekeeping.md
  docker/gcp_pudl_etl.sh
  docs/dev/existing_data_updates.rst
  docs/dev/pudl_id_mapping.rst
  docs/dev/testing.rst
  pixi.lock
  pyproject.toml
  src/pudl/dbt_wrapper.py
  test/conftest.py
  test/integration/data_validation_test.py
  test/integration/dbt_test.py
  test/integration/etl_test.py
Due: conda-lock

Tweak build notification & resources; add data deployment plan doc.
  .github/workflows/build-deploy-pudl.yml
  devtools/agent-plans/github-data-deployments.md
  docker/gcp_pudl_etl.sh
Due: none

Increase number of high-mem processes
  docker/gcp_pudl_etl.sh
  src/pudl/package_data/settings/dg_nightly.yml
Due: none

Silence workflow linting errors and dagster PreviewWarnings
  .github/workflows/build-deploy-ferceqr.yml
  .github/workflows/build-deploy-pudl.yml
  .github/workflows/com-dev-notify.yml
  .github/workflows/update-lockfiles.yml
  src/pudl/__init__.py
Due: none

Fix more GHA workflow linting errors
  .github/workflows/com-dev-notify.yml
  .github/workflows/pytest.yml
Due: none

Reduce batch VM resources & high-mem concurrency back to normal
  .github/workflows/build-deploy-pudl.yml
  src/pudl/package_data/settings/dg_nightly.yml
Due: none

Define 3 distinct pudl, ferc_to_sqlite, and combined pudl+ferc jobs for ergonomics & performance.
  docker/gcp_pudl_etl.sh
  pixi.lock
  pyproject.toml
  src/pudl/etl/__init__.py
  test/conftest.py
Due: conda-lock

Update headings in dagster housekeeping plan
  devtools/agent-plans/dagster-housekeeping.md
Due: none

Expose Zenodo DOI settings in Dagster resources
  src/pudl/etl/__init__.py
  src/pudl/resources.py
  src/pudl/scripts/update_zenodo_dois.py
  src/pudl/workspace/datastore.py
  test/unit/settings_test.py
Due: none

Update pixi lockfile, pre-commit hooks, and dbt deps
  .pre-commit-config.yaml
  pixi.lock
Due: none
